<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->

            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">Datewise Request Report </h4>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

                <form class="form-horizontal m-t-40" id="myForm" method="" action="" enctype="multipart/form-data">
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">From Date <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control fromDate" placeholder="yyyy-mm-dd" id="fromDate" value="<%= fromDate %>" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">To Date <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                     <input type="text" class="form-control toDate" placeholder="yyyy-mm-dd" id="toDate" value="<%= toDate %>" required>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group ">
                               
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-info btn-md" type="button" onclick="getData();">Get Data</button>
                                </div>
                            </div>
                        </div>

                        

                    </div>

                </form>


               
            </div>

            <% if(requestData.length){ %>
            <div class="panel panel-color panel-primary">


                 <table id="example" class="table table-bordered table-striped">
                      <thead>
                      <tr style="background-color:'';">
                        <th>Sr.No.</th>
                        <th>Reference No.</th>
                        <th>PickUp Date Time</th>
                        <th>Request Date Time</th>
                        <th>Customer Name</th>
                        <th>Mobile No</th>
                        <th>Address</th>
                        <th>Driver Name</th>
                        <th>Vehicle No.</th>
                        <th>Amount</th>
                        <th>Amount Status</th>
                        <th>Request Status</th>
                       
                      </tr>
                      </thead>
                      <tbody>
                        <%
                        var statusArr = ({"EX":"Executed","R":"Cancelled"});

                        %>

                       <% for(var i=0; i < requestData.length; i++) { %>
                        <tr>
                           <td><%= i+1 %></td>
                          <td><%= requestData[i].refNo %></td>
                          <td><%= requestData[i].dateTime %></td>
                          <td><%= moment(requestData[i].createdAt).format("YYYY/MM/DD HH:mm:ss") %></td>
                          <td><%= requestData[i].name %></td>
                          <td><%= requestData[i].mobile %></td>
                          <td><%= requestData[i].address %>- (<%= requestData[i].areaCode %>)</td>
                          <td><%= requestData[i].driverName %></td>
                          <td><%= requestData[i].vehicleNumber %></td>
                          <td>₦ <%= requestData[i].amount %></td>
                          <td><%= requestData[i].paymentStatus %></td>
                          <td><%= statusArr[requestData[i].status] %></td>
                          
                        </tr>
                          
                        <% } %>
                       
                        
                      </tbody>
                     
                    </table>
                </div>
                <% } %>
                <!-- change code dsp -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });

                var currentDate = new Date();
                var start = new Date(new Date().setYear(currentDate.getFullYear()-1));
                // set end date to max one year period:
                var end = new Date(new Date().setYear(start.getFullYear()+2));

                $('#fromDate').datepicker({
                    startDate : start,
                    endDate   : end,
                    format: 'yyyy-mm-dd'
                // update "toDate" defaults whenever "fromDate" changes
                }).on('changeDate', function(){
                    // set the "toDate" start to not be later than "fromDate" ends:
                    $('#toDate').datepicker('setStartDate', new Date($(this).val()));
                }); 

                $('#toDate').datepicker({
                    startDate : start,
                    endDate   : end,
                    format: 'yyyy-mm-dd'
                // update "fromDate" defaults whenever "toDate" changes
                }).on('changeDate', function(){
                    // set the "fromDate" end to not be later than "toDate" starts:
                    $('#fromDate').datepicker('setEndDate', new Date($(this).val()));
                });



               // $('#example').DataTable();

                 $('#example').DataTable( {
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            title: 'DateWise_Request_Report'
                        }
                        //  {
                        //     extend: 'pdfHtml5',
                        //     title: 'DateWise_Request_Report'
                        // }
                    ]
                } );
                 

            });

            function getData(){
                var fromDate = $("#fromDate").val();
                var toDate = $("#toDate").val();
                document.getElementById("myForm").action = "/reports/partnerdatewiseRequestReport/"+fromDate+"/"+toDate;
                document.getElementById("myForm").submit();

            }


             ///reports/driverAttendanceReport

        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
