<!DOCTYPE html>
<html lang="en">


  <% include ../partials/header.ejs %>

    <body>

        <div class="wrapper-page animated fadeInDown">
            <div class="panel panel-color panel-primary">
              <div class="panel-heading text-center">
                 <img src="../img/logo.png" class="img-responsive">

              </div>
               <br>
                 <h3 class="text-center">Client Registration</h3>

                <form class="form-horizontal m-t-40" method="post" action="signup">
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>


                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control " type="text" name="name" required="" placeholder="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="email" name="email" required="" placeholder="Email">
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control " type="text" name="username" required="" placeholder="Username">
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control " type="text" name="mobile" required="" placeholder="Mobile No">
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <select name="userType" required="" class="form-control">
                                <!--<option value="" selected>User Type</option>-->
                                <option value="2">Client</option>
                                <!--<option value="3">Provider</option>-->
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control " type="password" name="password" required="" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class="cr-styled">
                                <input type="checkbox" checked>
                                <i class="fa"></i>
                                 I accept <strong><a href="/terms">Terms and Conditions</a></strong>
                            </label>
                        </div>
                    </div>

                    <div class="form-group text-right">
                        <div class="col-xs-12">
                            <button class="btn btn-purple w-md" type="submit">Register</button>
                        </div>
                    </div>

                    <div class="form-group m-t-30">
                        <div class="col-sm-12 text-center">
                            <a href="/partnerSignup">Register as Partner</a>
                        </div>
                    </div>

                    <div class="form-group m-t-30">
                        <div class="col-sm-12 text-center">
                            <a href="login">Already have account?</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>

          <% include ../partials/footer.ejs %>

    </body>
<script>

 setTimeout(function() {
            $('#successMessage').fadeOut('fast');
            }, 10000);

</script>
</html>
