<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">Add Area </h4>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

                <form class="form-horizontal m-t-40" method="post" action="area">
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Area Code <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control " type="text" name="areaCode" required="" placeholder="Area Code">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Description <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" name="description" placeholder="Description">
                                </div>
                            </div>
                        </div>

                    </div>

                    
                   

                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group ">
                               
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-info btn-md" type="submit">Add</button>
                                </div>
                            </div>
                        </div>

                        

                    </div>


                   

                </form>
                </div>


                <table id="example" class="table table-bordered table-striped">
                      <thead>
                      <tr style="background-color:'';">
                        <th>Sr.No.</th>
                        <th>Area Code</th>
                        <th>Description</th>
                        <th>Edit</th>
                        <th>Suspend/Resume</th>
                      </tr>
                      </thead>
                      <tbody>

                       <% for(var i=0; i < result.length; i++) { %>
                        <tr>
                          <td><%= i+1 %></td>

                          <td><%= result[i].areaCode %></td>
                          <td><%= result[i].description %></td>
                           <td class="text-center"><a href="/area/update/<%= result[i].id %>"><button type="button" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i>
                          </button></a></td>

                          
                          <% if(result[i].status){ %>


                          <td class="text-center"><a href="area/action/<%= result[i].id %>/0"><button type="button" class="btn btn-warning"><i class="fa fa-pause" aria-hidden="true"></i>
                          </button></a></td>
                          
                          <% }else{ %>

                          <td class="text-center"><a href="area/action/<%= result[i].id %>/1"><button type="button" class="btn btn-success"><i class="fa fa-play" aria-hidden="true"></i>
                          </button></a></td>

                         

                          <% } %>


                          

                          
                        </tr>
                          
                        <% } %>
                       
                        
                      </tbody>
                     
                    </table>

                <!-- change code dsp -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
             jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
                
                $('#example').DataTable();

            });


             jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
                
                $('#example').DataTable();

            });
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });

  });
        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
