
        <!-- js placed at the end of the document so the pages load faster -->
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/modernizr.min.js"></script>
        <script src="/js/pace.min.js"></script>
        <script src="/js/wow.min.js"></script>
        <script src="/js/jquery.scrollTo.min.js"></script>
        <script src="/js/jquery.nicescroll.js" type="text/javascript"></script>
        <script src="/assets/chat/moment-2.2.1.js"></script>

        <!-- Counter-up -->
        <script src="/js/waypoints.min.js" type="text/javascript"></script>
        <script src="/js/jquery.counterup.min.js" type="text/javascript"></script>

        <!-- EASY PIE CHART JS -->
        <script src="/assets/easypie-chart/easypiechart.min.js"></script>
        <script src="/assets/easypie-chart/jquery.easypiechart.min.js"></script>
        <script src="/assets/easypie-chart/example.js"></script>


        <!--C3 Chart-->
        <script src="/assets/c3-chart/d3.v3.min.js"></script>
        <script src="/assets/c3-chart/c3.js"></script>

        <!--Morris Chart-->
        <!--
        <script src="/assets/morris/morris.min.js"></script>
        <script src="/assets/morris/raphael.min.js"></script>-->

        <!-- sparkline -->
        <script src="/assets/sparkline-chart/jquery.sparkline.min.js" type="text/javascript"></script>
        <script src="/assets/sparkline-chart/chart-sparkline.js" type="text/javascript"></script>

        <!-- sweet alerts -->
        <script src="/assets/sweet-alert/sweet-alert.min.js"></script>
        <script src="/assets/sweet-alert/sweet-alert.init.js"></script>

        <script src="/js/jquery.app.js"></script>
        <!-- Chat -->
        <script src="/js/jquery.chat.js"></script>
        <!-- Dashboard -->
       <!--<script src="/js/jquery.dashboard.js"></script>-->

        <!-- Todo -->
        <script src="/js/jquery.todo.js"></script>

        <!-- Data Table -->

        <script src="/js/jquery.dataTables.min.js" type="text/javascript"></script>

        <script src="/js/dataTables.bootstrap.min.js" type="text/javascript"></script>

        <script src="/assets/tagsinput/jquery.tagsinput.min.js"></script>
        <script src="/assets/timepicker/bootstrap-datepicker.js"></script>

        <!--pdf-->

        <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
        <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
        <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
        <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<script src="/assets/timepicker/bootstrap-timepicker.min.js"></script>
        <script src="/assets/timepicker/bootstrap-datepicker.js"></script>



<script src="/assets/summernote/dist/summernote.js"></script>
        <script>
            jQuery(document).ready(function() {
                jQuery('#tags').tagsInput({width:'auto'});

                 $('#multiple-checkboxes').multiselect();
                });

                setTimeout(function() {
                   $('#successMessage').fadeOut('slow');
                }, 10000);

        </script>


    <script>
        jQuery(document).ready(function() {
        $('.summernote').summernote({
        height: 350, // set editor height
        minHeight: null, // set minimum height of editor
        maxHeight: null, // set maximum height of editor
        focus: false // set focus to editable area after initializing summernote
        });
        $('.inline-editor').summernote({
        airMode: true
        });
        });
        window.edit = function() {
        $(".click2edit").summernote()
        }, window.save = function() {
        $(".click2edit").destroy()
        }
    </script>


        

