        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="/img/favicon.png">

        <title>Pooplogg</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="/css/animate.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />

        <!--Morris Chart CSS -->
        <!--
        <link rel="stylesheet" href="/assets/morris/morris.css">-->

        <!-- sweet alerts -->
        <link href="/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">
                        <link href="/assets/tagsinput/jquery.tagsinput.css" rel="stylesheet" />


        <!-- Custom styles for this template -->
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/helper.css" rel="stylesheet">
        <link href="/css/style-responsive.css" rel="stylesheet" />



        <link rel="stylesheet" href="/assets/summernote/dist/summernote.css" />


     <link href="/css/dataTables.bootstrap.min.css" rel="stylesheet">

   <link href="/assets/timepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
   <link href="/assets/timepicker/bootstrap-timepicker.min.css" rel="stylesheet" />

   <link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" rel="stylesheet" />


   


