 <!-- js placed at the end of the document so the pages load faster -->
        <script src="../js/jquery.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/pace.min.js"></script>
        <script src="../js/wow.min.js"></script>
        <script src="../js/jquery.nicescroll.js" type="text/javascript"></script>
                <script src="../assets/tagsinput/jquery.tagsinput.min.js"></script>


        <!--common script for all pages-->
        <script src="../js/jquery.app.js"></script>


        <script>

 		setTimeout(function() {
            $('#successMessage').fadeOut('fast');
            }, 10000);

		</script>
        <script>
            jQuery(document).ready(function() {
                jQuery('#tags').tagsInput({width:'auto'});
                })
        </script>
