
        <!-- Aside Start-->
        <aside class="left-panel">

            <!-- brand -->
            <div class="logo">
                <a href="/home" class="">
                    <img src="/img/logo.png" alt="logo"  class="img-responsive">
                </a>
            </div>
            <!-- / brand -->

            <!-- Navbar Start -->
            <nav class="navigation">
                <ul class="list-unstyled" id="menu">
                    <li id="home_menu" class="active"><a href="/home"><i class="ion-home"></i> <span class="nav-label">Dashboard</span></a>
                    </li>


                    

                    <% var chkMenuName = '';%>

                    <% for(var i=0;i<menuArr.length;i++){  

                        if(chkMenuName!=menuArr[i].menuName){ %>

                            <li class="has-submenu userRole"><a href="#"><i class="ion-person-stalker"></i> <span class="nav-label"><%= menuArr[i].menuName %></span></a>
                        <% 
                        chkMenuName=menuArr[i].menuName;

                        }//if


                    %>

                    <ul class="list-unstyled">
                        <li id="<%= menuArr[i].menuName %>"><a href="<%= menuArr[i].subMenuUrl %>"><%= menuArr[i].subMenuName %> </a></li>
                        
                    </ul>

                   <% }%>
                   </li>


                    
                    
                </ul>
            </nav>

        </aside>

