
        <!-- Aside Start-->
        <aside class="left-panel">

            <!-- brand -->
            <div class="logo">
                <a href="/home" class="">
                    <img src="/img/logo.png" alt="logo"  class="img-responsive">
                </a>
            </div>
            <!-- / brand -->

            <!-- Navbar Start -->
            <nav class="navigation">
                <ul class="list-unstyled" id="menu">
                    <li id="home_menu" class="active"><a href="/home"><i class="ion-home"></i> <span class="nav-label">Dashboard</span></a>
                    </li>


                    <% var chkMenuName = '';%>

                    <% for(var i=0;i<menuArr.length;i++){  

                        if(chkMenuName!=menuArr[i].menuName){ 


                            var j=0; 
                            var m=0;
                            for(k = 0; k< menuArr.length; k++){ 
                              
                                if(menuArr[i].menuName === menuArr[k].menuName){
                                    j++;     
                                } 

                                      
                            }

                        %>
                        

                            <li class="has-submenu parent"><a href="#"><i class="ion-person-stalker"></i> <span class="nav-label"><%= menuArr[i].menuName %></span></a>

                            <ul class="list-unstyled">
                        <% 
                        chkMenuName=menuArr[i].menuName;

                        }//if

                        m++;
                    %>
                        <li id="<%= menuArr[i].chkOptional %>"><a href="<%= menuArr[i].subMenuUrl %>"><%= menuArr[i].subMenuName %></a></li>


                        <% if(m==j){ %>

                            </ul></li>


                       <% } %>
                        
                    

                   <% }%>


                    
                    
                </ul>
            </nav>

        </aside>

