
        <!-- Aside Start-->
        <aside class="left-panel">

            <!-- brand -->
            <div class="logo">
                <a href="/home" class="">
                    <img src="/img/logo.png" alt="logo"  class="img-responsive">
                </a>
            </div>
            <!-- / brand -->

            <!-- Navbar Start -->
            <nav class="navigation">
                <ul class="list-unstyled">
                    <li class="active"><a href="/home"><i class="ion-home"></i> <span class="nav-label">Dashboard</span></a>
                    </li>
                    <% if(userType==1){ %>
                    
                        <li class="has-submenu"><a href="#"><i class="ion-person-stalker"></i> <span class="nav-label">Partner</span></a>
                            <ul class="list-unstyled">
                                <li><a href="/partners/requested">Requested Partners</a></li>
                                <li><a href="/partners">View Approved Partners</a></li>
                            </ul>
                        </li>

                        <li class="has-submenu"><a href="#"><i class="ion-person-stalker"></i> <span class="nav-label">Driver</span></a>
                            <ul class="list-unstyled">
                                <li><a href="/adminDriver/requested">Requested Drivers</a></li>
                                <li><a href="/adminDriver/approvedDrivers">View Approved Drivers</a></li>
                            </ul>
                        </li>

                        <li class="has-submenu"><a href="#"><i class="fa fa-truck"></i> <span class="nav-label">Vehicles</span></a>
                            <ul class="list-unstyled">
                                <li><a href="/vehicle/admin/allVehicles">View Vehicles</a></li>
                            </ul>
                        </li>

                        <li class="has-submenu"><a href="#"><i class="fa fa-truck"></i> <span class="nav-label">Reports</span></a>
                            <ul class="list-unstyled">
                                <li><a href="/reports/driverAttendanceReport">Driver Attendance Report</a></li>
                            </ul>
                        </li>

                    <% } %>
                     <%  if(userType==2){ %>
                        <li class="has-submenu"><a href="#"><i class="ion-person-stalker"></i> <span class="nav-label">Drivers</span></a>
                            <ul class="list-unstyled">
                                <li><a href="/driver">Add Driver</a></li>
                                <li><a href="/driver/<%= userId%>">View Drivers</a></li>
                            </ul>
                        </li>
                    <% } %>

                    <%  if(userType==3){ %>
                         <li class="has-submenu"><a href="#"><i class="fa fa-truck"></i> <span class="nav-label">Vehicles</span></a>
                            <ul class="list-unstyled">
                                <li><a href="/vehicle">Add Vehicles</a></li>
                                <li><a href="/vehicle/assignVehicle/<%= userId%>">Assign Vehicles</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu"><a href="#"><i class="ion-person-stalker"></i> <span class="nav-label">Drivers</span></a>
                            <ul class="list-unstyled">
                                <li><a href="/driver">Add Driver</a></li>
                                <li><a href="/driver/<%= userId%>">View Drivers</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu"><a href="#"><i class="ion-person-stalker"></i> <span class="nav-label">Spoters Boy</span></a>
                            <ul class="list-unstyled">
                                <li><a href="/spoters">Add Spoter Boy</a></li>
                                <li><a href="/spoters/<%= userId%>">View Spoters Boy</a></li>
                            </ul>
                        </li>
                    <% } %>
                    
                </ul>
            </nav>

        </aside>

