<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">Add Driver </h4>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

                <form class="form-horizontal m-t-40" method="post" action="driver" enctype="multipart/form-data">
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Driver Name <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control " type="text" name="name" required="" placeholder="Driver Name">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Email <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="email" name="email" required="" placeholder="Email">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Mobile No. <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control " maxlength="13"  type="text" name="mobile" required="" placeholder="Mobile No">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Area Code <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <select name="areaCode" required="" class="selectpicker" data-live-search="true">
                                        <% for(var i=0;i<areaData.length;i++){ %>

                                         <option value="<%= areaData[i].areaCode %>" selected="" ><%= areaData[i].areaCode %> - <%= areaData[i].description %></option>
                                        
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">


                        <div class="col-md-6">


                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Partner <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <select name="partnerId" required="" class="selectpicker" data-live-search="true">
                                        <option value="">Select Partner</option>
                                        <% for(var i=0;i<partnerData.length;i++){ %>

                                         <option value="<%= partnerData[i].id %>" ><%= partnerData[i].name %> - (<%= partnerData[i].email %>)</option>
                                        
                                        <% } %>
                                    </select>
                                </div>
                            </div>


                            
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Profile Image <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control " type="file" name="profileImage" required="" placeholder="" accept=".png,.jpg,.jpeg,.gif">
                                </div>
                            </div>

                            
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Driver License <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control " type="file" name="driverLicence" required="" placeholder="" accept=".pdf,.jpg">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">LASDRI License <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control " type="file" name="lasdriLicense" required="" placeholder="" accept=".pdf,.jpg">
                                </div>
                            </div>
                        </div>

                        

                    </div>
                    

                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group ">
                               
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-info btn-md" type="submit">Add</button>
                                </div>
                            </div>
                        </div>

                        

                    </div>

                </form>
                </div>

                <!-- change code dsp -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                // $('.counter').counterUp({
                //     delay: 100,
                //     time: 1200
                // });


    
          


//      var selector = '.list-unstyled li';

//     $(selector).on('click', function(){ 


//         alert($(this).attr("id"));

//         var menuId = $(this).attr("id");

//             //$(this).addClass('active');

//             if(menuId){
//                 alert("qqqqq");

//                 $('#menu_1').addClass("active");

//              localStorage.setItem("mySelectValue", menuId);   
//             }
//     });

// var retrievedObject = localStorage.getItem('mySelectValue');

// console.log("localStorage : "+(retrievedObject));

// $('li#'+retrievedObject).parent().closest('li.parent').addClass('active');


  });
        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
