<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->
        <!--
            <div class="wraper container-fluid">
                <div class="page-title">
                    <h3 class="title">Welcome <%= result %> !</h3>
                </div>


            </div>-->


            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">Driver Assistant Association </h3> 
                </div>
                  
                  <% if(result.length){ %>
                <div class="row">
                <!--
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-body p-t-0">
                                <div class="input-group">
                                    <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-effect-ripple btn-primary"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                -->
                
                </div> <!-- End row -->

                <div class="row">

                     <% for(var i=0; i < result.length; i++) { %>
                     <div class="row" style="border:1px solid darkgray;">
                        
                        <div class="col-sm-6">
                            <div class="panel">
                                <div class="panel-body p-t-10">
                                    <div class="media-main">
                                        <a class="pull-left" href="#">
                                            <img class="thumb-lg img-circle bx-s" src="/user_images/<%= result[i].driverObj.profileImage %>" alt="">
                                        </a>
                                        <!--
                                        <div class="pull-right btn-group-sm">
                                            <a href="#" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                                <i class="fa fa-close"></i>
                                            </a>
                                        </div>
                                    -->
                                        <div class="info">
                                            <h4><%= result[i].driverObj.name%></h4>
                                            <p class="text-muted"><i class="fa fa-mobile"></i> &nbsp;&nbsp;<%= result[i].driverObj.mobile%></p>
                                            <p class="text-muted"><i class="ion-ios7-email-outline"></i> &nbsp;&nbsp;<%= result[i].driverObj.email%></p>
                                           
                                            <p class="text-muted"><i class="ion-model-s"></i> &nbsp;&nbsp;<%= result[i].driverObj.vehicleNumber%></p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr/>

                                    
                                </div> <!-- panel-body -->
                            </div> <!-- panel -->
                        </div> <!-- end col -->

                         <% spoterObjCheck = JSON.stringify(result[i].spoterObj) %>

                         <% if(spoterObjCheck!='{}'){ %>
                        <div class="col-sm-6">
                            <div class="panel">
                                <div class="panel-body p-t-10">
                                    <div class="media-main">
                                        <a class="pull-left" href="#">
                                            <img class="thumb-lg img-circle bx-s" src="/user_images/<%= result[i].spoterObj.profileImage %>" alt="">
                                        </a>
                                        <!--
                                        <div class="pull-right btn-group-sm">
                                            <a href="#" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                                <i class="fa fa-close"></i>
                                            </a>
                                        </div>
                                    -->
                                        <div class="info">

                                       
                                           
                                            <h4><%= result[i].spoterObj.name%></h4>
                                            <p class="text-muted"><i class="fa fa-mobile"></i> &nbsp;&nbsp;<%= result[i].spoterObj.mobile%></p>
                                            <p class="text-muted"><i class="ion-ios7-email-outline"></i> &nbsp;&nbsp;<%= result[i].spoterObj.email%></p>
                                            
                                            <p class="text-muted"><i class="ion-model-s"></i> &nbsp;&nbsp;<%= result[i].spoterObj.vehicleNumber%></p>

                                            
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr/>

                                    
                                </div> <!-- panel-body -->
                            </div> <!-- panel -->
                        </div> <!-- end col -->

                        <% }else {  %>

                         <div class="col-sm-6">
                            <div class="panel" style="height: 230px;">
                                <div class="panel-body p-t-10">
                                    <div class="media-main">
                                        <a class="pull-left" href="#">
                                            <img class="thumb-lg img-circle bx-s" src="" alt="">
                                        </a>
                                        <div class="pull-right btn-group-sm">
                                        <!--
                                            <a href="#" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                                <i class="fa fa-close"></i>
                                            </a>

                                        -->
                                        </div>
                                        <div class="info">

                                            <p>No Driver Assistant Assign</p>
                                           <!-- Info details-->
                                            
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr/>
                                    <ul class="social-links list-inline p-b-10">
                                       <!-- <li>
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                                        </li>
                                        <li>
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Message"><i class="fa fa-envelope-o"></i></a>
                                        </li>
                                    -->
                                    </ul>
                                </div> <!-- panel-body -->
                            </div> <!-- panel -->
                        </div> <!-- end col -->

                        <% } %>

                    </div>

                     <% } %>
                    


                </div> <!-- End row -->

                <div class="row">
                    <div class="col-sm-12">
                        <ul class="pagination pull-right">
                            <li>
                              <a href="#" aria-label="Previous">
                                <i class="fa fa-angle-left"></i>
                              </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="disabled"><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                              <a href="#" aria-label="Next">
                                <i class="fa fa-angle-right"></i>
                              </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <% } %>


            </div> <!-- END Wraper -->


            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
            });
        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
