<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">Update Driver </h4>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

                <form class="form-horizontal m-t-40" method="post" action="/driver/update" enctype="multipart/form-data">
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Driver Name <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control " type="text" name="name" required="" placeholder="Driver Name" value="<%= data.name%>">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Email <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="email" name="email" required="" placeholder="Email" value="<%= data.email%>" readonly>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Mobile No. <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control " type="text" name="mobile" required="" placeholder="Mobile No" value="<%= data.mobile%>">
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Plate Number <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control " type="text" name="vehicleNumber" required="" placeholder="Palate Number" value="<%= data.vehicleNumber%>">
                                </div>
                            </div>
                        </div> -->

                         <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Driver License <span style="color: #FF5733"></span></label>
                                <div class="col-sm-9">
                                    <input class="form-control " type="file" name="driverLicence"  placeholder="" accept=".pdf,.jpg" value="<%= data.driverLicence%>">
                                </div>
                            </div>
                        </div>

                        

                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">LASDRI License <span style="color: #FF5733"></span></label>
                                <div class="col-sm-9">
                                    <input class="form-control " type="file" name="lasdriLicense" placeholder="" accept=".pdf,.jpg">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Profile Image <span style="color: #FF5733"></span></label>
                                <div class="col-sm-9">
                                    <input class="form-control " type="file" name="profileImage" placeholder="" accept=".pdf,.jpg">
                                </div>
                            </div>
                        </div>

                    </div>
                    

                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group ">
                               
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-info btn-md" type="submit">Update</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <input type="hidden" name="id" id="id" value="<%= data.id %>">
                </form>
                </div>

                <!-- change code dsp -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });

            });
        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
