<!DOCTYPE html>
<html lang="en">
          <% include ../partials/header.ejs %>
    <body>

        <div class="wrapper-page animated fadeInDown">
            <div class="panel panel-color panel-primary">
                <div class="panel-heading text-center">
                   <img src="img/logo.png" class="img-responsive">
                </div>

                <form class="form-horizontal m-t-40" method="post" action="/forgotPassword">
                <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                <% } %>

                <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>


                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="email" name="email" placeholder="Email">
                        </div>
                    </div>
                   

                    <div class="form-group text-right">
                        
                        <div class="col-xs-7">
                            
                            <button class="btn btn-purple w-md" type="submit">Submit</button>
                        </div>
                    </div>
                    
                </form>

            </div>
        </div>


          <% include ../partials/footer.ejs %>


    </body>

</html>
