<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" intial-scale="1.0" />


    <!-- Bootstrap CSS -->
    <link href="~/Content/ValuCharge/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library -->
    <link href="~/Content/ValuCharge/css/animate.css" rel="stylesheet" />

    <!--Main CSS -->
    <link href="~/Content/ValuCharge/css/core.css" rel="stylesheet" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script src="https://https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<style>
    .page-center{
        position:relative;
        width:300px;
        padding:15px;
        margin-left:auto;
        margin-right:auto;
        margin-top:20%;
        box-shadow:0xp 0xp 5px #e5e5e5;
        border:solid 1px #ccc;
        border-radius:5px;
    }
    
    .page-center h4{
        text-align:center;
        font-weight:bold;
        color:#ec2024;
    }
    
    .page-center .amt-text{
        font-size:16px;
        display:block;
        color:#999;
        text-align:center;
    }
    
    .page-center .amt{
        font-size:30px;
        display:block;
        color:#000;
        text-align:center;
    }
    
    .btn-deposit{
        width:100%;
        text-align:center;
        padding:15px;
        border-radius:5px;
        background:#ec2024;
        color:#FFF;
        border:none;    
        text-transform:uppercase;
        font-weight:700;
        letter-spacing:1px;
    }
    .btn-deposit:hover{
        background:#222;
        color:#FFF;
        text-decoration:none;
    }
</style>

</head>


<body style=" background: url(/images/cover.jpg) no-repeat center center;background-size: cover;width: 100%;height: 100%; min-height: 100%;">

<header class="site-wrapper">

<input placeholder="Enter Amount" type="hidden" id="amount-singleapi" tabindex="2" value="1" required>
 <input type="hidden" id="airtime_phoneno" maxlength="11" placeholder="Enter Phone Number" value="917709411542" required />

 <input type="hidden" name="pickUpId" id="pickUpId" value="<%= pickUpId %>">


 <!-- <section class="content">
    <div class="wraper container-fluid">
         <div class="row">
         </div>
        <div class="row">
            <div class="col-md-6">

                <div class="form-group "> -->
                    <div class="page-center">
                        <div class="panel-heading text-center" style="background-color: #3bc0c3">
                           <img src="../img/logo.png" class="img-responsive">
                        </div>
                        <h4>Payment Of Your PickUp Trip</h4 >
                        <label class="amt-text">Amount</label>
                        <label class="amt"><img src="/img/currency.png" width="35px" height="30px"> 1.00</label>
                        <button name="btn-singleapi" type="button" id="btn-singleapi" class="btn-deposit" data-submit="">Pay Now</button>
                    </div>
               <!--  </div>
            </div>
        </div>
    </div>
</section> -->

        <div class="single-api-container"></div>
        <script>
         //var oneSingleApiEncrypKey = "904d6a5a65eabddf3f69d8cbddb7dc4d3d8b999250ae18ee4fc2704fe585178d";//
         var oneSingleApiEncrypKey = "public_test_UTHP67788";//public_test_UTHP67788 
         
         var purpose = "Payment";
         //var merchantref = "77457439"; //merchantref is your transaction no you generate by 

         //var merchantref=Math.floor(Math.random()*9999999);

         //console.log("aa "+randomnumber);

         var merchantref = "77457474";
        </script>
    </header>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <!-- <script type="text/javascript" src="http://onesingleapi.com/OneSingleApiPlugin/onesingleapiplugin.js"></script>-->

    <script type="text/javascript" src="/js/onesingleapiplugin.js"></script>

    <!--   Bootstrap JS Files   -->
    <script src="/~/Scripts/ValuCharge/js/bootstrap.min.js"></script>


</body>
</html>
