<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->
        <!--
            <div class="wraper container-fluid">
                <div class="page-title">
                    <h3 class="title">Welcome <%= result %> !</h3>
                </div>


            </div>-->


            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">Dashboard</h3> 
                </div>



                    



                 

            </div> <!-- END Wraper -->


            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        
        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
                
                $('#example').DataTable();

            });

            function downloadFile(id,columnName,fileName){

              console.log(id);
              console.log(columnName);
              console.log(fileName);

              window.location.href = '/driver/download/'+id+'/'+columnName+'/'+fileName; //Will take you to Google.


            }

              // setTimeout(function(){

              //   location = '/userRequest/userPendingRequest'
              // },60000)


        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
