<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->
        <!--
            <div class="wraper container-fluid">
                <div class="page-title">
                    <h3 class="title">Welcome <%= result %> !</h3>
                </div>


            </div>-->


            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">Fulfillment Manager Dashboard</h3> 
                </div>


                  
                    <!-- change code dsp-->
                      <div class="panel panel-color panel-primary">

                      
                          <% if (messages.success) { %>
                            <div id="successMessage" class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <%= messages.success %>
                            </div>
                            <% } %>

                             <% if (messages.error) { %>
                            <div id="successMessage" class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <%= messages.error %>
                            </div>
                            <% } %>
                            
                            <div class="row">
                              <div class="col-md-6 nopadding-lr">
                                <h4 class="text-center">Order Request from Call Center</h4><br/>
                                <div  class="table-respnsive" style="width:100%; height: 300px; overflow-y: scroll;">
                                   <table id="example" class="table table-bordered" >
                                    <thead>
                                    <tr style="background-color: #7ea728;">
                                      <th>Name</th>
                                      <th width="">Reference No.</th>                       
                                      
                                      <th width="">Mobile</th>
                                      <th>Area Code</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                      <% var statusArr = ({"P":"Verified","A":"Assigned Driver","C":"Completed"});
                                       var k=0;
                                      %>
                                     
                                     <% for(var i=0; i < result.length; i++) { 

                                       if(result[i].status=='P'){ %>
                                            <tr style="background-color: #bedf7c; cursor: pointer" onclick="getCustomerInfo(<%= result[i].id %>,<%= k %>)">
                                              
                                              
                                              <td><%= result[i].title %> <%= result[i].name %></td>
                                              <td><%= result[i].refNo %></td>
                                              <td><%= result[i].mobile %></td>
                                              <td><%= result[i].areaCode %></td>
                                              
                                              
                                              
                                            </tr>
                                          
                                        <% 

                                        k++;
                                      }

                                    } %>
                                     
                                      
                                    </tbody>
                                   
                                  </table>
                                </div>
                              </div>

                              <div class="col-md-6 nopadding-lr">
                                <!-- change code dsp-->
                                  
                                        
                                        <h4 class="text-center">View List of Orders being Processed</h4><br/>
                                        <div  class="table-respnsive" style="width:100%; height: 300px; overflow-y: scroll;">
                                           <table id="example1" class="table table-bordered" >
                                            <thead>
                                            <tr style="background-color: #7FB3D5;">
                                            
                                           
                                            <th>Name</th>
                                            <th>Reference No.</th>
                                            <th>Mobile</th>
                                            <th>Status</th>
                                           
                                          
                                              <!-- <th>Reject</th> -->
                                              <!--<th>Suspend</th>-->
                                            </tr>
                                            </thead>
                                            <tbody>

                                              <% var paymentTypeArr = ({"cash":"Cash On Delivery","card":"Card","bank":"Bank"});%>

                                                   <% for(var j=0; j < acceptedResult.length; j++) { 

                                                   if(acceptedResult[j].status=='AC' && acceptedResult[j].paymentType==''){

                                                       var checkPaymentType = 'N';
                                                       if(acceptedResult[j].paymentType){
                                                          checkPaymentType = 'Y';
                                                        }


                                                       %>
                                                        <tr style="background-color: #A9CCE3;cursor: pointer" onclick="getAcceptedCustomerInfo(<%= acceptedResult[j].id %>,'<%= checkPaymentType %>','<%= acceptedResult[j].areaCode %>')">
                                                          
                                                          <td><%= acceptedResult[j].title %> <%= acceptedResult[j].name %></td>
                                                          <td><%= acceptedResult[j].refNo %></td>
                                                          <td><%= acceptedResult[j].mobile %></td>
                                                          <td>In Progress</td>
                                                        
                                                          
                                                        </tr>
                                                      
                                                <% 
                                                   }

                                                  } %>
                                             
                                              
                                            </tbody>
                                           
                                          </table>
                                        </div>
                                      </div>
                                          
                                    </div><!-- row -->



                                    <div class="row">
                                      <div class="col-md-6 nopadding-lr">

                                        <h4 class="text-center">Assign Driver</h4><br/>
                                        <div  class="table-respnsive" style="width:100%; height: 300px; overflow-y: scroll;">
                                           <table id="example6" class="table table-bordered" >
                                            <thead>
                                            <tr style="background-color: #7FB3D5;">
                                            
                                           
                                            <th>Name</th>
                                            <th>Reference No.</th>
                                            <th>Mobile</th>
                                            <th>Status</th>
                                           
                                          
                                              <!-- <th>Reject</th> -->
                                              <!--<th>Suspend</th>-->
                                            </tr>
                                            </thead>
                                            <tbody>

                                              <% var paymentTypeArr = ({"cash":"Cash On Delivery","card":"Card","bank":"Bank"});%>

                                                   <% for(var j=0; j < afterPaymentresult.length; j++) { 

                                                   if(afterPaymentresult[j].status=='AC' && afterPaymentresult[j].paymentType!=''){

                                                       var checkPaymentType = 'N';
                                                       if(afterPaymentresult[j].paymentType){
                                                          checkPaymentType = 'Y';
                                                        }


                                                       %>
                                                        <tr style="background-color: #A9CCE3;cursor: pointer" onclick="getAcceptedCustomerInfo(<%= afterPaymentresult[j].id %>,'<%= checkPaymentType %>','<%= afterPaymentresult[j].areaCode %>')">
                                                          
                                                          <td><%= afterPaymentresult[j].title %> <%= afterPaymentresult[j].name %></td>
                                                          <td><%= afterPaymentresult[j].refNo %></td>
                                                          <td><%= afterPaymentresult[j].mobile %></td>
                                                          <td>Processed By Customer Care</td>
                                                        
                                                          
                                                        </tr>
                                                      
                                                <% 
                                                   }

                                                  } %>
                                             
                                              
                                            </tbody>
                                           
                                          </table>
                                        </div>
                                      </div>

                                      <div class="col-md-6 nopadding-lr">
                                        <h4 class="text-center">View List Of Confirmed Order</h4><br/>
                                        <div  class="table-respnsive" style="width:100%; height: 300px; overflow-y: scroll;">
                                           <table id="example2" class="table table-bordered" >
                                            <thead>
                                            <tr style="background-color: #7ea728;">
                                              <th>Name</th>
                                              <th width="">Reference No.</th>                       
                                              
                                              <th width="">Mobile</th>
                                              <th>Area Code</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                             
                                             <% for(var p=0; p < completedResult.length; p++) { 

                                               if(completedResult[p].status=='CO'){ %>
                                                    <tr style="background-color: #bedf7c; cursor: pointer" onclick="getConfirmedCustomerInfo(<%= completedResult[p].id %>,'Y')">
                                                      
                                                      
                                                      <td><%= completedResult[p].title %> <%= completedResult[p].name %></td>
                                                      <td><%= completedResult[p].refNo %></td>
                                                      <td><%= completedResult[p].mobile %></td>
                                                      <td><%= completedResult[p].areaCode %></td>
                                                      
                                                      
                                                      
                                                    </tr>
                                                  
                                                <% 

                                              }

                                            } %>
                                             
                                              
                                            </tbody>
                                           
                                          </table>
                                        </div>
                                      </div>




                                  </div><!--row --> 


                                  <div class="row">


                                      <div class="col-md-6 nopadding-lr">
                                        <h4 class="text-center">View Executed Request</h4><br/>
                                        <div  class="table-respnsive" style="width:100%; height: 300px; overflow-y: scroll;">
                                           <table id="example3" class="table table-bordered">
                                            <thead>
                                            <tr style="background-color: #E6B0AA;">
                                              <th>Name</th>
                                              <th width="">Reference No.</th>                       
                                              
                                              <th width="">Mobile</th>
                                              <th>Area Code</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                             
                                             <% for(var p=0; p < executeResult.length; p++) { 

                                               if(executeResult[p].status=='EX'){ %>
                                                    <tr style="background-color: #F9EBEA; cursor: pointer" onclick="getCompletedCustomerInfo(<%= executeResult[p].id %>)">
                                                      <td><%= executeResult[p].title %> <%= executeResult[p].name %></td>
                                                      <td><%= executeResult[p].refNo %></td>
                                                      
                                                      <td><%= executeResult[p].mobile %></td>
                                                      <td><%= executeResult[p].areaCode %></td>
                                                      
                                                      
                                                      
                                                    </tr>
                                                  
                                                <% 

                                              }

                                            } %>
                                             
                                              
                                            </tbody>
                                           
                                          </table>
                                        </div>
                                      </div>

                                      <div class="col-md-6 nopadding-lr">
                                        <h4 class="text-center">View Cancelled Request</h4><br/>
                                        <div style="width:100%; height: 300px; overflow-y: scroll;">
                                           <table id="example7" class="table table-bordered" >
                                            <thead>
                                            <tr style="background-color: #E59866;">
                                               <th>Name</th>
                                              <th width="">Reference No.</th>                       
                                             
                                              <th width="">Mobile</th>
                                              <th>Area Code</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                             
                                             <% for(var p=0; p < rejectedResult.length; p++) { 

                                               if(rejectedResult[p].status=='R'){ %>
                                                    <tr style="background-color: #E59866; cursor: pointer" onclick="getConfirmedCustomerInfo(<%= rejectedResult[p].id %>,'R')">
                                                      <td><%= rejectedResult[p].title %> <%= rejectedResult[p].name %></td>
                                                      <td><%= rejectedResult[p].refNo %></td>
                                                      
                                                      <td><%= rejectedResult[p].mobile %></td>
                                                      <td><%= rejectedResult[p].areaCode %></td>
                                                      
                                                      
                                                      
                                                    </tr>
                                                  
                                                <% 

                                              }

                                            } %>
                                             
                                              
                                            </tbody>
                                           
                                          </table>
                                        </div>


                                       
                                      </div>


                                       



                                      

                                  </div><!--row -->                                    

                                </div>
                              
                            </div>



                            

                    <!-- change code dsp -->

                    <!-- Modal -->
                  <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-xl">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Customer Pick Up Details</h4>
                        </div>
                        <div class="modal-body" id="modelDiv">

                          <!-- Row -->
                        </div>
                        <div class="modal-footer">
                          <input type="hidden" name="vehicleId" id="vehicleId">


                          <div class="row">
                            <div class="col-md-12">
                              <span id="acceptButton"></span>&nbsp;&nbsp;
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                              
                          </div>
                          
                          
                        </div>
                      </div>

                    </div>
                  </div>

                  <!--End Modal-->



                   <!-- Modal acceptedModelDiv-->
                  <div id="acceptedModel" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-xl">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Customer Pick Up Details</h4>
                        </div>
                        <div class="modal-body" id="acceptedModelDiv">

                          <!-- Row -->
                        </div>
                        <div class="modal-footer">
                          <input type="hidden" name="vehicleId" id="vehicleId">


                          <div class="row">
                              <div class="col-md-12">
                                <span id="assignDriverButton"></span>&nbsp;&nbsp;
                                <span id="acceptedRequestCancelButton"></span>&nbsp;&nbsp;
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                             
                          </div>
                          
                          
                        </div>
                      </div>

                    </div>
                  </div>

                  <!--End Modal-->


                  <!-- Modal acceptedModelDiv-->
                  <div id="confirmedModel" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-xl">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Customer Pick Up Details</h4>
                        </div>
                        <div class="modal-body" id="confirmedModelDiv">

                          <!-- Row -->
                        </div>
                        <div class="modal-footer">
                          <input type="hidden" name="vehicleId" id="vehicleId">


                          <div class="row">
                              <div class="col-md-12">
                                
                                <span id="confirmedCancelButton"></span>&nbsp;&nbsp;
                                <span id="confirmedAbandontButton"></span>&nbsp;&nbsp;
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                             
                          </div>
                          
                          
                        </div>
                      </div>

                    </div>
                  </div>

                  <!--End Modal-->



                  <!-- Modal acceptedModelDiv-->
                  <div id="completedModel" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-xl">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Customer Pick Up Details</h4>
                        </div>
                        <div class="modal-body" id="completedModelDiv">

                          <!-- Row -->
                        </div>
                        <div class="modal-footer">
                          <input type="hidden" name="vehicleId" id="vehicleId">


                          <div class="row">
                              <div class="col-md-12">
                                
                                
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                             
                          </div>
                          
                          
                        </div>
                      </div>

                    </div>
                  </div>

                  <!--End Modal-->


                 

            </div> <!-- END Wraper -->


            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        
        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
                
                //$('#example').DataTable();


                $('#example').DataTable( {
                  "paging":   false,
                  "ordering": false,
                  "info":     false,
                  "scrollCollapse": true
              });

                $('#example1').DataTable( {
                  "paging":   false,
                  "ordering": false,
                  "info":     false
              });

                $('#example2').DataTable( {
                  "paging":   false,
                  "ordering": false,
                  "info":     false
              });

                $('#example3').DataTable( {
                  "paging":   false,
                  "ordering": false,
                  "info":     false,
                  "scrollCollapse": true
              });

                $('#example6').DataTable( {
                  "paging":   false,
                  "ordering": false,
                  "info":     false,
                  "scrollCollapse": true
              });

                $('#example7').DataTable( {
                  "paging":   false,
                  "ordering": false,
                  "info":     false,
                  "scrollCollapse": true
              });

            });

            function downloadFile(id,columnName,fileName){

              console.log(id);
              console.log(columnName);
              console.log(fileName);

              window.location.href = '/driver/download/'+id+'/'+columnName+'/'+fileName; //Will take you to Google.


            }

              setTimeout(function(){

                location = '/home'
              },60000)


          function getCustomerInfo(pickUpId,checkAllreadyAccept){

            $.get('/userRequest/getCustomerInfo/'+pickUpId,function(data){

              console.log(data)

              if(data){
                var name = data[0].name;
                var title = data[0].title;
                var email = data[0].email;
                var areaCode = data[0].areaCode;
                var createdByMgrName = data[0].createdByMgrName;
                var takenByMgrName = data[0].takenByMgrName;
                var dateTime = data[0].dateTime;
                var numberOfTrips = data[0].numberOfTrips;

              }
              /*
                if(checkAllreadyAccept==0){

                  var accept = '<button type="button" class="btn btn-purple" onclick="onClickacceptRequest('+pickUpId+')">Accept User Request From Call Center</button>';
                }else{
                  var accept = '<a class="btn btn-warning" disabled>Accept User Request From Call Center</a>';
                }
                */

                var accept = '<button type="button" class="btn btn-purple" onclick="onClickacceptRequest('+pickUpId+')">Accept User Request From Call Center</button>';


              $("#modelDiv").html('<table id="example" class="table table-bordered table-striped">'+
                                  '<thead>'+
                                    '<tr>'+
                                    '<th>Name</th>'+
                                    '<th>Email</th>'+
                                    '<th>No Of Trips</th>'+
                                    '<th>Area Code</th>'+
                                    '<th>Created By</th>'+
                                    '<th>Taken By</th>'+
                                    '<th>PickUp Date Time</th>'+
                                  '</tr></thead>'+
                                  '<tbody>'+
                                  '<tr>'+
                                  '<td>'+title+' '+name+'</td>'+
                                  '<td>'+email+'</td>'+
                                  '<td>'+numberOfTrips+'</td>'+
                                  '<td>'+areaCode+'</td>'+
                                  '<td>'+createdByMgrName+'</td>'+
                                  '<td>'+takenByMgrName+'</td>'+
                                  '<td>'+dateTime+'</td>'+
                                  '</tr>'+
                                '</table>');

              $("#acceptButton").html(accept);

              $('#myModal').modal('show');

            })
          }

          function getAcceptedCustomerInfo(pickUpId,checkPaymentType,areaCode){



            $.get('/userRequest/getCustomerInfo/'+pickUpId,function(data){

              console.log(data);
              var paymentType =0;
              var paymentStatus =0;

              if(data){
                var name = data[0].name;
                var title = data[0].title;
                var email = data[0].email;
                var areaCode = data[0].areaCode;
                var amount = data[0].amount;
                var createdByMgrName = data[0].createdByMgrName;
                var takenByMgrName = data[0].takenByMgrName;
                var dateTime = data[0].dateTime;

                 paymentType = data[0].paymentType;
                 paymentStatus = data[0].paymentStatus;
                 var numberOfTrips = data[0].numberOfTrips;

              }


              var paymentTypeArr = ({"cash":"Cash On Delivery","card":"Card","bank":"Bank"});

              var paymentStatusArr = ({"success":"Paid","failed":"Failed","Paid":"Paid"});

                if(paymentType){

                  paymentType = paymentTypeArr[data[0].paymentType];

                  if(paymentStatus){
                    paymentStatus = paymentStatusArr[data[0].paymentStatus];
                  }else{
                    paymentStatus='Pending';
                  }

                }

                if(paymentStatus==null){
                  paymentStatus='';
                }


             console.log(checkPaymentType);

              if(checkPaymentType=='N'){
                  

                  var assignDriver = '<button type="button" class="btn btn-purple" onclick="onClickAssignDriver('+pickUpId+',\''+ areaCode + '\')" disabled >Assign Driver</button>';

                   // var assignDriver = '<button type="button" class="btn btn-purple" onclick="onClickAssignDriver('+pickUpId+',\')" disabled >Assign Driver</button>';

                }else if(checkPaymentType=='Y'){
                 

                  var assignDriver = '<button type="button" class="btn btn-purple" onclick="onClickAssignDriver('+pickUpId+',\''+ areaCode + '\')">Assign Driver</button>';
                }

                // var acceptedRequestCancel = '<a href="/userRequest/action/'+pickUpId+'/R" class="btn btn-danger">Cancel</a>';

                var acceptedRequestCancel = '<button id="cancelBtn" class="btn btn-danger btn-md" type="button"onclick="onClickCancelRequest('+pickUpId+')" >Cancel</button>';

              $("#acceptedModelDiv").html('<table id="example" class="table table-bordered table-striped table-scroll">'+
                                  '<thead>'+
                                    '<tr>'+
                                    '<th>Name</th>'+
                                    '<th>Email</th>'+
                                    '<th>No Of Trips</th>'+
                                    '<th>Area Code</th>'+
                                    '<th>Payment Type</th>'+
                                    '<th>Amount</th>'+
                                    '<th>Payment Status</th>'+
                                    '<th>Created By</th>'+
                                    '<th>Taken By</th>'+
                                    '<th>PickUp Date Time</th>'+
                                  '</tr></thead>'+
                                  '<tbody>'+
                                  '<tr>'+
                                  '<td>'+title+' '+name+'</td>'+
                                  '<td>'+email+'</td>'+
                                  '<td>'+numberOfTrips+'</td>'+
                                  '<td>'+areaCode+'</td>'+
                                  '<td>'+paymentType+'</td>'+
                                  '<td>₦ '+amount+'</td>'+
                                  '<td>'+paymentStatus+'</td>'+
                                  '<td>'+createdByMgrName+'</td>'+
                                  '<td>'+takenByMgrName+'</td>'+
                                  '<td>'+dateTime+'</td>'+

                                  '</tr>'+
                                '</table>');

              $("#assignDriverButton").html(assignDriver);

              $("#acceptedRequestCancelButton").html(acceptedRequestCancel);

              $('#acceptedModel').modal('show');


            })

          }

          function getConfirmedCustomerInfo(pickUpId,cancelCheck){


            $.get('/userRequest/getCustomerInfo/'+pickUpId,function(data){

              var amount = 0;
              var paymentType = 0;
              var paymentStatus =0;
              if(data){
                var name = data[0].name;
                var title = data[0].title;
                var email = data[0].email;
                var areaCode = data[0].areaCode;
                var address = data[0].address;
                 paymentType = data[0].paymentType;
                 paymentStatus = data[0].paymentStatus;
                var createdByMgrName = data[0].createdByMgrName;
                var takenByMgrName = data[0].takenByMgrName;
                var driverName = data[0].driverName;
                var driverMobile = data[0].driverMobile;
                var dateTime = data[0].dateTime;
                var numberOfTrips = data[0].numberOfTrips;

                var paymentTypeArr = ({"cash":"Cash On Delivery","card":"Card","bank":"Bank"});

                var paymentStatusArr = ({"success":"Paid","failed":"Failed","Paid":"Paid"});
                if(paymentType){

                  amount = data[0].amount;
                  //paymentType = data[0].paymentType;
                  paymentType = paymentTypeArr[data[0].paymentType];

                  if(paymentStatus){
                    paymentStatus = paymentStatusArr[data[0].paymentStatus];
                  }else{
                    paymentStatus='Pending';
                  }

                }

              }


              if(paymentStatus==null){
                  paymentStatus='';
                }

                if(paymentType==null){
                  paymentType='';
                }
                if(amount==null){
                  amount=0;
                }

              var confirmedRequestCancel ='';
              var confirmedAbandontButton ='';
              if(cancelCheck=='Y'){
                 confirmedRequestCancel = '<button id="cancelBtn" class="btn btn-danger btn-md" type="button"onclick="onClickCancelRequest('+pickUpId+')" >Cancel</button>';

                 // <a href="/userRequest/action/'+pickUpId+'/R" class="btn btn-danger">Cancel11</a>
                 // confirmedAbandontButton = '<a href="/userRequest/assignDriver/'+pickUpId+'/'+areaCode+'" class="btn btn-warning">Abandoned11</a>';

                 confirmedAbandontButton = '<a href="/userRequest/assignDriver/'+pickUpId+'" class="btn btn-warning">Abandoned</a>';
              }

              $("#confirmedModelDiv").html('<table id="example" class="table table-bordered table-striped">'+
                                  '<thead>'+
                                    '<tr>'+
                                    '<th>Email</th>'+
                                    '<th>No Of Trips</th>'+
                                    '<th>Area Code</th>'+
                                    '<th>Amount</th>'+
                                    '<th>Payment Type</th>'+
                                    '<th>Payment Status</th>'+
                                    '<th>Driver Details</th>'+
                                    '<th>Created By</th>'+
                                    '<th>Taken By</th>'+
                                    '<th>PickUp Date Time</th>'+

                                  '</tr></thead>'+
                                  '<tbody>'+
                                  '<tr>'+
                                  '<td>'+email+'</td>'+
                                  '<td>'+numberOfTrips+'</td>'+
                                  '<td>'+areaCode+'('+address+')</td>'+
                                  '<td>₦ '+amount+'</td>'+
                                  '<td>'+paymentType+'</td>'+
                                  '<td>'+paymentStatus+'</td>'+
                                  '<td>'+driverName+'('+driverMobile+')</td>'+
                                  '<td>'+createdByMgrName+'</td>'+
                                  '<td>'+takenByMgrName+'</td>'+
                                  '<td>'+dateTime+'</td>'+

                                  '</tr>'+
                                '</table>');

              $("#confirmedAbandontButton").html(confirmedAbandontButton);

              $("#confirmedCancelButton").html(confirmedRequestCancel);

              $('#confirmedModel').modal('show');


            })

          }

          function getCompletedCustomerInfo(pickUpId){

            $.get('/userRequest/getCustomerInfo/'+pickUpId,function(data){

              var amount = 0;
              var paymentType = 0;
              var paymentStatus =0;

              if(data){
                var name = data[0].name;
                var email = data[0].email;
                var areaCode = data[0].areaCode;
                var address = data[0].address;
                var driverName = data[0].driverName;
                var driverMobile = data[0].driverMobile;
                var dateTime = data[0].dateTime;
                var numberOfTrips = data[0].numberOfTrips;
                 
                 paymentType = data[0].paymentType;
                 paymentStatus = data[0].paymentStatus;

                var createdByMgrName = data[0].createdByMgrName;
                var takenByMgrName = data[0].takenByMgrName;

                var paymentTypeArr = ({"cash":"Cash On Delivery","card":"Card","bank":"Bank"});

                var paymentStatusArr = ({"success":"Paid","failed":"Failed","Paid":"Paid"});

                if(paymentType){

                  amount = data[0].amount;
                  paymentType = data[0].paymentType;

                  if(paymentStatus){
                    paymentStatus = paymentStatusArr[data[0].paymentStatus];
                  }else{
                    paymentStatus='Pending';
                  }

                }

              }

              if(paymentStatus==null){
                  paymentStatus='';
                }

              $("#completedModelDiv").html('<table id="example" class="table table-bordered table-striped">'+
                                  '<thead>'+
                                    '<tr>'+
                                    '<th>Email</th>'+
                                    '<th>No Of Trips</th>'+
                                    '<th>Area Code</th>'+
                                    '<th>Amount</th>'+
                                    '<th>Payment Type</th>'+
                                    '<th>Payment Status</th>'+
                                    '<th>Driver Details</th>'+
                                    '<th>Created By</th>'+
                                    '<th>Taken By</th>'+
                                    '<th>PickUp Date Time</th>'+
                                  '</tr></thead>'+
                                  '<tbody>'+
                                  '<tr>'+
                                  '<td>'+email+'</td>'+
                                  '<td>'+numberOfTrips+'</td>'+
                                  '<td>'+areaCode+'('+address+')</td>'+
                                  '<td>₦ '+amount+'</td>'+
                                  '<td>'+paymentTypeArr[paymentType]+'</td>'+
                                  '<td>'+paymentStatus+'</td>'+
                                  '<td>'+driverName+'('+driverMobile+')</td>'+
                                  '<td>'+createdByMgrName+'</td>'+
                                  '<td>'+takenByMgrName+'</td>'+
                                  '<td>'+dateTime+'</td>'+

                                  '</tr>'+
                                '</table>');



              $('#completedModel').modal('show');


            })

          }

          function onClickAssignDriver(pickUpId,areaCode){
            //location.href = '/userRequest/assignDriver/'+pickUpId+'/'+areaCode;
            location.href = '/userRequest/assignDriver/'+pickUpId;
          }

          function onClickCancelRequest(pickUpId){


            // swal({
            //       title: "An input!",
            //       text: "Write something interesting:",
            //       type: "input",
            //       showCancelButton: true,
            //       closeOnConfirm: false,
            //       inputPlaceholder: "Write something"
            //     }, function (inputValue) {
            //       if (inputValue === false) return false;
            //       if (inputValue === "") {
            //         swal.showInputError("You need to write something!");
            //         return false
            //       }
            //       swal("Nice!", "You wrote: " + inputValue, "success");
            //     });


              //this.disabled=true; 

            document.getElementById("cancelBtn").disabled = true;


            swal({   
                  title: "Are you sure?",   
                  text: "Do you want to cancel request?",   
                  type: "warning",   
                  showCancelButton: true,   
                  confirmButtonColor: "#DD6B55",   
                  confirmButtonText: "Yes!",   
                  cancelButtonText: "No!",   
                  closeOnConfirm: false,   
                  closeOnCancel: false 
              }, function(isConfirm){   
                  if (isConfirm) {     
                      swal("success!", "Request successfully Cancelled.", "success"); 
                      location.href = '/userRequest/action/'+pickUpId+'/R';
       
                  } else {     
                      swal("Cancelled", "Cancelled", "error");   
                  } 
              });
             
          }

          function onClickacceptRequest(pickUpId){



            swal({   
                  title: "Are you sure?",   
                  text: "Do you want to accept request?",   
                  type: "success",   
                  showCancelButton: true,   
                  confirmButtonColor: "#4CAF50",   
                  confirmButtonText: "Yes!",   
                  cancelButtonText: "No!",   
                  closeOnConfirm: false,   
                  closeOnCancel: false 
              }, function(isConfirm){   
                  if (isConfirm) {     
                      swal("success!", "Request successfully accepted.", "success"); 
                     // location.href = '/userRequest/action/'+pickUpId+'/R';

                      location.href = '/userRequest/acceptRequest/'+pickUpId+'/PR';
       
                  } else {     
                      swal("Cancelled", "Cancelled", "error");   
                  } 
              });



          }

        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
