<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->
        <!--
            <div class="wraper container-fluid">
                <div class="page-title">
                    <h3 class="title">Welcome <%= result %> !</h3>
                </div>


            </div>-->


            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">Call Center Manager Dashboard</h3> 
                </div>



                    <!-- change code dsp-->
                  <div class="panel panel-color panel-primary">

                    <% if (messages.success) { %>
                        <div id="successMessage" class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <%= messages.success %>
                        </div>
                        <% } %>

                         <% if (messages.error) { %>
                        <div id="successMessage" class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <%= messages.error %>
                        </div>
                        <% } %>

                    <div class="row">
                      <div class="col-md-6 col-md-offset-4" id="" >
                      <span id="createButton"></span>
                      <span id="listButton"></span>
                      </div>
                    </div></br>

                    

                    <div class="row" id="listTable">
                     

                      <div class="col-md-6" id="verifyTableId">
                         <h4 class="text-center">Verified Order Request</h4><br/>
                         <div class="table-respnsive" style="width:100%; height: 300px; overflow-y: scroll;">
                          <table id="example" class="table table-bordered table-striped">
                          <thead>
                          <tr style="background-color:'';">
                            
                            <th>Name</th> 
                            <th>Reference No.</th>                      
                            <th>Mobile</th>
                            <th>Status</th>
                          </tr>
                          </thead>
                          <tbody>

                            <% 

                            var statusArr = ({"P":"Verified","AC":"In Progress","CO":"Confirmed","COMPL":"Completed","R":"Cancelled","AB":"Abandoned","EXE":"Executed"});

                            for(var i=0; i < result.length; i++) { 

                              if(result[i].status=='P'){

                              var checkPayment = false;
                              var checkEdit = true;
                              var checkPauseReumeDisabled = false;
                              var checkAccept = false;


                              
                                if(result[i].isAccept==0){  


                                var checkPayment = false;
                                var checkEdit = false;
                                var checkPauseReumeDisabled = false;
                                var checkAccept = true;

                                %>

                                   <tr style="background-color: #FFDA33;cursor: pointer;" onclick="getCustomerMobileInfo(<%= result[i].id %>,'<%= checkEdit %>','<%= checkPayment %>','<%= checkPauseReumeDisabled %>','<%= checkAccept %>')">
                              

                                 <td><%= result[i].title %> <%= result[i].name %></td>
                                  <td><%= result[i].refNo %></td>
                                  <td><%= result[i].mobile %></td>
                                  <td>UnVerified</td>
                                  
                                  
                                </tr>


                             <% }else{

                                %>

                              
                                  <tr style="background-color: #bedf7c;cursor: pointer;" onclick="getCustomerInfo(<%= result[i].id %>,'<%= checkEdit %>','<%= checkPayment %>','<%= checkPauseReumeDisabled %>','<%= checkAccept %>')">
                              

                                 <td><%= result[i].title %> <%= result[i].name %></td>
                                  <td><%= result[i].refNo %></td>
                                  
                                  <td><%= result[i].mobile %></td>
                                  <td><%= statusArr[result[i].status] %></td>
                                  
                                  
                                </tr>
                                  
                                <% 

                              }
                            }
                          } %>
                          
                            
                          </tbody>
                         
                          </table>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <h4  class="text-center">Processed Order Request</h4><br/>
                        

                        <div class="table-respnsive" style="width:100%; height: 300px; overflow-y: scroll;">
                          <table id="example1" class="table table-bordered table-striped">
                          <thead>
                          <tr style="background-color:'';">
                            <th>Name</th>   
                            <th>Reference No.</th> 
                                               
                            <th>Mobile</th>
                            <th>Status</th>
                          </tr>
                          </thead>
                          <tbody>

                            <% var statusArr = ({"P":"Unverified","AC":"In Progress","CO":"Confirmed","COMPL":"Completed","R":"Cancelled","AB":"Abandoned","EX":"Executed"});

                            var paymentTypeArr = ({"cash":"Cash On Delievery","card":"Debit/Credit Card","bank":"Bank Transfer"});

                            %>

                           <% for(var i=0; i < result.length; i++) { 

                             if(result[i].status!='P'){

                             if(result[i].status!='R'){

                             if(result[i].status!='EX'){

                             if((result[i].status=='AC' && result[i].paymentType=='') || result[i].status=='PS'){

                              var checkEdit = false;
                              if(result[i].status=='P') {
                                 checkEdit=true;
                               }

                            
                                var checkPayment = false;
                                var checkAccept = false;
                                var checkPauseReumeDisabled=false; 
                               if((result[i].status=='AC' && result[i].paymentType=='') || result[i].status=='PS') { 


                                var checkPayment = true;
                                //ps condi


                                if(result[i].status=='PS'){

                                 checkPauseReumeDisabled=false; 

                                }else{
                                checkPauseReumeDisabled=true; 

                                }
                            }

                           %>  

                           <% if(result[i].status=='P'){ %>
                              <tr style="background-color: #bedf7c;cursor: pointer;" onclick="getCustomerInfo(<%= result[i].id %>,'<%= checkEdit %>','<%= checkPayment %>','<%= checkPauseReumeDisabled %>','<%= checkAccept %>')">
                            <% }else if(result[i].status=='AC'){ %>
                              <tr style="background-color: #A9CCE3;cursor: pointer;" onclick="getCustomerInfo(<%= result[i].id %>,'<%= checkEdit %>','<%= checkPayment %>','<%= checkPauseReumeDisabled %>','<%= checkAccept %>')">
                            <% }else if(result[i].status=='CO'){ %>
                              <tr style="background-color: #bedf7c;cursor: pointer;" onclick="getCustomerInfo(<%= result[i].id %>,'<%= checkEdit %>','<%= checkPayment %>','<%= checkPauseReumeDisabled %>','<%= checkAccept %>')">
                            <% }else if(result[i].status=='COMPL'){ %>
                              <tr style="background-color: #F9EBEA;cursor: pointer;" onclick="getCustomerInfo(<%= result[i].id %>,'<%= checkEdit %>','<%= checkPayment %>','<%= checkPauseReumeDisabled %>','<%= checkAccept %>')">
                            <% }else if(result[i].status=='R'){ %>
                              <tr style="background-color: #E59866;cursor: pointer;" onclick="getCustomerInfo(<%= result[i].id %>,'<%= checkEdit %>','<%= checkPayment %>','<%= checkPauseReumeDisabled %>','<%= checkAccept %>')">
                            <% }else if(result[i].status=='AB'){ %>
                              <tr style="background-color: #F8C471;cursor: pointer;" onclick="getCustomerInfo(<%= result[i].id %>,'<%= checkEdit %>','<%= checkPayment %>','<%= checkPauseReumeDisabled %>','<%= checkAccept %>')">
                            <% }else if(result[i].status=='EX'){ %> 

                            <tr style="background-color: '';cursor: pointer;" onclick="getCustomerInfo(<%= result[i].id %>,'<%= checkEdit %>','<%= checkPayment %>','<%= checkPauseReumeDisabled %>','<%= checkAccept %>')">
                              <% }
                              else if(result[i].status=='PS'){ %> 

                            <tr style="background-color: #E59866;cursor: pointer;" onclick="getCustomerInfo(<%= result[i].id %>,'<%= checkEdit %>','<%= checkPayment %>','<%= checkPauseReumeDisabled %>','<%= checkAccept %>')">
                              <% } %>

                              <td><%= result[i].title %> <%= result[i].name %></td>
                              <td><%= result[i].refNo %></td>
                              
                              <td><%= result[i].mobile %></td>
                              <td><%= statusArr[result[i].status] %></td>
                              
                              
                            </tr>
                              
                            <% 
                            }
                          }
                          }
                          }
                          } %>
                           
                            
                          </tbody>
                         
                          </table>
                        </div>
                      </div>
                    </div>



                     <div class="row" id="listTableMobile">
                      <h4 class="text-center">View List of Confirmed Order</h4><br/>
                     

                      <div class="col-md-6" id="verifyTableId">
                         <div class="table-respnsive" style="width:100%; height: 300px; overflow-y: scroll;">
                          <table id="example" class="table table-bordered table-striped">
                          <thead>
                          <tr style="background-color:'';">
                            <th>Name</th> 
                            <th>Reference No.</th> 
                                                 
                            <th>Mobile</th>
                            <th>Status</th>
                          </tr>
                          </thead>
                          <tbody>

                            <% var statusArr = ({"P":"Unverified","AC":"Processed By CC","CO":"Confirmed","COMPL":"Completed","R":"Cancelled","AB":"Abandoned","EX":"Executed"});

                            var paymentTypeArr = ({"cash":"Cash On Delievery","card":"Debit/Credit Card","bank":"Bank Transfer"});

                            %>

                           <% for(var i=0; i < result.length; i++) { 

                             if(result[i].status!='P'){

                             if(result[i].status!='R'){

                             if(result[i].status!='EX'){

                             if(result[i].paymentType!=''){

                              var checkEdit = false;
                              if(result[i].status=='P') {
                                 checkEdit=true;
                               }

                            
                                var checkPayment = false;
                                var checkAccept = false;
                                var checkPauseReumeDisabled=false; 
                               if((result[i].status=='AC' && result[i].paymentType=='') || result[i].status=='PS') { 


                                var checkPayment = true;
                                //ps condi


                                if(result[i].status=='PS'){

                                 checkPauseReumeDisabled=false; 

                                }else{
                                checkPauseReumeDisabled=true; 

                                }
                            }

                           %>  

                           <% if(result[i].status=='P'){ %>
                              <tr style="background-color: #bedf7c;cursor: pointer;" onclick="getCustomerInfo(<%= result[i].id %>,'<%= checkEdit %>','<%= checkPayment %>','<%= checkPauseReumeDisabled %>','<%= checkAccept %>')">
                            <% }else if(result[i].status=='AC'){ %>
                              <tr style="background-color: #A9CCE3;cursor: pointer;" onclick="getCustomerInfo(<%= result[i].id %>,'<%= checkEdit %>','<%= checkPayment %>','<%= checkPauseReumeDisabled %>','<%= checkAccept %>')">
                            <% }else if(result[i].status=='CO'){ %>
                              <tr style="background-color: #bedf7c;cursor: pointer;" onclick="getCustomerInfo(<%= result[i].id %>,'<%= checkEdit %>','<%= checkPayment %>','<%= checkPauseReumeDisabled %>','<%= checkAccept %>')">
                            <% }else if(result[i].status=='COMPL'){ %>
                              <tr style="background-color: #F9EBEA;cursor: pointer;" onclick="getCustomerInfo(<%= result[i].id %>,'<%= checkEdit %>','<%= checkPayment %>','<%= checkPauseReumeDisabled %>','<%= checkAccept %>')">
                            <% }else if(result[i].status=='R'){ %>
                              <tr style="background-color: #E59866;cursor: pointer;" onclick="getCustomerInfo(<%= result[i].id %>,'<%= checkEdit %>','<%= checkPayment %>','<%= checkPauseReumeDisabled %>','<%= checkAccept %>')">
                            <% }else if(result[i].status=='AB'){ %>
                              <tr style="background-color: #F8C471;cursor: pointer;" onclick="getCustomerInfo(<%= result[i].id %>,'<%= checkEdit %>','<%= checkPayment %>','<%= checkPauseReumeDisabled %>','<%= checkAccept %>')">
                            <% }else if(result[i].status=='EX'){ %> 

                            <tr style="background-color: '';cursor: pointer;" onclick="getCustomerInfo(<%= result[i].id %>,'<%= checkEdit %>','<%= checkPayment %>','<%= checkPauseReumeDisabled %>','<%= checkAccept %>')">
                              <% } %>

                              <td><%= result[i].title %> <%= result[i].name %></td>
                              <td><%= result[i].refNo %></td>
                              
                              <td><%= result[i].mobile %></td>
                              <td><%= statusArr[result[i].status] %></td>
                              
                              
                            </tr>
                              
                            <% 
                            }
                          }
                          }
                          }
                          } %>
                           
                            
                          </tbody>
                         
                          </table>
                        </div>
                      </div>

                      
                    </div> 


                  <div class="row" id="userRequestformId">
                      <div class="col-md-6">
                        <form class="form-horizontal" method="post" action="userRequest">
                          

                            <div class="row">
                              <div class="col-md-12">

                                <div class="form-group ">
                                  <label class="col-sm-3 control-label text-left" for="userName1">Name <span style="color: #FF5733">*</span></label>
                                  <div class="col-sm-9">
                                    <div class="col-sm-3">
                                      <select name="title" class="form-control selectpicker" data-live-search="true">

                                      <option value="Mr">Mr</option>
                                      <option value="Mrs">Mrs</option>
                                      <option value="Miss">Miss</option>
                                          
                                    </select>
                                    </div>

                                    <div class="col-sm-9">

                                      <input class="form-control " type="text" name="name" required="" placeholder="Name">

                                    </div>

                                  </div>
                                </div>

                                <div class="form-group ">
                                  <label class="col-sm-3 control-label text-left" for="userName1">Email <span style="color: #FF5733"></span></label>
                                  <div class="col-sm-9">
                                    <input class="form-control" type="email" name="email" placeholder="Email">
                                  </div>
                                </div>

                                <div class="form-group ">
                                  <label class="col-sm-3 control-label text-left" for="userName1">Mobile No. <span style="color: #FF5733">*</span></label>
                                  <!-- <label class="col-sm-1 control-label text-left" for="userName1">+</label> -->
                                  <div class="col-sm-9">

                                   <div class="input-group">
                                        <span class="input-group-addon">
                                            +
                                        </span>
                                        <input type="number" name="mobile" required="" placeholder="Mobile No" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==13 && event.keyCode!=8) return false;">
                                    </div>


                                  </div>
                                </div>

                                <div class="form-group ">
                                  <label class="col-sm-3 control-label text-left" for="userName1">No of trips<span style="color: #FF5733">*</span></label>
                                  <div class="col-sm-9">
                                    <input class="form-control " maxlength="200" type="number" name="numberOfTrips" min="1" placeholder="Number Of Trips">
                                  </div>
                                </div>

                                <div class="form-group ">
                                  <label class="col-sm-3 control-label text-left" for="userName1">Area Code <span style="color: #FF5733"></span></label>
                                  <div class="col-sm-9">
                                    <select name="areaCode" class="form-control selectpicker" data-live-search="true">
                                      <option value="">Please Select Area Code</option>

                                      <% for(var i=0;i<areaData.length;i++){ %>

                                      <option value="<%= areaData[i].areaCode %>"><%= areaData[i].areaCode %> - <%= areaData[i].description %></option>
                                          
                                      <% } %>
                                      
                                    </select>
                                  </div>
                                </div>

                                <div class="form-group ">
                                  <label class="col-sm-3 control-label text-left" for="userName1">Address <span style="color: #FF5733">*</span></label>
                                  <div class="col-sm-9">
                                   <!--  <input class="form-control " type="text" name="address" required="" placeholder="Detail Address"> -->

                                    <textarea class="form-control" rows="3" placeholder="Detail Address" required="" name="address" id="address"></textarea>

                                  </div>
                                </div>

                                <div class="form-group ">
                                  <label class="col-sm-3 control-label text-left" for="userName1">How did you hear about us?<span style="color: #FF5733">*</span></label>
                                  <div class="col-sm-9">
                                    <input class="form-control " maxlength="200" type="text" name="aboutPooplogg"  placeholder="How did you hear about us?" required="">
                                  </div>
                                </div>

                                <div class="form-group ">
                                  <label class="col-sm-3 control-label text-left" for="userName1">Pickup Date/Time<span style="color: #FF5733">*</span></label>
                                  <div class="col-sm-9">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="input-group">
                                          <input type="text" name="dateVal" class="form-control" placeholder="mm/dd/yyyy" id="datepicker" required="">
                                          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                        
                                      </div>
                                      <div class="col-md-6">
                                        <div class="input-group">
                                          <div class="bootstrap-timepicker">
                                            <input id="timepicker" name="timeVal" type="text" class="form-control" required=""/>
                                          </div>
                                          <span class="input-group-addon">
                                              <i class="glyphicon glyphicon-time"></i>
                                          </span>
                                        </div>
                                        
                                      </div>
                                    </div>
                                    


                                      
                                  </div>


                                  </div>
                                </div>


                                

                                <div class="form-group ">                               
                                  <div class="col-sm-12 text-right">
                                    <button class="btn btn-info btn-md" type="submit">Submit</button>
                                  </div>
                                </div>
                              
                              </div>
                            </div>
                          </form>
                      </div>

                      
                      
                    </div>
                      

              </div>

                    <!-- change code dsp -->


                    <!-- Modal -->
                  <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-xl">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Customer Pick Up Details</h4>
                        </div>
                        <div class="modal-body table-respnsive" id="modelDiv">

                          <!-- Row -->
                        </div>
                        <div class="modal-footer">
                          
                          <div class="row">
                              <div class="col-md-12">
                                
                                <span id="editButton"></span>&nbsp;&nbsp;
                                <span id="paymentButton"></span>&nbsp;&nbsp;
                                <span id="resumePauseButton"></span>&nbsp;&nbsp;
                                <span id="checkAcceptButton"></span>&nbsp;&nbsp;
                                
                                <span id="cancelButton"></span>&nbsp;&nbsp;
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                             
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>

                  <!--End Modal-->


                  <!-- Modal -->
                  <div id="aboutModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">How did you hear about us?</h4>
                        </div>
                        <div class="modal-body table-respnsive" id="aboutmodelDiv">

                          <!-- Row -->
                        </div>
                        <div class="modal-footer">
                          
                          <div class="row">
                              <div class="col-md-12">
                                
                                
                                
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                             
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>

                  <!--End Modal-->



                  

                 

            </div> <!-- END Wraper -->


            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */

             $("#userRequestformId").hide();
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });

                $('#example').DataTable( {
                  "paging":   false,
                  "ordering": false,
                  "info":     false,
                  
                  "scrollCollapse": true
              });

                $('#example1').DataTable( {
                  "paging":   false,
                  "ordering": false,
                  "info":     false,
                  
                  "scrollCollapse": true
              });

                 

            });

            

           



            var myVar;
            function showCreateRequest(chk){


              if(chk=='1'){
                var createButton = '';
                var listButton = '<button type="button" class="btn btn-danger" onclick="showCreateRequest(2)">View Order Request</button>';
                $("#listButton").html(listButton);
                $("#createButton").html(createButton);

                $("#userRequestformId").show();
                $("#listTable").hide();
                $("#listTableMobile").hide();

                    clearTimeout(myVar);

                 
              }else{

                var createButton = '<button type="button" class="btn btn-danger" onclick="showCreateRequest(1)">Create Order Request</button>';

                $("#createButton").html(createButton);
                $("#listButton").html('');

                
                $("#userRequestformId").hide();
                $("#listTable").show();
                $("#listTableMobile").show();


                 myVar = setTimeout(function(){

                  location = '/home'
                },60000)
              }
            }

            showCreateRequest('2');


          function onchangePaymentType(paymentType,pickUpId){

            console.log(pickUpId);

            var paymentType = paymentType.value;

            var paymentTypeText = $("#paymentType").find("option:selected").text();

              swal({   
                  title: "Are you sure?",   
                  text: "Do you want to select "+paymentTypeText,   
                  type: "warning",   
                  showCancelButton: true,   
                  confirmButtonColor: "#DD6B55",   
                  confirmButtonText: "Yes!",   
                  cancelButtonText: "No, cancel!",   
                  closeOnConfirm: false,   
                  closeOnCancel: false 
              }, function(isConfirm){   
                  if (isConfirm) {     
                      swal("success!", "Payment Type "+paymentTypeText+" Selected.", "success");  

                          location.href = '/userRequest/paymentType/'+pickUpId+'/'+paymentType;
       
                  } else {     
                      swal("Cancelled", "Payment Type "+paymentTypeText+" Calcelled.", "error");   
                  } 
              });
          }


          function cancelRequest(pickUpId){

            console.log(pickUpId);

            var status = 'R';


              swal({   
                  title: "Are you sure?",   
                  text: "Do you want to cancel request!",   
                  type: "warning",   
                  showCancelButton: true,   
                  confirmButtonColor: "#DD6B55",   
                  confirmButtonText: "Yes!",   
                  cancelButtonText: "No, cancel!",   
                  closeOnConfirm: false,   
                  closeOnCancel: false 
              }, function(isConfirm){   
                  if (isConfirm) {     
                      swal("success!", "Customer Request Successfully Cancelled.", "success");  

                          location.href = '/userRequest/cancelRequest/'+pickUpId+'/'+status;
       
                  } else {     
                      swal("Cancelled", "Customer Request Cancelled..", "error");   
                  } 
              });
          }


          function getCustomerInfo(pickUpId,checkEdit,checkPayment,checkPauseReumeDisabled,checkAccept){

            $.get('/userRequest/getCustomerInfo/'+pickUpId,function(data){

              console.log(data);
              var paymentType =0;
              var paymentStatus =0;

              if(data){
                var title = data[0].title;
                var name = data[0].name;
                var email = data[0].email;
                var areaCode = data[0].areaCode;
                var createdByMgrName = data[0].createdByMgrName;
                var takenByMgrName = data[0].takenByMgrName;
                var amount = data[0].amount;
                 paymentType = data[0].paymentType;
                 paymentStatus = data[0].paymentStatus;
                 var dateTime = data[0].dateTime;
                 var numberOfTrips = data[0].numberOfTrips;
                 var address = data[0].address;

              }


              var paymentTypeArr = ({"cash":"Cash On Delivery","card":"Card","bank":"Bank"});

              var paymentStatusArr = ({"success":"Paid","failed":"Failed","Paid":"Paid"});
                if(paymentType){

                  paymentType = paymentTypeArr[data[0].paymentType];

                  if(paymentStatus){
                    paymentStatus = paymentStatusArr[data[0].paymentStatus];
                  }else{
                    paymentStatus='Pending';
                  }

                }

                if(paymentStatus==null){
                  paymentStatus='';
                }

                if(paymentType==null){
                  paymentType='';
                }
                if(amount==null){
                  amount=0;
                }

              console.log(checkPayment);

              var editButton = '';
              if(checkEdit=='true')
                 editButton = '<a href="/userRequest/update/'+pickUpId+'" class="btn btn-purple"><i class="fa fa-pencil" aria-hidden="true"></a>';

               var checkAcceptButton = '';
               if(checkAccept=='true'){
                var checkAcceptButton = '<a href="/api/userRequest/acceptRequest/'+pickUpId+'/P" class="btn btn-purple">Accept</a>';

                //checkAcceptButton = '<a href="/userRequest/update/'+pickUpId+'" class="btn btn-purple"><i class="fa fa-pencil" aria-hidden="true"></a>';

               }

               var cancelButton = '';
               var paymentButton = '';
               var resumePauseButton = '';

              if(checkPayment=='true'){
                 cancelButton = '<button type="button" class="btn btn-danger" onclick="cancelRequest('+pickUpId+')">Cancel</button>';

                  paymentButton = 'Select Mode Of Payment  <select name="paymentType" id="paymentType" required="" class="form-control" style="width:auto; display:inline-block" onchange="onchangePaymentType(this,'+pickUpId+')">'+
                        '<option value="">Select Payment Type</option>'+
                        '<option value="cash">Cash On Delivery</option>'+
                        '<option value="card">Debit/Credit Card</option>'+
                        '<option value="bank" >Bank Transfer</option>'+
                    '</select>';

                    if(checkPauseReumeDisabled=='false'){

                      resumePauseButton = '<a href="/userRequest/pauseResume/'+pickUpId+'/AC"><button type="button" class="btn btn-success"><i class="fa fa-play" aria-hidden="true"></i></button></a>';

                    }else{
                      resumePauseButton='<a href="/userRequest/pauseResume/'+pickUpId+'/PS"><button type="button" class="btn btn-warning"><i class="fa fa-pause" aria-hidden="true"></i></button></a>';

                    }

               }


              $("#modelDiv").html('<table id="example" class="table table-bordered table-striped" width="100%">'+
                                  '<thead>'+
                                    '<tr>'+
                                    '<th>Name</th>'+
                                    '<th>Email</th>'+
                                    '<th>No Of Trips</th>'+
                                    '<th>Address(Area Code)</th>'+
                                    '<th>Created By</th>'+
                                    '<th>Taken By</th>'+
                                    '<th>PickUp Date Time</th>'+
                                    '<th>Payment Type</th>'+
                                    '<th>Amount</th>'+
                                    '<th>Payment Status</th>'+
                                  '</tr></thead>'+
                                  '<tbody>'+
                                  '<tr style="cursor: pointer;"  onclick="getAboutPoopLogg('+pickUpId+');">'+
                                  '<td>'+title+' '+name+'</td>'+
                                  '<td>'+email+'</td>'+
                                  '<td>'+numberOfTrips+'</td>'+
                                  '<td>'+address+'('+areaCode+')</td>'+
                                  '<td>'+createdByMgrName+'</td>'+
                                  '<td>'+takenByMgrName+'</td>'+
                                  '<td>'+dateTime+'</td>'+
                                  '<td>'+paymentType+'</td>'+
                                  '<td class="text-right">₦ '+amount+'</td>'+
                                  '<td>'+paymentStatus+'</td>'+
                                  '</tr>'+
                                '</table>');

              $("#editButton").html(editButton);
              $("#cancelButton").html(cancelButton);
              $("#paymentButton").html(paymentButton);
              $("#resumePauseButton").html(resumePauseButton);
              $("#checkAcceptButton").html(checkAcceptButton);

              

              

              $('#myModal').modal('show');


            })
          }






          function getCustomerMobileInfo(pickUpId,checkEdit,checkPayment,checkPauseReumeDisabled,checkAccept){

            $.get('/userRequest/getCustomerMobileInfo/'+pickUpId,function(data){

              console.log(data);
              var paymentType =0;

              if(data){
                var name = data[0].name;
                var email = data[0].email;
                var areaCode = data[0].areaCode;
                var createdByMgrName = data[0].createdByMgrName;
                var takenByMgrName = data[0].takenByMgrName;
                var amount = data[0].amount;
                 paymentType = data[0].paymentType;
                 var dateTime = data[0].dateTime;
                 var numberOfTrips = data[0].numberOfTrips;
                 var address = data[0].address;

              }


              var paymentTypeArr = ({"cash":"Cash On Delivery","card":"Card","bank":"Bank"});
                if(paymentType){

                  paymentType = paymentTypeArr[data[0].paymentType];

                }

                if(paymentType==null){
                  paymentType='';
                }
                if(amount==null){
                  amount=0;
                }

              console.log(checkPayment);

              var editButton = '';
              if(checkEdit=='true')
                 editButton = '<a href="/userRequest/update/'+pickUpId+'" class="btn btn-purple"><i class="fa fa-pencil" aria-hidden="true"></a>';

               var checkAcceptButton = '';
               if(checkAccept=='true'){

                //dilip changes 08
                // var checkAcceptButton = '<a href="/api/userRequest/acceptRequest/'+pickUpId+'/P" class="btn btn-purple">Accept</a>';


                var checkAcceptButton = '<button type="button" id="mobileBtn" class="btn btn-purple" onclick="onClickMobileAcceptRequest('+pickUpId+')">Accept</button>';

                //checkAcceptButton = '<a href="/userRequest/update/'+pickUpId+'" class="btn btn-purple"><i class="fa fa-pencil" aria-hidden="true"></a>';

               }

               var cancelButton = '';
               var paymentButton = '';
               var resumePauseButton = '';

              if(checkPayment=='true'){
                 cancelButton = '<button type="button" class="btn btn-danger" onclick="cancelRequest('+pickUpId+')">Cancel</button>';

                  paymentButton = '<select name="paymentType" id="paymentType" required="" class="form-control" style="width:auto; display:inline-block" onchange="onchangePaymentType(this,'+pickUpId+')">'+
                        '<option value="" selected>Select Payment Type</option>'+
                        '<option value="cash" selected>Cash On Delivery</option>'+
                        '<option value="card" selected>Debit/Credit Card</option>'+
                        '<option value="bank" selected>Bank Transfer</option>'+
                    '</select>';

                    if(checkPauseReumeDisabled=='false'){

                      resumePauseButton = '<a href="/userRequest/pauseResume/'+pickUpId+'/AC"><button type="button" class="btn btn-success"><i class="fa fa-play" aria-hidden="true"></i></button></a>';

                    }else{
                      resumePauseButton='<a href="/userRequest/pauseResume/'+pickUpId+'/PS"><button type="button" class="btn btn-warning"><i class="fa fa-pause" aria-hidden="true"></i></button></a>';

                    }

               }


              $("#modelDiv").html('<table id="example" class="table table-bordered table-striped">'+
                                  '<thead>'+
                                    '<tr >'+
                                    '<th>Name</th>'+
                                    '<th>Email</th>'+
                                    '<th>No Of Trips</th>'+
                                    '<th>Address (Area Code)</th>'+
                                    '<th>Created By</th>'+
                                    '<th>Taken By</th>'+
                                    '<th>PickUp Date Time</th>'+
                                    '<th>Payment Type</th>'+
                                    '<th>Amount</th>'+
                                  '</tr></thead>'+
                                  '<tbody>'+
                                  '<tr style="cursor: pointer;"  onclick="getMobileAboutPoopLogg('+pickUpId+');">'+
                                  '<td>'+name+'</td>'+
                                  '<td>'+email+'</td>'+
                                  '<td>'+numberOfTrips+'</td>'+
                                  '<td>'+address+'('+areaCode+')</td>'+
                                  '<td>'+createdByMgrName+'</td>'+
                                  '<td>'+takenByMgrName+'</td>'+
                                  '<td>'+dateTime+'</td>'+
                                  '<td>'+paymentType+'</td>'+
                                  '<td class="text-right">'+amount+'</td>'+
                                  '</tr>'+
                                '</table>');

              $("#editButton").html(editButton);
              $("#cancelButton").html(cancelButton);
              $("#paymentButton").html(paymentButton);
              $("#resumePauseButton").html(resumePauseButton);
              $("#checkAcceptButton").html(checkAcceptButton);

              

              

              $('#myModal').modal('show');


            })
          }



          
jQuery('#datepicker').datepicker({
    startDate: new Date()   
});
jQuery('#timepicker').timepicker({defaultTIme: false});


function onClickMobileAcceptRequest(pickUpId){


  document.getElementById("mobileBtn").disabled = true;

  swal({   
                  title: "Are you sure?",   
                  text: "Do you want to verify request?",   
                  type: "success",   
                  showCancelButton: true,   
                  confirmButtonColor: "#4CAF50",   
                  confirmButtonText: "Yes!",   
                  cancelButtonText: "No!",   
                  closeOnConfirm: false,   
                  closeOnCancel: false 
              }, function(isConfirm){   
                  if (isConfirm) {     
                      swal("success!", "Request successfully verify.", "success"); 
                     // location.href = '/userRequest/action/'+pickUpId+'/R';

                      location.href = '/api/userRequest/acceptRequest/'+pickUpId+'/P';

                      ///api/userRequest/acceptRequest/'+pickUpId+'/P"
       
                  } else {     
                      swal("Cancelled", "Cancelled", "error");   
                  } 
              });
}


function getAboutPoopLogg(pickUpId){

    $.get('/userRequest/getCustomerInfo/'+pickUpId,function(data){

      var aboutPooplogg = data[0].aboutPooplogg;

      $("#aboutmodelDiv").html('<table id="example" class="table table-bordered table-striped">'+
                                  '<thead>'+
                                    '<tr >'+
                                    '<th>How did you hear about us?</th>'+
                                    
                                  '</tr></thead>'+
                                  '<tbody>'+
                                  '<tr >'+
                                  '<td>'+aboutPooplogg+'</td>'+
                                  
                                  '</tr>'+
                                '</table>');

    $('#aboutModal').modal('show');

  })
}


function getMobileAboutPoopLogg(pickUpId){

    $.get('/userRequest/getMobileAboutPoopLoggInfo/'+pickUpId,function(data){

      var aboutPooplogg = data[0].aboutPooplogg;

      $("#aboutmodelDiv").html('<table id="example" class="table table-bordered table-striped">'+
                                  '<thead>'+
                                    '<tr >'+
                                    '<th>How did you hear about us?</th>'+
                                    
                                  '</tr></thead>'+
                                  '<tbody>'+
                                  '<tr >'+
                                  '<td>'+aboutPooplogg+'</td>'+
                                  
                                  '</tr>'+
                                '</table>');

    $('#aboutModal').modal('show');

  })
}



        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
