<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->
        <!--
            <div class="wraper container-fluid">
                <div class="page-title">
                    <h3 class="title">Welcome <%= result %> !</h3>
                </div>


            </div>-->


            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">Dashboard</h3> 
                </div>



                    <!-- change code dsp-->
                  <div class="panel panel-color panel-primary">

                  
                      <% if (messages.success) { %>
                        <div id="successMessage" class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <%= messages.success %>
                        </div>
                        <% } %>

                         <% if (messages.error) { %>
                        <div id="successMessage" class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <%= messages.error %>
                        </div>
                        <% } %>

                        <div class="table-responsive">
                          <table id="example" class="table table-bordered table-striped">
                          <thead>
                          <tr style="background-color:'';">
                            <th>Reference No.</th> 
                            <th>Name</th>                      
                           
                            <th>Mobile</th>
                            <th>Status</th>
                            <th></th>
                            <th>Payment Type</th>
                            <th>Cancel</th>
                            <th>Suspend/Resume</th>
                          </tr>
                          </thead>
                          <tbody>

                            <% var statusArr = ({"P":"Verified","AC":"Accepted","CO":"Confirmed","COMPL":"Completed","R":"Rejected","AB":"Abandoned","EXE":"Executed"});

                            var paymentTypeArr = ({"cash":"Cash On Delievery","card":"Debit/Credit Card","bank":"Bank Transfer"});

                            %>

                           <% for(var i=0; i < result.length; i++) { %>

                           <% if(result[i].status=='P'){ %>
                              <tr style="background-color: #bedf7c;" onclick="getCustomerInfo(<%= result[i].id %>)">
                            <% }else if(result[i].status=='AC'){ %>
                              <tr style="background-color: #A9CCE3;" onclick="getCustomerInfo(<%= result[i].id %>)">
                            <% }else if(result[i].status=='CO'){ %>
                              <tr style="background-color: #bedf7c;" onclick="getCustomerInfo(<%= result[i].id %>)">
                            <% }else if(result[i].status=='COMPL'){ %>
                              <tr style="background-color: #F9EBEA;" onclick="getCustomerInfo(<%= result[i].id %>)">
                            <% }else if(result[i].status=='R'){ %>
                              <tr style="background-color: #E59866;" onclick="getCustomerInfo(<%= result[i].id %>)">
                            <% }else if(result[i].status=='AB'){ %>
                              <tr style="background-color: #F8C471;" onclick="getCustomerInfo(<%= result[i].id %>)">
                            <% } %> 

                          
                              <td><%= result[i].refNo %></td>
                              <td><%= result[i].name %></td>
                              <td><%= result[i].mobile %></td>
                              <td><%= statusArr[result[i].status] %></td>

                              <% if(result[i].status=='P') { %>

                              <td class="text-center"><a href="/userRequest/update/<%= result[i].id %>"><button type="button" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i>
                              </button></a></td>
                              <% }else{ %>
                              <td class="text-center">&nbsp;</td>

                              <% } %>

                              <% if((result[i].status=='AC' && result[i].paymentType=='') || result[i].status=='PS') { %>

                              <td class=""> 
                                <select name="paymentType" id="paymentType" required="" class="form-control" onchange="onchangePaymentType(this,<%= result[i].id %>)">
                                    <option value="" selected>Select Payment Type</option>
                                    <option value="cash" selected>Cash On Delievery</option>
                                    <option value="card" selected>Debit/Credit Card</option>
                                    <option value="bank" selected>Bank Transfer</option>
                                    
                                </select>
                              </td>
                              <td class="text-center"><button type="button" class="btn btn-danger" onclick="cancelRequest(<%= result[i].id %>,'R')">Cancel
                                </button>
                              </td>
                              
                                 <% if(result[i].status=='PS'){ %>

                                        <td class="text-center"><a href="/userRequest/pauseResume/<%= result[i].id %>/AC"><button type="button" class="btn btn-success"><i class="fa fa-play" aria-hidden="true"></i>
                                        </button></a></td>
                                        
                                        <% }else{ %>

                                        <td class="text-center"><a href="/userRequest/pauseResume/<%= result[i].id %>/PS"><button type="button" class="btn btn-warning"><i class="fa fa-pause" aria-hidden="true"></i>
                                        </button></a></td>

                                <% } %>

                              <% }else{ %>
                              <td class=""><%= paymentTypeArr[result[i].paymentType] %></td>
                              <td></td>
                              <td></td>

                              <% } %>

                              
                              
                            </tr>
                              
                            <% } %>
                           
                            
                          </tbody>
                         
                        </table>
                 </div>

              </div>

                    <!-- change code dsp -->


                    <!-- Modal -->
                  <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Customer Details</h4>
                        </div>
                        <div class="modal-body" id="modelDiv">

                          <!-- Row -->
                        </div>
                        <div class="modal-footer">
                          <input type="hidden" name="vehicleId" id="vehicleId">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!--End Modal-->

                 

            </div> <!-- END Wraper -->


            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
            });

            

            setTimeout(function(){

                location = '/home'
              },60000)




          function onchangePaymentType(paymentType,pickUpId){

            console.log(pickUpId);

            var paymentType = paymentType.value;

            var paymentTypeText = $("#paymentType").find("option:selected").text();

              swal({   
                  title: "Are you sure?",   
                  text: "Do you want to select "+paymentTypeText,   
                  type: "warning",   
                  showCancelButton: true,   
                  confirmButtonColor: "#DD6B55",   
                  confirmButtonText: "Yes!",   
                  cancelButtonText: "No, cancel!",   
                  closeOnConfirm: false,   
                  closeOnCancel: false 
              }, function(isConfirm){   
                  if (isConfirm) {     
                      swal("success!", "Payment Type "+paymentTypeText+" Selected.", "success");  

                          location.href = '/userRequest/paymentType/'+pickUpId+'/'+paymentType;
       
                  } else {     
                      swal("Cancelled", "Payment Type "+paymentTypeText+" Calcelled.", "error");   
                  } 
              });
          }


          function cancelRequest(pickUpId,status){

            console.log(pickUpId);

            var status = 'R';


              swal({   
                  title: "Are you sure?",   
                  text: "Do you want to cancel request!",   
                  type: "warning",   
                  showCancelButton: true,   
                  confirmButtonColor: "#DD6B55",   
                  confirmButtonText: "Yes!",   
                  cancelButtonText: "No, cancel!",   
                  closeOnConfirm: false,   
                  closeOnCancel: false 
              }, function(isConfirm){   
                  if (isConfirm) {     
                      swal("success!", "Customer Request Successfully Cancelled.", "success");  

                          location.href = '/userRequest/cancelRequest/'+pickUpId+'/'+status;
       
                  } else {     
                      swal("Cancelled", "Customer Request Cancelled..", "error");   
                  } 
              });
          }


          function getCustomerInfo(pickUpId){

            $.get('/userRequest/getCustomerInfo/'+pickUpId,function(data){

              console.log(data);

              if(data){
                var name = data[0].name;
                var email = data[0].email;
                var areaCode = data[0].areaCode;
                var createdByMgrName = data[0].createdByMgrName;
                var takenByMgrName = data[0].takenByMgrName;

              }

              $("#modelDiv").html('<table id="example" class="table table-bordered table-striped">'+
                                  '<thead>'+
                                    '<tr>'+
                                    '<th>Name</th>'+
                                    '<th>Email</th>'+
                                    '<th>Area Code</th>'+
                                    '<th>Created By</th>'+
                                    '<th>Taken By</th>'+
                                  '</tr></thead>'+
                                  '<tbody>'+
                                  '<tr>'+
                                  '<td>'+name+'</td>'+
                                  '<td>'+email+'</td>'+
                                  '<td>'+areaCode+'</td>'+
                                  '<td>'+createdByMgrName+'</td>'+
                                  '<td>'+takenByMgrName+'</td>'+
                                  '</tr>'+
                                '</table>');

              $('#myModal').modal('show');


            })
          }


        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
