<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">Menu Access Rights </h4>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

                <form class="form-horizontal m-t-40" method="post" action="/userRole/menuAccess">
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">User Role <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">

                                    <select name="userRole" required="" class="form-control" onchange="getData(this);">
                                        <option value="" selected>Select User Role</option>
                                        <% for(var i=0;i<userRolesData.length;i++){ 

                                        if(seletedUserRoleId==userRolesData[i].id){ %>

                                         <option value="<%= userRolesData[i].id %>" selected="" ><%= userRolesData[i].userRole %></option>

                                           <% }else{ %>

                                           <option value="<%= userRolesData[i].id %>" ><%= userRolesData[i].userRole %></option>


                                          <%  } %>
                                        
                                        <% } %>
                                    </select>

                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Menu Access <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <select id="multiple-checkboxes" name="subMenus" multiple="multiple">

                                        <% for(var i=0;i<menuSubMenusData.length;i++){ 
                                            if(menuSubMenusData[i].checkSelected){ %>

                                            <option value="<%= menuSubMenusData[i].subMenuId %>" selected=""><%= menuSubMenusData[i].subMenuName %></option>

                                        <% }else{ %>

                                            <option value="<%= menuSubMenusData[i].subMenuId %>"><%= menuSubMenusData[i].subMenuName %></option>

                                        <% }
                                        
                                        } %>

                                    </select>


                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">

                             <div class="form-group ">
                               
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-info btn-md" type="submit">Add</button>
                                </div>
                            </div>
                        </div>
                    </div> 

                </form>
                </div>

                <!-- change code dsp -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
              

            });


            function getData(elm){
                console.log(elm.value);

                var userRoleId = elm.value;

                window.location.href = '/userRole/menuAccess/'+userRoleId; //Will take you to Google.

            }
        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
