<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->
        <!--
            <div class="wraper container-fluid">
                <div class="page-title">
                    <h3 class="title">Welcome <%= result %> !</h3>
                </div>


            </div>-->


            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">Office Manager Dashboard</h3> 
                </div>



                    <!-- change code dsp-->
                  <div class="panel panel-color panel-primary">

                  
                      <% if (messages.success) { %>
                        <div id="successMessage" class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <%= messages.success %>
                        </div>
                        <% } %>

                         <% if (messages.error) { %>
                        <div id="successMessage" class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <%= messages.error %>
                        </div>
                        <% } %>

                        <div class="row">
                              <div class="col-md-6 nopadding-lr">
                                <h4>Confirmed Order Request</h4><br/>
                                <div  class="table-respnsive">
                                   <table id="example" class="table table-bordered" >
                                    <thead>
                                    <tr style="background-color: #7ea728;">
                                      
                                                             
                                      <th>Name</th>
                                      <th width="15%">Reference No.</th>
                                      <th width="20%">Mobile</th>
                                      <th>Area Code</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                      <% var statusArr = ({"P":"Verified","A":"Assigned Driver","C":"Completed"});
                                       var k=0;
                                      %>
                                     
                                     <% for(var i=0; i < result.length; i++) { 

                                       if(result[i].status=='CO'){ %>
                                            <tr style="background-color: #bedf7c;cursor: pointer" onclick="getOfficeConfirmedCustomerInfo(<%= result[i].id %>,'P')">
                                              
                                              
                                              <td><%= result[i].title %> <%= result[i].name %></td>
                                              <td><%= result[i].refNo %></td>
                                              <td><%= result[i].mobile %></td>
                                              <td><%= result[i].areaCode %></td>
                                              
                                              
                                              
                                            </tr>
                                          
                                        <% 

                                        k++;
                                      }

                                    } %>
                                     
                                      
                                    </tbody>
                                   
                                  </table>
                                </div>
                              </div>

                              <div class="col-md-6 nopadding-lr">
                                <!-- change code dsp-->
                                  
                                        
                                        <h4>View List Of Executed Request</h4><br/>
                                        <div  class="table-respnsive">
                                           <table id="example1" class="table table-bordered" >
                                            <thead>
                                            <tr style="background-color: #E6B0AA;">
                                            
                                           
                                            <th>Name</th>
                                            <th>Reference No.</th>
                                            <th>Mobile</th>
                                            <th>Area Code</th>
                                           
                                        
                                            </tr>
                                            </thead>
                                            <tbody>

                                              

                                                   <% for(var j=0; j < result.length; j++) { 

                                                   if(result[j].status=='EX'){

                                                       
                                                       %>
                                                        <tr style="background-color: #F9EBEA;cursor: pointer" onclick="getOfficeConfirmedCustomerInfo(<%= result[j].id %>,'C')">
                                                          <td><%= result[j].title %> <%= result[j].name %></td>
                                                          <td><%= result[j].refNo %></td>
                                                          
                                                          <td><%= result[j].mobile %></td>
                                                          <td><%= result[j].areaCode %></td>
                                                        
                                                          
                                                        </tr>
                                                      
                                                <% 
                                                   }

                                                  } %>
                                             
                                              
                                            </tbody>
                                           
                                          </table>
                                        </div>
                                      </div>
                                          
                                    </div><!-- row -->

              </div>

                    <!-- change code dsp -->


                    <!-- Modal -->
                  <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-xl">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Customer Pick Up Details</h4>
                        </div>
                        <div class="modal-body" id="modelDiv">

                          <!-- Row -->
                        </div>
                        <div class="modal-footer">
                          <div class="row">
                              <div class="col-md-12">
                                
                                <span id="excuteButton"></span>&nbsp;&nbsp;
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                             
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!--End Modal-->



                 

            </div> <!-- END Wraper -->


            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        
        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
                
                $('#example').DataTable( {
                  "paging":   false,
                  "ordering": false,
                  "info":     false
              });
                $('#example1').DataTable( {
                  "paging":   false,
                  "ordering": false,
                  "info":     false
              });

            });

              setTimeout(function(){

                location = '/home'
              },60000)


          function getOfficeConfirmedCustomerInfo(pickUpId,checkExecuted){

            $.get('/userRequest/getCustomerInfo/'+pickUpId,function(data){

              console.log(data);
              var paymentType = 0;
              var paymentStatus = 0;

              if(data){
                var name = data[0].name;
                var title = data[0].title;
                var email = data[0].email;
                var areaCode = data[0].areaCode;
                var address = data[0].address;
                var driverName = data[0].driverName;
                var driverMobile = data[0].driverMobile;
                var createdByMgrName = data[0].createdByMgrName;
                var takenByMgrName = data[0].takenByMgrName;
                var amount = data[0].amount;
                paymentType = data[0].paymentType;
                paymentStatus = data[0].paymentStatus;
                var dateTime = data[0].dateTime;

              }

               var paymentTypeArr = ({"cash":"Cash On Delivery","card":"Card","bank":"Bank"});
               var paymentStatusArr = ({"success":"Paid","failed":"Failed","Paid":"Paid"});

                if(paymentType){

                  paymentType = paymentTypeArr[data[0].paymentType];

                  if(paymentStatus){
                    paymentStatus = paymentStatusArr[data[0].paymentStatus];
                  }else{
                    paymentStatus='Pending';
                  }

                }


                if(paymentStatus==null){
                  paymentStatus='';
                }

                if(paymentType==null){
                  paymentType='';
                }

              var excuteButton ='';
              if(checkExecuted=='P')
                   excuteButton = '<a href="/userRequest/execute/'+pickUpId+'/EX" class="btn btn-purple">Execute</a>';

              $("#modelDiv").html('<table id="example" class="table table-bordered table-striped">'+
                                  '<thead>'+
                                    '<tr>'+
                                    '<th>Name</th>'+
                                    '<th>Email</th>'+
                                    '<th>Area Code</th>'+
                                    
                                    '<th>Driver Details</th>'+
                                    '<th>Payment Type</th>'+
                                    '<th>Amount</th>'+
                                    '<th>Payment Status</th>'+
                                    '<th>Created By</th>'+
                                    '<th>Taken By</th>'+
                                    '<th>PickUp Date Time</th>'+
                                  '</tr></thead>'+
                                  '<tbody>'+
                                  '<tr>'+
                                  '<td>'+title+' '+name+'</td>'+
                                  '<td>'+email+'</td>'+
                                  '<td>'+areaCode+'('+address+')</td>'+
                                  '<td>'+driverName+'('+driverMobile+')</td>'+
                                  '<td>'+paymentType+'</td>'+
                                  '<td>'+amount+'</td>'+
                                  '<td>'+paymentStatus+'</td>'+
                                  '<td>'+createdByMgrName+'</td>'+
                                  '<td>'+takenByMgrName+'</td>'+
                                  '<td>'+dateTime+'</td>'+

                                  '</tr>'+
                                '</table>');

              $("#excuteButton").html(excuteButton);

              $('#myModal').modal('show');


            })
          }


        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
