<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->
        <!--
            <div class="wraper container-fluid">
                <div class="page-title">
                    <h3 class="title">Welcome <%= result %> !</h3>
                </div>


            </div>-->


            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title"><%= ssnname %></h3> 
                </div>



                    <!-- change code dsp-->
                  <div class="panel panel-color panel-primary">
                    
                  </div>

                  <!--End Modal-->

                 

            </div> <!-- END Wraper -->


            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });

                $('#example').DataTable( {
                  "paging":   false,
                  "ordering": false,
                  "info":     false,
                  "scrollY":  '50vh',
                  "scrollCollapse": true
              });
            });

            

            setTimeout(function(){

                location = '/home'
              },600000)




          function onchangePaymentType(paymentType,pickUpId){

            console.log(pickUpId);

            var paymentType = paymentType.value;

            var paymentTypeText = $("#paymentType").find("option:selected").text();

              swal({   
                  title: "Are you sure?",   
                  text: "Do you want to select "+paymentTypeText,   
                  type: "warning",   
                  showCancelButton: true,   
                  confirmButtonColor: "#DD6B55",   
                  confirmButtonText: "Yes!",   
                  cancelButtonText: "No, cancel!",   
                  closeOnConfirm: false,   
                  closeOnCancel: false 
              }, function(isConfirm){   
                  if (isConfirm) {     
                      swal("success!", "Payment Type "+paymentTypeText+" Selected.", "success");  

                          location.href = '/userRequest/paymentType/'+pickUpId+'/'+paymentType;
       
                  } else {     
                      swal("Cancelled", "Payment Type "+paymentTypeText+" Calcelled.", "error");   
                  } 
              });
          }


          function cancelRequest(pickUpId){

            console.log(pickUpId);

            var status = 'R';


              swal({   
                  title: "Are you sure?",   
                  text: "Do you want to cancel request!",   
                  type: "warning",   
                  showCancelButton: true,   
                  confirmButtonColor: "#DD6B55",   
                  confirmButtonText: "Yes!",   
                  cancelButtonText: "No, cancel!",   
                  closeOnConfirm: false,   
                  closeOnCancel: false 
              }, function(isConfirm){   
                  if (isConfirm) {     
                      swal("success!", "Customer Request Successfully Cancelled.", "success");  

                          location.href = '/userRequest/cancelRequest/'+pickUpId+'/'+status;
       
                  } else {     
                      swal("Cancelled", "Customer Request Cancelled..", "error");   
                  } 
              });
          }


          function getCustomerInfo(pickUpId,checkEdit,checkPayment,checkPauseReumeDisabled){

            $.get('/userRequest/getCustomerInfo/'+pickUpId,function(data){

              console.log(data);

              if(data){
                var name = data[0].name;
                var email = data[0].email;
                var areaCode = data[0].areaCode;
                var createdByMgrName = data[0].createdByMgrName;
                var takenByMgrName = data[0].takenByMgrName;
                var numberOfTrips = data[0].numberOfTrips;


              }

              console.log(checkPayment);

              var editButton = '';
              if(checkEdit=='true')
                 editButton = '<a href="/userRequest/update/'+pickUpId+'" class="btn btn-purple"><i class="fa fa-pencil" aria-hidden="true"></a>';

               var cancelButton = '';
               var paymentButton = '';
               var resumePauseButton = '';

              if(checkPayment=='true'){
                 cancelButton = '<button type="button" class="btn btn-danger" onclick="cancelRequest('+pickUpId+')">Cancel</button>';

                  paymentButton = '<select name="paymentType" id="paymentType" required="" class="form-control" style="width:auto; display:inline-block" onchange="onchangePaymentType(this,'+pickUpId+')">'+
                        '<option value="" selected>Select Payment Type</option>'+
                        '<option value="cash" selected>Cash On Delievery</option>'+
                        '<option value="card" selected>Debit/Credit Card</option>'+
                        '<option value="bank" selected>Bank Transfer</option>'+
                    '</select>';

                    if(checkPauseReumeDisabled=='false'){

                      resumePauseButton = '<a href="/userRequest/pauseResume/'+pickUpId+'/AC"><button type="button" class="btn btn-success"><i class="fa fa-play" aria-hidden="true"></i></button></a>';

                    }else{
                      resumePauseButton='<a href="/userRequest/pauseResume/'+pickUpId+'/PS"><button type="button" class="btn btn-warning"><i class="fa fa-pause" aria-hidden="true"></i></button></a>';

                    }

               }


              $("#modelDiv").html('<table id="example" class="table table-bordered table-striped">'+
                                  '<thead>'+
                                    '<tr>'+
                                    '<th>Name</th>'+
                                    '<th>Email</th>'+
                                    '<th>No Of Trips</th>'+
                                    '<th>Area Code</th>'+
                                    '<th>Created By</th>'+
                                    '<th>Taken By</th>'+
                                  '</tr></thead>'+
                                  '<tbody>'+
                                  '<tr>'+
                                  '<td>'+name+'</td>'+
                                  '<td>'+email+'</td>'+
                                  '<td>'+numberOfTrips+'</td>'+
                                  '<td>'+areaCode+'</td>'+
                                  '<td>'+createdByMgrName+'</td>'+
                                  '<td>'+takenByMgrName+'</td>'+
                                  '</tr>'+
                                '</table>');

              $("#editButton").html(editButton);
              $("#cancelButton").html(cancelButton);
              $("#paymentButton").html(paymentButton);
              $("#resumePauseButton").html(resumePauseButton);

              

              $('#myModal').modal('show');


            })
          }


        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
