<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">Add Vehicle </h4>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

                <form class="form-horizontal m-t-40" method="post" action="/vehicle" enctype="multipart/form-data">
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>



                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-4 control-label text-left" for="userName1">Plate Number <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control " type="text" name="vehicleNumber" required="" placeholder="Vehicle Number">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Area Code <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <select name="areaCode" required="" class="selectpicker" data-live-search="true">
                                        <% for(var i=0;i<areaData.length;i++){ %>

                                         <option value="<%= areaData[i].areaCode %>" selected="" ><%= areaData[i].areaCode %> - <%= areaData[i].description %></option>
                                        
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>

                         <!-- <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-4 control-label text-left" for="userName1">Area Code <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control " type="text" name="areaCode" required="" placeholder="Area Code">
                                </div>
                            </div>
                        </div> -->

                        
                    </div>


                    <div class="row">

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-4 control-label text-left" for="userName1">Vehicle Colour <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-8">
                                    <select name="vehicleColour" required="" class="form-control">
                                        <option value="" selected>Select Colour</option>
                                        <option value="Blue">Blue</option>
                                        <option value="Green">Green</option>
                                        <option value="Yellow">Yellow</option>
                                        <option value="Pink">Pink</option>
                                        <option value="Black">Black</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-4 control-label text-left" for="userName1">Vehicle License <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control " type="file" name="vehicleLicense" required="" placeholder="" accept=".pdf,.jpg">
                                </div>
                            </div>
                        </div>

                        
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-4 control-label text-left" for="userName1">Roadworthiness <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control " type="file" name="roadworthiness" required="" placeholder="" accept=".pdf,.jpg">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-4 control-label text-left" for="userName1">SWADAN Certificate <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control " type="file" name="swadanCertificate" required="" placeholder="" accept=".pdf,.jpg">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-4 control-label text-left" for="userName1">Third Party Insurance <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control " type="file" name="insurance" required="" placeholder="" accept=".pdf,.jpg">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-4 control-label text-left" for="userName1">Lagos State Permit<span style="color: #FF5733">*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control " type="file" name="lagosStatePermit" required="" placeholder="" accept=".pdf,.jpg">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-4 control-label text-left" for="userName1">Pooplogg Inspection Certificate <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control " type="file" name="poopLogInspectionCert" required="" placeholder="" accept=".pdf,.jpg">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-4 control-label text-left" for="userName1">Hackney Permit <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control " type="file" name="hackneyPermit" required="" placeholder="" accept=".pdf,.jpg">
                                </div>
                            </div>
                        </div>
                    </div>


                     <div class="row">
                        <div class="col-md-12">

                            <div class="form-group ">
                               
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-info w-md" type="submit">Add</button>
                                </div>
                            </div>
                        </div>

                        
                    </div>



                </form>
                </div>

                <!-- change code dsp -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
            });
        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
