<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h3 class="title">View Added Vehicles</h3>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

              
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>

                      <table id="example" class="table table-bordered table-striped">
                      <thead>
                      <tr style="background-color:'';">
                        <th>Plate Number</th>
                        <th>Area Code</th>
                        <th>Vehicle Colour</th>
                        <th>Vehicle License</th>
                        <th>Hackney Permit</th>
                        <th>Roadworthiness</th>
                        <th>Swadan Certificate</th>
                        <th>Third Party Insurance</th>
                        <th>Lagos State Permit</th>
                        <th>Pooplog Inspection Certificate</th>


                      </tr>
                      </thead>
                      <tbody>

                       <% for(var i=0; i < data.length; i++) { %>
                        <tr>
                          <td style="cursor: pointer;" onclick="truckDetails(<%= data[i].id %>)"><%= data[i].vehicleNumber %></td>
                          <td><%= data[i].areaCode %></td>

                          <td><%= data[i].vehicleColour %></td>

                          <td class="text-center">
                            <span class="fa fa-download" onclick="downloadFile(<%= data[i].id %>,'vehicleLicense','<%= data[i].vehicleLicense %>');"></span>
                           </td>

                           <td class="text-center">
                            <span class="fa fa-download" onclick="downloadFile(<%= data[i].id %>,'hackneyPermit','<%= data[i].hackneyPermit %>');"></span>
                           </td>

                           <td class="text-center">
                            <span class="fa fa-download" onclick="downloadFile(<%= data[i].id %>,'roadworthiness','<%= data[i].roadworthiness %>');"></span>
                           </td>

                            <td class="text-center">
                              <span class="fa fa-download" onclick="downloadFile(<%= data[i].id %>,'swadanCertificate','<%= data[i].swadanCertificate %>');"></span>
                           </td>

                           <td class="text-center">
                            <span class="fa fa-download" onclick="downloadFile(<%= data[i].id %>,'insurance','<%= data[i].insurance %>');"></span>
                           </td>

                           <td class="text-center">
                            <span class="fa fa-download" onclick="downloadFile(<%= data[i].id %>,'lagosStatePermit','<%= data[i].lagosStatePermit %>');"></span>
                           </td>

                           <td class="text-center">
                              <span class="fa fa-download" onclick="downloadFile(<%= data[i].id %>,'poopLogInspectionCert','<%= data[i].poopLogInspectionCert %>');"></span>
                           </td>

                          
                        </tr>
                       
                          
                        <% } %>
                       
                        
                      </tbody>
                     
                    </table>


                </div>

                <!-- change code dsp -->


                <!-- Modal -->
                  <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Vehicle Details</h4>
                        </div>
                        <div class="modal-body" id="modelDiv">

                          <!-- Row -->
                        </div>
                        <div class="modal-footer">
                          <input type="hidden" name="vehicleId" id="vehicleId">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!--End Modal-->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
                
                $('#example').DataTable();

            });



            function downloadFile(id,columnName,fileName){

              console.log(id);
              console.log(columnName);
              console.log(fileName);

              window.location.href = '/vehicle/download/'+id+'/'+columnName+'/'+fileName; //Will take you to Google.


            }
            function truckDetails(vehicleId) {
              $.get('/vehicle/admin/vehicleDriver/'+vehicleId,function(data){
                if(data.length) {

                  console.log(data);

                var checkspoterObj = JSON.stringify(data[0].spoterObj);
                var checkdriverObj = JSON.stringify(data[0].driverObj);
                var assignUsers1 = JSON.stringify(data[0].assignUsers);

                  var assignUsers = JSON.parse(assignUsers1);
                console.log(assignUsers.length);

                var driverOptions='<option value="">Please Select Driver</option>';
                var spoterOptions = '<option value="">Please Select Driver Assistant</option>';

                assignUsers.map(function(elm){

                  console.log(elm.name);
                  var driverId=elm.id;
                  var driverName=elm.name;
                  var userType = elm.userType;

                  if(userType==7){
                      driverOptions += '<option value="'+elm.id+'">'+driverName+'</option>';
                  }

                  if(userType==8){
                      spoterOptions += '<option value="'+elm.id+'">'+driverName+'</option>';
                  }


                });
                
                console.log(driverOptions);

                if(checkdriverObj=='{}'){
                  var driver='<div class="form-group ">'+
                                '<label class="control-label text-left" for="userName1">Driver Name</label>'+
                                '<div class="">'+
                                    '  <select name="driverName" id="driverName" required="" class="form-control">'+
                                       driverOptions+
                                    '</select>'+
                                '</div>'+
                            '</div>'+

                            '<div class="form-group ">'+
                              '<div class="col-sm-12 text-right">'+
                                  '<button class="btn btn-info w-md" type="button" onclick="addDriver();">Assign</button>'+
                                '</div>'+
                            '</div>';
                }else{
                  var driver ='<div class="text-center"><img style="width:70px;border-radius:100px;" src="/user_images/'+data[0].driverObj.profileImage+'"></div>'+
                                    '<div class="form-group ">'+
                                        '<label class="control-label text-left" for="userName1">Driver Name </label>'+
                                        '<div class="">'+
                                          '<p>'+data[0].driverObj.name+'</p>'+
                                            
                                        '</div>'+
                                    '</div>'+

                                    '<div class="form-group ">'+
                                        '<label class="control-label text-left" for="userName1">Email</label>'+
                                        '<div class="">'+
                                            '<p>'+data[0].driverObj.email+'</p>'+
                                        '</div>'+
                                    '</div>'+

                                    '<div class="form-group ">'+
                                        '<label class="control-label text-left" for="userName1">Mobile No.</label>'+
                                        '<div class="">'+
                                            '<p>'+data[0].driverObj.mobile+'</p>'+
                                        '</div>'+
                                    '</div>';

                }

                if(checkspoterObj=='{}'){
                  var Spoter='<span style="color: #FF5733">No Driver Assistant available</span>';

                  var Spoter='<div class="form-group ">'+
                                '<label class="control-label text-left" for="userName1">Driver Assistant Name</label>'+
                                '<div class="">'+
                                    '  <select name="spoterName" id="spoterName" required="" class="form-control">'+
                                        spoterOptions+
                                    '</select>'+
                                '</div>'+
                            '</div>'+
                            '<div class="form-group ">'+
                              '<div class="col-sm-12 text-right">'+
                                  '<button class="btn btn-info w-md" type="button" onclick="addSpoterBoy();">Assign</button>'+
                                '</div>'+
                            '</div>';;

                }else{

                var Spoter = '<div class="text-center"><img style="width:70px;border-radius:100px;" src="/user_images/'+data[0].spoterObj.profileImage+'"></div>'+
                                    '<div class="form-group ">'+
                                        '<label class="control-label text-left" for="userName1">Driver Assistant Name </label>'+
                                        '<div class="">'+
                                          '<p>'+data[0].spoterObj.name+'</p>'+
                                            
                                        '</div>'+
                                    '</div>'+

                                    '<div class="form-group ">'+
                                        '<label class="control-label text-left" for="userName1">Email</label>'+
                                        '<div class="">'+
                                            '<p>'+data[0].spoterObj.email+'</p>'+
                                        '</div>'+
                                    '</div>'+

                                    '<div class="form-group ">'+
                                        '<label class="control-label text-left" for="userName1">Mobile No.</label>'+
                                        '<div class="">'+
                                            '<p>'+data[0].spoterObj.mobile+'</p>'+
                                        '</div>'+
                                    '</div>';
                  }

                $("#modelDiv").html('<div class="row">'+
                                '<div class="col-md-6" style="border-right: solid 1px #eee;">'+
                                  '<div class="text-center">Driver Details</div>'+
                                  driver+
                                '</div>'+

                                '<div class="col-md-6" style="border-right: solid 1px #eee;">'+
                                  '<div class="text-center">Driver Assistant Details</div>'+
                                  Spoter+
                                '</div>'+

                              '</div>');

                $("#vehicleId").val(vehicleId);

                  $('#myModal').modal('show');
                }else{
                  swal({
                      title: "Vehicle Info",
                      text: "Driver and Driver Assistant not available.",
                      icon: "success",
                      button: "Ok",
                    });

                }

              })
          

            }

            function addDriver(){

             var driverId = $("#driverName").val();
             var vehicleId = $("#vehicleId").val();
             var assignUserType = 'D';

              $.post('/vehicle/assign/driver/'+vehicleId+'/'+driverId+'/'+assignUserType,function(data){

                var msg = 'Driver added successfully.';

                swal({
                      title: "Driver Added",
                      text: msg,
                      icon: "success",
                      button: "Ok",
                    });

                truckDetails(vehicleId);

              });
            }

            function addSpoterBoy(){

             var spoterId = $("#spoterName").val();
             var vehicleId = $("#vehicleId").val();
             var assignUserType= 'S';
              $.post('/vehicle/assign/driver/'+vehicleId+'/'+spoterId+'/'+assignUserType,function(data){

                var message = data.msg;

                swal({
                      title: "Driver Assistant Added",
                      text: message,
                      icon: "success",
                      button: "Ok",
                    });

                truckDetails(vehicleId);

              });
            }


        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>



