<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h3 class="title">Vehicle List</h3>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

              
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>

                      <table id="example" class="table table-bordered table-striped">
                      <thead>
                      <tr style="background-color:'';">
                        <th>Plate Number</th>
                        <th>Area Code</th>
                        <th>Vehicle Colour</th>
                        <th>Vehicle License</th>
                        <th>Hackney Permit</th>
                        <th>Roadworthiness</th>
                        <th>Swadan Certificate</th>
                        <th>Third Party Insurance</th>
                        <th>Lagos State Permit</th>
                        <th>Pooplog Inspection Certificate</th>


                      </tr>
                      </thead>
                      <tbody>

                       <% for(var i=0; i < data.length; i++) { %>
                        <tr>
                          <td><%= data[i].vehicleNumber %></td>
                          <td><%= data[i].areaCode %></td>

                          <td><%= data[i].vehicleColour %></td>

                          <td class="text-center">
                            <span class="fa fa-download" onclick="downloadFile(<%= data[i].id %>,'vehicleLicense','<%= data[i].vehicleLicense %>');"></span>
                           </td>

                           <td class="text-center">
                            <span class="fa fa-download" onclick="downloadFile(<%= data[i].id %>,'hackneyPermit','<%= data[i].hackneyPermit %>');"></span>
                           </td>

                           <td class="text-center">
                            <span class="fa fa-download" onclick="downloadFile(<%= data[i].id %>,'roadworthiness','<%= data[i].roadworthiness %>');"></span>
                           </td>

                            <td class="text-center">
                              <span class="fa fa-download" onclick="downloadFile(<%= data[i].id %>,'swadanCertificate','<%= data[i].swadanCertificate %>');"></span>
                           </td>

                           <td class="text-center">
                            <span class="fa fa-download" onclick="downloadFile(<%= data[i].id %>,'insurance','<%= data[i].insurance %>');"></span>
                           </td>

                           <td class="text-center">
                            <span class="fa fa-download" onclick="downloadFile(<%= data[i].id %>,'lagosStatePermit','<%= data[i].lagosStatePermit %>');"></span>
                           </td>

                           <td class="text-center">
                              <span class="fa fa-download" onclick="downloadFile(<%= data[i].id %>,'poopLogInspectionCert','<%= data[i].poopLogInspectionCert %>');"></span>
                           </td>

                          
                        </tr>
                          
                        <% } %>
                       
                        
                      </tbody>
                     
                    </table>


                </div>

                <!-- change code dsp -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
                
                $('#example').DataTable();

            });



            function downloadFile(id,columnName,fileName){

              console.log(id);
              console.log(columnName);
              console.log(fileName);

              window.location.href = '/vehicle/download/'+id+'/'+columnName+'/'+fileName; //Will take you to Google.


            }


        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
