<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">Approved Partner List</h4>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

              
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>

                      <table id="example" class="table table-bordered table-striped table-responsive">
                      <thead>
                      <tr style="background-color:'';">
                        <th>Company Name</th>
                        <th>Email</th>
                        <th>Type</th>
                        <th>Directors Name</th>
                        <th>Contact No</th>
                        <th>Address</th>
                        <th>Deposit</th>
                        <th>Incorporation Certificate</th>
                        <th>Proof Of Ownership</th>
                        <th></th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody>

                       <% for(var i=0; i < data.length; i++) { %>
                        <tr>
                          <td><%= data[i].name %></td>
                          <td><%= data[i].email %></td>
                          <td><%= data[i].partnerType %></td>
                          <td><%= data[i].directors %></td>
                          <td><%= data[i].mobile %></td>
                          <td><%= data[i].address %></td>
                          <td><%= data[i].amount %></td>
                          <td class="text-center">
                            <span onclick="downloadFile(<%= data[i].id %>,'certificateOfIncorporation','<%= data[i].certificateOfIncorporation %>');" class="fa fa-download"></span>

                           </td>

                           <td class="text-center">
                            <span onclick="downloadFile(<%= data[i].id %>,'proofOfOwnership','<%= data[i].proofOfOwnership %>');" class="fa fa-download" ></span>

                           </td>
                        <!--  
                          <td><a href="/partners/partnersRequest/<%= data[i].id %>/R"><button type="button" class="btn btn-danger">Reject</button></a>
                          </td>-->
                          <td class="text-center"><a href="/partners/update/<%= data[i].id %>"><button type="button" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i>
</button></a>
                          </td>
                          <td class="text-center">
                            <button type="button" id="<%= data[i].id %>" class="btn btn-danger sa-user"><i class="fa fa-trash" aria-hidden="true"></i>
</button>
                          </td>
                        </tr>
                          
                        <% } %>
                       
                        
                      </tbody>
                     
                    </table>


                </div>

                <!-- change code dsp -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
                
                $('#example').DataTable();

            });

            function downloadFile(id,columnName,filename){

              console.log(id);
              console.log(filename);

              window.location.href = '/partners/download/'+id+'/'+columnName+'/'+filename; //Will take you to Google.
            }


      $('.sa-user').click(function(e){


      var userId = $(e.currentTarget).attr("id"); 

        swal({   
            title: "Are you sure?",   
            text: "Do you want to delete user!",   
            type: "warning",   
            showCancelButton: true,   
            confirmButtonColor: "#DD6B55",   
            confirmButtonText: "Yes, delete it!",   
            cancelButtonText: "No, cancel!",   
            closeOnConfirm: false,   
            closeOnCancel: false 
        }, function(isConfirm){   
            if (isConfirm) {     
                swal("Deleted!", "User has been deleted.", "success");  

                    location.href = '/partners/delete/'+userId;
 
            } else {     
                swal("Cancelled", "User not deleted :)", "error");   
            } 
        });
    });

        </script>

    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
