<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h3 class="title">My Profile</h3>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

                <form class="form-horizontal m-t-40" method="post" action="driver" enctype="multipart/form-data">
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>


                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th colspan="3"><img src="/user_images/<%= ssnprofileImage %>" class="img-circle profile-img thumb-md"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>Company Name</b></td>
                                <td>
                                    <%= data[0].name %>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Email</b></td>
                                <td>
                                    <%= data[0].email %>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Directors</b></td>
                                <td>
                                    <%= data[0].directors %>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Address</b></td>
                                <td>
                                    <%= data[0].address %>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Contact No</b></td>
                                <td><%= data[0].mobile %></td>
                            </tr>
                            <tr>
                                <td><b>Deposit</b></td>
                                <td><%= data[0].amount %></td>
                            </tr>
                            <tr>
                                <td><b>Incorporation Certificate</b></td>
                                <td><span onclick="downloadFile(<%= data[0].id %>,'certificateOfIncorporation','<%= data[0].certificateOfIncorporation %>');" class="fa fa-download"></span>
                                </td>

                            </tr>
                             <tr>
                                <td><b>Proof Of Ownership</b></td>
                                <td><span onclick="downloadFile(<%= data[0].id %>,'proofOfOwnership','<%= data[0].proofOfOwnership %>');" class="fa fa-download" ></span>
                                </td>

                            </tr>
                            
                            
                        </tbody>
                    </table>

                    <div class="form-group text-right">
                        <div class="col-xs-12">
                            <a href="/partners/update/<%= data[0].id %>"><button class="btn btn-purple w-md" type="button">Edit Profile</button></a>
                        </div>
                    </div>

                </form>
                </div>

                <!-- change code dsp -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
            });

            function downloadFile(id,columnName,filename){

              console.log(id);
              console.log(filename);

              window.location.href = '/partners/download/'+id+'/'+columnName+'/'+filename; //Will take you to Google.
            }
        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
