<!DOCTYPE html>
<html lang="en">


  <% include ../partials/header.ejs %>

    <body>

        <div class="wrapper-page animated fadeInDown">
            <div class="panel panel-color panel-primary">
              <div class="panel-heading text-center">
                 <img src="../img/logo.png" class="img-responsive">
              </div>
              <br>
                 <h3 class="text-center">Partner Registration</h3>

                <form class="form-horizontal m-t-40" method="post" action="partnerSignup" enctype="multipart/form-data">
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>


                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control " type="text" name="name" required="" placeholder="Company Name">
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control " type="text" name="email" required="" placeholder="Email">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input name="directors" id="tags" class="form-control" placeholder="Directors" value="" />
                        </div>
                    </div><!-- form-group -->

                    <div class="form-group">
                        <div class="col-xs-12">
                            <textarea class="form-control" name="address" placeholder="Company Address" rows="5"></textarea>
                        </div>
                    </div><!-- form-group -->

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control " type="text" name="mobile" required="" maxlength="12" placeholder="Contact No">
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <select name="partnerType" required="" class="form-control" onchange="documentsShow(this);">
                                <option value="" selected >Partner Type</option>
                                <option value="Corporate">Corporate</option>
                                <option value="individual">individual</option>
                            </select>
                        </div>
                    </div>

                    
                    <div style="display: none;" id="CorporateDocumentsDiv">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="file" name="certificateOfIncorporation" accept=".pdf,.jpg">
                                <p>Certificate Of Incorporation</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="file" name="proofOfOwnership" accept=".pdf,.jpg">
                                <p>Proof Of Ownership</p>
                            </div>
                        </div>
                    </div>

                    <div style="display: none;" id="IndivisualDocumentsDiv">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control " type="file" name="certificateOfIncorporation" accept=".pdf,.jpg">
                                <p>Valid ID Card</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control " type="file" name="proofOfOwnership" accept=".pdf,.jpg">
                                <p>Proof Of Ownership</p>
                            </div>
                        </div>
                    </div>

                    

                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class="cr-styled">
                                <input type="checkbox" checked>
                                <i class="fa"></i>
                                 I accept <strong><a href="/terms">Terms and Conditions</a></strong>
                            </label>
                        </div>
                    </div>

                    <div class="form-group text-right">
                        <div class="col-xs-12">
                            <button class="btn btn-purple w-md" type="submit">Register</button>
                        </div>
                    </div>

                    <!--<div class="form-group m-t-30">
                        <div class="col-sm-12 text-center">
                            <a href="/signup">Register as Client</a>
                        </div>
                    </div>-->


                    <div class="form-group m-t-30">
                        <div class="col-sm-12 text-center">
                            <a href="login">Already have account?</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>

          <% include ../partials/footer.ejs %>

    </body>
<script>

 setTimeout(function() {
            $('#successMessage').fadeOut('fast');
            }, 10000);

 function documentsShow(partnerType) {
     var partnerType = partnerType.value;

     if(partnerType=='Corporate'){
        $("#CorporateDocumentsDiv").show();
        $("#IndivisualDocumentsDiv").hide();
     }else{
        $("#IndivisualDocumentsDiv").show();
        $("#CorporateDocumentsDiv").hide();
     }
 }

</script>
</html>
