<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">Partners Pending For Approval</h4>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

              
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>

                      <!--<table id="example" class="table table-bordered table-striped">-->
                      <table  id="example1"  class="table table-bordered table-responsive table-striped">

                      <thead>
                      <tr >
                        <th>Sr.No.</th>
                        <th>Company Name</th>
                        <th>Email</th>
                        <th>Directors Name</th>
                        <th>Contact No</th>
                        <th>Address</th>
                        <th>Incorporation Certificate</th>
                        <th>Proof Of Ownership</th>
                        <th>Approve</th>
                        <th>Reject</th>
                      </tr>
                      </thead>
                      <tbody>

                       <% for(var i=0; i < data.length; i++) { %>
                        <tr>
                          <td><%= i+1 %></td>
                          <td><%= data[i].name %></td>
                          <td><%= data[i].email %></td>
                          <td><%= data[i].directors %></td>
                          <td><%= data[i].mobile %></td>
                          <td><%= data[i].address %></td>
                           <td class="text-center">
                            <span onclick="downloadFile(<%= data[i].id %>,'certificateOfIncorporation','<%= data[i].certificateOfIncorporation %>');" class="fa fa-download"></span>

                           </td>

                           <td class="text-center">
                            <span onclick="downloadFile(<%= data[i].id %>,'proofOfOwnership','<%= data[i].proofOfOwnership %>');" class="fa fa-download" ></span>

                           </td>
                           <% if(data[i].paymentStatus=='success'){ %>
                          <td class="text-center">
                            <a href="/partners/partnersRequest/<%= data[i].id %>/Y"><button type="button" class="btn btn-success btn-sm"><i class="fa fa-check" aria-hidden="true"></i>
                          </button></a>
                          </td>
                          <% }else{ %>
                          <td class="text-center">
                          </td>

                         <% } %>
                          <td class="text-center"><a href="/partners/partnersRequest/<%= data[i].id %>/R"><button type="button" class="btn btn-danger btn-sm"><i class="fa fa-times" aria-hidden="true"></i>
</button></a>
                          </td>
                        </tr>
                          
                        <% } %>
                       
                        
                      </tbody>
                     
                    </table>


                </div>

                <!-- change code dsp -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
                
                $('#example1').DataTable();

            });

            function downloadFile(id,columnName,filename){

              console.log(id);
              console.log(filename);

              window.location.href = '/partners/download/'+id+'/'+columnName+'/'+filename; //Will take you to Google.
            }

        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
