<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">Update Partner</h4>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

                <form class="form-horizontal m-t-40" method="post" action="/partners/updateProfile" enctype="multipart/form-data">
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %> 

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>


                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Company Name<span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control " type="text" name="name" required="" placeholder="Company Name" value="<%= data[0].name%>">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Email <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="email" name="email" required="" placeholder="Email" value="<%= data[0].email%>">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Directors<span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input name="directors" id="tags" class="form-control" placeholder="Directors" value="<%= data[0].directors%>" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Mobile No. <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control " type="text" name="mobile" required="" placeholder="Contact No" value="<%= data[0].mobile%>">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Partner Type<span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <select name="partnerType" id="partnerType" required="" class="form-control" onchange="documentsShow(this);">
                                        <option value=""  >Partner Type</option>
                                        <option value="Corporate" <% if(data[0].partnerType=='Corporate'){ %>selected<%}%> >Corporate</option>
                                        <option value="Indivisual" <% if(data[0].partnerType=='Indivisual'){ %>selected<%}%>>Indivisual</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row" style="display: none;" id="CorporateDocumentsDiv">
                            
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Certificate Of Incorporation<span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="file" name="certificateOfIncorporation" accept=".pdf,.jpg">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Proof Of Ownership<span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="file" name="proofOfOwnership" accept=".pdf,.jpg">
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row" style="display: none;" id="IndivisualDocumentsDiv">
                            
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Valid ID Card<span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control " type="file" name="certificateOfIncorporation" accept=".pdf,.jpg">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Proof Of Ownership<span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control " type="file" name="proofOfOwnership" accept=".pdf,.jpg">
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group ">
                               
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-info btn-md" type="submit">Update</button>
                                </div>
                            </div>
                        </div>  

                    </div>

                   <input type="hidden" name="id" id="id" value="<%= data[0].id %>">

                </form>
                </div>

                <!-- change code dsp -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });

                    var partnerType = $("#partnerType").val();
                    documentsShowLoad(partnerType);
            });

            function documentsShowLoad(partnerType) {

                 if(partnerType=='Corporate'){
                    $("#CorporateDocumentsDiv").show();
                    $("#IndivisualDocumentsDiv").hide();
                 }else{
                    $("#IndivisualDocumentsDiv").show();
                    $("#CorporateDocumentsDiv").hide();
                 }
             }

            function documentsShow(partnerType) {
                 var partnerType = partnerType.value;

                 if(partnerType=='Corporate'){
                    $("#CorporateDocumentsDiv").show();
                    $("#IndivisualDocumentsDiv").hide();
                 }else{
                    $("#IndivisualDocumentsDiv").show();
                    $("#CorporateDocumentsDiv").hide();
                 }
             }
        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
