<!DOCTYPE html>
<html lang="en">
          <% include ../partials/header.ejs %>
    <body>

        <div class="wrapper-page animated fadeInDown">
            <div class="panel panel-color panel-primary">
                <div class="panel-heading text-center">
                   <img src="img/logo.png" class="img-responsive">
                </div>

                <form class="form-horizontal m-t-40" method="post" action="/login">
                <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                <% } %>

                <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>


                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" name="username" placeholder="Username" required="">
                        </div>
                    </div>
                    <div class="form-group ">

                        <div class="col-xs-12">
                            <input class="form-control" type="password" name="password" placeholder="Password" required="">
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <label class="cr-styled">
                                <input type="checkbox" checked>
                                <i class="fa"></i>
                                Remember me
                            </label>
                        </div>
                    </div>

                    <div class="form-group text-right">
                        <div class="col-sm-5 text-right">&nbsp;
                            <!--<a href="partnerSignup">Register as Partner</a>-->
                        </div>
                        <div class="col-xs-7">
                            
                            <button class="btn btn-purple w-md" type="submit">Log In</button>
                        </div>
                    </div>
                    <div class="form-group m-t-30">
                        <div class="col-sm-7">
                            <a href="/forgotPassword"><i class="fa fa-lock m-r-5"></i> Forgot Password?</a>
                        </div>
                        <!--
                        <div class="col-sm-5 text-right">
                            <a href="signup">Create an account</a>Register as Partner

                        </div>-->
                    </div>
                </form>

            </div>
        </div>


          <% include ../partials/footer.ejs %>


    </body>

</html>
