<!DOCTYPE html>
<html lang="en">
          <% include ../partials/header.ejs %>
    <body>

        <div class="wrapper-page animated fadeInDown">
            <div class="panel panel-color panel-primary">
                <div class="panel-heading text-center">
                   <img src="/img/logo.png" class="img-responsive">
                </div>

                <form class="form-horizontal m-t-40" name="myForm" id="myForm" method="post" action="/setPassword">
                <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                <% } %>

                <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>


                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" name="password" id="password" minlength="6" placeholder="Password" required="">
                        </div>
                    </div>
                    <div class="form-group ">

                        <div class="col-xs-12">
                            <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" minlength="6" placeholder="Confirm Password" required="">
                        </div>
                    </div>
			<input type="hidden" name="email" value="<%= email %>">
			<input type="hidden" name="id" value="<%= id %>">
                    

                    <div class="form-group text-right">
                        <div class="col-xs-12">
                            <button class="btn btn-purple w-md" type="button" onclick="Validate();">Save</button>
                        </div>
                    </div>
                    <div class="form-group m-t-30">
                        <div class="col-sm-7">
                            <a href="/"><i class="fa fa-lock m-r-5"></i> Login</a>
                        </div>
                        <div class="col-sm-5 text-right">
                            <a href="signup">Create an account</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>


          <% include ../partials/footer.ejs %>

<script>
     function Validate() {

        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;

        if(password==''){
            alert("Password is required");
            return false;

        }

        if(password.length<6){

            alert("Passwords must be at least 6 characters long.");
            return false;

        }

        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
 	document.getElementById("myForm").submit(); 
        return true;
    }

</script>


    </body>

</html>
