<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">View Mobile Request</h4>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

              
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>

                      <table id="example" class="table table-respnsive table-bordered table-striped">
                          <thead>
                          <tr style="background-color:'';">
                            <th>Reference No.</th> 
                            <th>Name</th>                      
                            <th>Mobile</th>
                            <th>Status</th>
                          </tr>
                          </thead>
                          <tbody>

                            <% 

                            var statusArr = ({"P":"Unverified","AC":"Accepted","CO":"Confirmed","COMPL":"Completed","R":"Rejected","AB":"Abandoned","EXE":"Executed"});

                            for(var i=0; i < apiResult.length; i++) { 


                              var checkPayment = false;
                              var checkEdit = false;
                              var checkPauseReumeDisabled = false;
                              var checkAccept = true;

                              %>

                            
                                <tr style="background-color: #bedf7c;cursor: pointer;" onclick="getCustomerMobileInfo(<%= apiResult[i].id %>,'<%= checkEdit %>','<%= checkPayment %>','<%= checkPauseReumeDisabled %>','<%= checkAccept %>')">
                          

                            
                                <td><%= apiResult[i].refNo %></td>
                                <td><%= apiResult[i].name %></td>
                                <td><%= apiResult[i].mobile %></td>
                                <td><%= statusArr[apiResult[i].status] %></td>
                                
                                
                              </tr>
                                
                              <% 
                            
                          } %>
                           
                            
                          </tbody>
                         
                          </table>


                </div>

                <!-- change code dsp -->

                <!-- Modal -->
                  <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Customer Pick Up Details</h4>
                        </div>
                        <div class="modal-body" id="modelDiv">

                          <!-- Row -->
                        </div>
                        <div class="modal-footer">
                          
                          <div class="row">
                              <div class="col-md-12">
                                
                                <span id="editButton"></span>&nbsp;&nbsp;
                                <span id="paymentButton"></span>&nbsp;&nbsp;
                                <span id="resumePauseButton"></span>&nbsp;&nbsp;
                                <span id="checkAcceptButton"></span>&nbsp;&nbsp;
                                
                                <span id="cancelButton"></span>&nbsp;&nbsp;
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                             
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>

                  <!--End Modal-->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>

        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
                
                $('#example').DataTable();

            });

            function downloadFile(id,columnName,fileName){

              console.log(id);
              console.log(columnName);
              console.log(fileName);

              window.location.href = '/driver/download/'+id+'/'+columnName+'/'+fileName; //Will take you to Google.


            }

            setTimeout(function(){

                location = '/userRequest/mobileUserRequest'
              },60000)


            function getCustomerMobileInfo(pickUpId,checkEdit,checkPayment,checkPauseReumeDisabled,checkAccept){

            $.get('/userRequest/getCustomerMobileInfo/'+pickUpId,function(data){

              console.log(data);
              var paymentType =0;

              if(data){
                var name = data[0].name;
                var email = data[0].email;
                var areaCode = data[0].areaCode;
                var createdByMgrName = data[0].createdByMgrName;
                var takenByMgrName = data[0].takenByMgrName;
                var amount = data[0].amount;
                 paymentType = data[0].paymentType;
                 var dateTime = data[0].dateTime;

              }


              var paymentTypeArr = ({"cash":"Cash On Delivery","card":"Card","bank":"Bank"});
                if(paymentType){

                  paymentType = paymentTypeArr[data[0].paymentType];

                }

                if(paymentType==null){
                  paymentType='';
                }
                if(amount==null){
                  amount=0;
                }

              console.log(checkPayment);

              var editButton = '';
              if(checkEdit=='true')
                 editButton = '<a href="/userRequest/update/'+pickUpId+'" class="btn btn-purple"><i class="fa fa-pencil" aria-hidden="true"></a>';

               var checkAcceptButton = '';
               if(checkAccept=='true'){
                var checkAcceptButton = '<a href="/api/userRequest/acceptRequest/'+pickUpId+'/P" class="btn btn-purple">Accept</a>';

                //checkAcceptButton = '<a href="/userRequest/update/'+pickUpId+'" class="btn btn-purple"><i class="fa fa-pencil" aria-hidden="true"></a>';

               }

               var cancelButton = '';
               var paymentButton = '';
               var resumePauseButton = '';

              if(checkPayment=='true'){
                 cancelButton = '<button type="button" class="btn btn-danger" onclick="cancelRequest('+pickUpId+')">Cancel</button>';

                  paymentButton = '<select name="paymentType" id="paymentType" required="" class="form-control" style="width:auto; display:inline-block" onchange="onchangePaymentType(this,'+pickUpId+')">'+
                        '<option value="" selected>Select Payment Type</option>'+
                        '<option value="cash" selected>Cash On Delivery</option>'+
                        '<option value="card" selected>Debit/Credit Card</option>'+
                        '<option value="bank" selected>Bank Transfer</option>'+
                    '</select>';

                    if(checkPauseReumeDisabled=='false'){

                      resumePauseButton = '<a href="/userRequest/pauseResume/'+pickUpId+'/AC"><button type="button" class="btn btn-success"><i class="fa fa-play" aria-hidden="true"></i></button></a>';

                    }else{
                      resumePauseButton='<a href="/userRequest/pauseResume/'+pickUpId+'/PS"><button type="button" class="btn btn-warning"><i class="fa fa-pause" aria-hidden="true"></i></button></a>';

                    }

               }


              $("#modelDiv").html('<table id="example" class="table table-bordered table-striped">'+
                                  '<thead>'+
                                    '<tr>'+
                                    '<th>Name</th>'+
                                    '<th>Email</th>'+
                                    '<th>Area Code</th>'+
                                    '<th>Created By</th>'+
                                    '<th>Taken By</th>'+
                                    '<th>PickUp Date Time</th>'+
                                    '<th>Payment Type</th>'+
                                    '<th>Amount</th>'+
                                  '</tr></thead>'+
                                  '<tbody>'+
                                  '<tr>'+
                                  '<td>'+name+'</td>'+
                                  '<td>'+email+'</td>'+
                                  '<td>'+areaCode+'</td>'+
                                  '<td>'+createdByMgrName+'</td>'+
                                  '<td>'+takenByMgrName+'</td>'+
                                  '<td>'+dateTime+'</td>'+
                                  '<td>'+paymentType+'</td>'+
                                  '<td class="text-right">₦ '+amount+'</td>'+
                                  '</tr>'+
                                '</table>');

              $("#editButton").html(editButton);
              $("#cancelButton").html(cancelButton);
              $("#paymentButton").html(paymentButton);
              $("#resumePauseButton").html(resumePauseButton);
              $("#checkAcceptButton").html(checkAcceptButton);

              

              

              $('#myModal').modal('show');


            })
          }

        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
