<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">Update User Request </h4>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

                <form class="form-horizontal m-t-40" method="post" action="/userRequest/update">
                    <input type="hidden" name="pickUpId" id="pickUpId" value="<%= pickUpId %>">
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Name <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control " type="text" name="name" required="" placeholder="Name" value="<%= result.name %>">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Email <span style="color: #FF5733"></span></label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="email" name="email" placeholder="Email" value="<%= result.email %>">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Mobile No. <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <!-- <input class="form-control " maxlength="13" type="text" name="mobile" required="" placeholder="Mobile No" value="<%= result.mobile %>"> -->

                                    <input type="number" name="mobile" required="" placeholder="Mobile No" class="form-control" value="<%= result.mobile %>" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==13 && event.keyCode!=8) return false;">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                              <label class="col-sm-3 control-label text-left" for="userName1">No of trips<span style="color: #FF5733">*</span></label>
                              <div class="col-sm-9">
                                <input class="form-control " maxlength="200" type="number" name="numberOfTrips" min="1" value="<%= result.numberOfTrips %>" placeholder="Number Of Trips">
                              </div>
                            </div>

                            
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Area Code<span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <select name="areaCode" required="" class="selectpicker" data-live-search="true">
                                        <% for(var i=0;i<areaData.length;i++){

                                            if(selectedAreaCode==areaData[i].areaCode){ %>

                                                <option value="<%= areaData[i].areaCode %>" selected ><%= areaData[i].areaCode %> - <%= areaData[i].description %></option>
                                        <% }else{ %>

                                        <option value="<%= areaData[i].areaCode %>"><%= areaData[i].areaCode %> - <%= areaData[i].description %></option>


                                   <% }

                                         %>

                                         
                                        
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Address <span style="color: #FF5733"></span></label>
                                <div class="col-sm-9">
                                   <!--  <input class="form-control " type="text" name="address" required="" placeholder="Detail Address"> -->

                                      <textarea class="form-control" rows="3" placeholder="Detail Address" name="address" id="address"><%= result.address %></textarea>

                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        

                         <% 
                        var dateTime = result.dateTime;
                        var dateArr = dateTime.split(" ");

                         %>
                         <div class="col-md-6">

                         <div class="form-group ">
                                  <label class="col-sm-3 control-label text-left" for="userName1">Date Time<span style="color: #FF5733"></span></label>
                                  <div class="col-sm-9">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="input-group">
                                          <input type="text" name="dateVal" class="form-control" placeholder="mm/dd/yyyy" id="datepicker" value="<%= dateArr[0] %>">
                                          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                        
                                      </div>
                                      <div class="col-md-6">
                                        <div class="input-group">
                                          <div class="bootstrap-timepicker">
                                            <input id="timepicker" name="timeVal" type="text" class="form-control" value="<%= dateArr[1] %> <%= dateArr[2] %>"/>
                                          </div>
                                          <span class="input-group-addon">
                                              <i class="glyphicon glyphicon-time"></i>
                                          </span>
                                        </div>
                                        
                                      </div>
                                    </div>
                                    


                                      
                                  </div>


                                  </div>
                                </div>
                            </div>

                    </div>
                   

                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group ">

                                <div class="col-sm-11 text-right">
                                    <button class="btn btn-info btn-md" type="submit">Update</button>
                                </div>
                               
                                <div class="col-sm-1 text-right">
                                    <a href="/home"><button class="btn btn-default btn-md" type="button">Close</button></a>
                                </div>
                            </div>
                        </div>

                        

                    </div>


                   

                </form>
                </div>

                <!-- change code dsp -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });

  });


jQuery('#datepicker').datepicker({
    startDate: new Date()   
});




jQuery('#timepicker').timepicker({defaultTIme: false});
        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
