<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">Customer Fare </h4>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

                <form name="myForm" id="myForm" class="form-horizontal m-t-40" method="post" action="/userRequest/customerFare">
                    <input type="hidden" name="pickUpId" id="pickUpId" value="<%= pickUpId %>">
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>


                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-4 control-label text-left" for="userName1">Customer Name :</label>
                                <label class="col-sm-8 control-label text-left" for="userName1"><%= pickUpRequestData.name %></label>
                            </div>
                        </div>

                        <div class="col-md-6">

                           <div class="form-group ">
                                <label class="col-sm-4 control-label text-left" for="userName1">Customer Mobile :</label>
                                <label class="col-sm-8 control-label text-left" for="userName1"><%= pickUpRequestData.mobile %></label>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-4 control-label text-left" for="userName1">Area Code :</label>
                                <label class="col-sm-8 control-label text-left" for="userName1"><%= pickUpRequestData.areaCode %></label>
                            </div>
                        </div>

                        <div class="col-md-6">

                           <div class="form-group ">
                                <label class="col-sm-4 control-label text-left" for="userName1">Address :</label>
                                <label class="col-sm-8 control-label text-left" for="userName1"><%= pickUpRequestData.address %></label>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                    <!--
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Payment Type <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">

                                    <select name="paymentType" required="" class="form-control">
                                        <option value="" selected>Select Payment Type</option>
                                        <option value="cash" selected>Cash On Delievery</option>
                                        <option value="card" selected>Debit/Credit Card</option>
                                        <option value="bank" selected>Bank Transfer</option>
                                        
                                    </select>

                                </div>
                            </div>
                        </div>

                    -->
                        

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Amount <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-4">
                                    
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            ₦
                                        </span>
                                        <input type="number" name="amount" id="amount" required="" placeholder="Amount" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==13 && event.keyCode!=8) return false;">
                                    </div>

                                    

                                    

                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        

                        <div class="col-md-6">

                           
                        </div>

                    </div>

                    


                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group ">
                               
                                <div class="col-sm-11 text-right">
                                    <button class="btn btn-info btn-md" name="save" type="button" onclick="confirmCustomerFare();">Forward To Call Center Manager</button>


                                </div>
                                <div class="col-sm-1 text-right">
                                    <a href="/home"><button class="btn btn-default btn-md" type="button">Close</button></a>
                                </div>
                            </div>
                        </div>  

                    </div>
                </form>
                </div>

                <!-- change code dsp -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
            });


            function confirmCustomerFare(){

                var amount = $("#amount").val();

                if(amount=='' || amount==undefined){
                    alert("Please Enter Valid Amount");
                    return false;
                }


              swal({   
                  title: "Are you sure?",   
                  text: "Do you want to forward request to call center manager?",   
                  type: "warning",   
                  showCancelButton: true,   
                  confirmButtonColor: "#DD6B55",   
                  confirmButtonText: "Yes!",   
                  cancelButtonText: "No!",   
                  closeOnConfirm: false,   
                  closeOnCancel: false 
              }, function(isConfirm){   
                  if (isConfirm) {     
                      swal("success!", "Request successfully accepted by fulfillment manager.", "success"); 

                      document.getElementById('myForm').submit();// Form submission


                         // location.href = '/userRequest/customerFare';
       
                  } else {     
                      swal("Cancelled", "Cancelled", "error");   
                  } 
              });
          }


            function getDriver(partner){
                var partnerId = partner.value;

                $.get('/customerPickUpRequest/getDriverData/'+partnerId,function(driverData){

                    console.log(driverData);
                    var driverOptions = '<select name="driverId" id="driverId" required="" class="form-control"><option value="">Select Driver</option>';
                    for(var i=0;i<driverData.length;i++){

                        console.log(driverData[i].name);

                         driverOptions += '<option value="'+driverData[i].id+'">'+driverData[i].name+'</option>';

                    }
                    driverOptions+='</select>';

                    $("#driverDiv").html(driverOptions);

                    console.log(driverOptions);

                })
            }
        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
