<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">View Executed Request</h4>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

              
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>

<div class="table-responsive">
                      <table id="example" class="table table-bordered table-striped">
                      <thead>
                      <tr style="background-color: '';">
                        <th>Sr.No.</th>
                        <th>Reference No.</th>                      
                         <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Area Code</th>
                        <th>Address</th>
                        <th>Amount</th>
                        <th>Taken By</th>
                        <th>Driver Name</th>
                        
                      </tr>
                      </thead>
                      <tbody>



                        <% var statusArr = ({"P":"Pending","PR":"Assigned Driver","C":"Completed"});%>

                       <% for(var i=0; i < result.length; i++) { %>
                        <tr style="background-color: '';">
                          <td><%= i+1 %></td>
                          <td><%= result[i].refNo %></td>
                          <td><%= result[i].name %></td>
                          <td><%= result[i].email %></td>
                          <td><%= result[i].mobile %></td>
                          <td><%= result[i].areaCode %></td>
                          <td><%= result[i].address %></td>
                          <td class="text-right">₦ <%= result[i].amount %></td>
                          <td><%= result[i].takenByMgrName %></td>
                          <td><%= result[i].driverName %></td>
                          
                        </tr>
                          
                        <% } %>
                       
                        
                      </tbody>
                     
                    </table>
</div>

                </div>

                <!-- change code dsp -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
                
                $('#example').DataTable();

            });

            function downloadFile(id,columnName,fileName){

              console.log(id);
              console.log(columnName);
              console.log(fileName);

              window.location.href = '/driver/download/'+id+'/'+columnName+'/'+fileName; //Will take you to Google.


            }

            setTimeout(function(){

                location = '/userRequest/userExecutedRequest'
              },60000)

        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
