<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">View Approved Request</h4>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

              
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>

                  <div class="table-responsive">
                      <table id="example" class="table table-bordered" >
                      <thead>
                      <tr style="background-color: #7ea728;">
                        <th>Sr.No11.</th>
                        <th>Reference No.</th>                       
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Area Code</th>
                        <th>Address</th>
                        <th>Created By</th>
                        <th>Accept</th>

                        <!-- <th>Reject</th> -->
                        <!--<th>Suspend</th>-->
                      </tr>
                      </thead>
                      <tbody>

                        <% var statusArr = ({"P":"Verified","A":"Assigned Driver","C":"Completed"});%>

                       <% for(var i=0; i < result.length; i++) { 
                       

                       %>
                        <tr style="background-color: #bedf7c;">
                          <td><%= i+1 %></td>
                          <td><%= result[i].id %></td>
                          <td><%= result[i].name %></td>
                          <td><%= result[i].email %></td>
                          <td><%= result[i].mobile %></td>
                          <td><%= result[i].areaCode %></td>
                          <td><%= result[i].address %></td>

                          <td><%= result[i].callCenterMgrName %></td>

                         
                          <% if(i>=1){  
                          //if(alreadyTakingRequest || i>=1){
                           %>

                           <td><a href="/userRequest/acceptRequest/<%= result[i].id %>/PR"><button type="button" class="btn btn-warning" disabled>Accept
                            </button></a></td>

                            <!-- <td><a href="/userRequest/action/<%= result[i].id %>/R"><button type="button" class="btn btn-warning" disabled>Reject
                            </button></a></td> -->

                       <% }else{ %>
                          <td><a href="/userRequest/acceptRequest/<%= result[i].id %>/PR"><button type="button" class="btn btn-purple">Accept
                            </button></a></td>

                            <!-- <td><a href="/userRequest/action/<%= result[i].id %>/R"><button type="button" class="btn btn-purple">Reject
                            </button></a></td> -->

                            <% } %>


                            <!-- <td><a href="/userRequest/acceptRequest/<%= result[i].id %>/PR"><button type="button" class="btn btn-warning" disabled>Accept
                            </button></a></td>

                            <td><a href="/userRequest/action/<%= result[i].id %>/R"><button type="button" class="btn btn-warning" disabled>Reject
                            </button></a></td> -->



                         

                         <!-- <td><a href="/userRequest/assignDriver/<%= result[i].id %>/<%= result[i].areaCode %>"><button type="button" class="btn btn-purple">Accept
                            </button></a></td> -->

                         <!-- <td class="text-center"><a href="/userRequest/action/<%= result[i].id %>/H"><button type="button" class="btn btn-warning"><i class="fa fa-pause" aria-hidden="true"></i>
                          </button></a></td> -->


                            
                          
                        </tr>
                          
                        <% } %>
                       
                        
                      </tbody>
                     
                    </table>
</div>

                </div>

                <!-- change code dsp -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
                
                $('#example').DataTable();

            });

            function downloadFile(id,columnName,fileName){

              console.log(id);
              console.log(columnName);
              console.log(fileName);

              window.location.href = '/driver/download/'+id+'/'+columnName+'/'+fileName; //Will take you to Google.


            }

              setTimeout(function(){

                location = '/userRequest/userPendingRequest'
              },60000)


        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
