<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">Add Partner </h4>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

                    <form class="form-horizontal m-t-40" method="post" action="partner" enctype="multipart/form-data">
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>


                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Name <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                   <input class="form-control " type="text" name="name" required="" placeholder="Company Name">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Email <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="email" name="email" required="" placeholder="Email">
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group ">
                                <label class="col-sm-2 control-label text-left" for="userName1">Directors Name <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-10">
                                   <input name="directors" id="tags" class="form-control" placeholder="Directors" value="" />
                                </div>
                            </div>
                        </div>

                        

                    </div>

                    <div class="row">
                        
                        <div class="col-md-12">

                            <div class="form-group ">
                                <label class="col-sm-2 control-label text-left" for="userName1">Address <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="address" placeholder="Company Address" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Contact No <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                   <input class="form-control " type="text" name="mobile" required="" maxlength="12" placeholder="Contact No">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Type <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <select name="partnerType" required="" class="form-control" onchange="documentsShow(this);">
                                        <option value="" selected >Partner Type</option>
                                        <option value="Corporate">Corporate</option>
                                        <option value="individual">individual</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row" style="display: none;" id="CorporateDocumentsDiv">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Certificate Of Incorporation <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="file" name="certificateOfIncorporation" accept=".pdf,.jpg">
                                <p>Certificate Of Incorporation</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Proof Of Ownership <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="file" name="proofOfOwnership" accept=".pdf,.jpg">
                                <p>Proof Of Ownership</p>
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="row" style="display: none;" id="IndivisualDocumentsDiv">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Valid ID Card <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control " type="file" name="certificateOfIncorporation" accept=".pdf,.jpg">
                                <p>Valid ID Card</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Proof Of Ownership <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <input class="form-control " type="file" name="proofOfOwnership" accept=".pdf,.jpg">
                                <p>Proof Of Ownership</p>
                                </div>
                            </div>
                        </div>

                    </div>


<!--
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class="cr-styled">
                                <input type="checkbox" checked>
                                <i class="fa"></i>
                                 I accept <strong><a href="/terms">Terms and Conditions</a></strong>
                            </label>
                        </div>
                    </div>

                -->

                    <div class="form-group text-right">
                        <div class="col-xs-12">
                            <button class="btn btn-purple w-md" type="submit">Add</button>
                        </div>
                    </div>

                    <!--<div class="form-group m-t-30">
                        <div class="col-sm-12 text-center">
                            <a href="/signup">Register as Client</a>
                        </div>
                    </div>-->


                    
                </form>
                </div>

                <!-- change code dsp -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


<script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
jQuery(document).ready(function($) {
                // $('.counter').counterUp({
                //     delay: 100,
                //     time: 1200
                // });

  });




 setTimeout(function() {
            $('#successMessage').fadeOut('fast');
            }, 10000);

 function documentsShow(partnerType) {
     var partnerType = partnerType.value;

     if(partnerType=='Corporate'){
        $("#CorporateDocumentsDiv").show();
        $("#IndivisualDocumentsDiv").hide();
     }else{
        $("#IndivisualDocumentsDiv").show();
        $("#CorporateDocumentsDiv").hide();
     }
 }
        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
