<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">Customer PickUp Requests</h4>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

              
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>

                      <table id="example" class="table table-bordered table-striped">
                      <thead>
                      <tr style="background-color:'';">
                        <th>Sr.No.</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>PickUp Location</th>
                        <th>Payment</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody>

                       
                       
                       <% for(var i=0; i < data.length; i++) { %>
                        <tr>
                          <td><%= i+1 %></td>

                          <td class="text-center"><img src="/user_images/<%= data[i].customerprofileImage %>" class="img-circle profile-img thumb-sm" width="35px" height="30px"></td>
                          <td><%= data[i].customerName %></td>
                          <td><%= data[i].customerMobile %></td>
                          <td><%= data[i].location %></td>
                           <td><%= data[i].paymentStatus %></td>
                           <td><%= data[i].amount %></td>

                           <% if(data[i].status==''){ %>
                            <td>Pending</td>
                             <td><a href="/customerPickUpRequest/assignDriver/<%= data[i].id %>"><button type="button" class="btn btn-primary">Assign Driver
                            </button></a></td>

                           <% }else if(data[i].status=='Assign'){ %>
                           <td>Assigned</td>
                           <td><button type="button" class="btn btn-primary" onclick="driverDetails(<%= data[i].driverId %>)">Driver Details
                            </button></a></td>

                          <%  } else if(data[i].status=='accepted'){ %>

                          <td>Accepted</td>
                          <td><button type="button" class="btn btn-primary" onclick="driverDetails(<%= data[i].driverId %>)">Driver Details
                            </button></a></td>

                          <% }else{ %>
                          <td></td>
                          <td></td>
                          <% } %>
                           
                          
                          <!--<td><a href="/spoter/update/<%= data[i].id %>"><button type="button" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i>
                          </button></a></td>-->
                        </tr>
                          
                        <% } %>
                       
                        
                      </tbody>
                     
                    </table>


                </div>

                <!-- change code dsp -->


                 <!-- Modal -->
                  <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Driver Details</h4>
                        </div>
                        <div class="modal-body" id="modelDiv">

                          <!-- Row -->
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!--End Modal-->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
                
                $('#example').DataTable();

            });

            function driverDetails(driverId){

              $.get('/adminDriver/'+driverId,function(data){

                console.log(data);


                var driver = '<div class="text-center"><img style="width:100px;border-radius:100px;" src="/user_images/'+data[0].profileImage+'"></div>'+
                                    '<div class="form-group ">'+
                                        '<label class="control-label text-left" for="userName1"> Name </label>'+
                                        '<div class="">'+
                                          '<p>'+data[0].name+'</p>'+
                                            
                                        '</div>'+
                                    '</div>'+

                                    '<div class="form-group ">'+
                                        '<label class="control-label text-left" for="userName1">Mobile No.</label>'+
                                        '<div class="">'+
                                            '<p>'+data[0].mobile+'</p>'+
                                        '</div>'+
                                    '</div>'+

                                    '<div class="form-group ">'+
                                        '<label class="control-label text-left" for="userName1">Email</label>'+
                                        '<div class="">'+
                                            '<p>'+data[0].email+'</p>'+
                                        '</div>'+
                                    '</div>'+

                                    '<div class="form-group ">'+
                                        '<label class="control-label text-left" for="userName1">Mobile No.</label>'+
                                        '<div class="">'+
                                            '<p>'+data[0].vehicleNumber+'</p>'+
                                        '</div>'+
                                    '</div>';


                    $("#modelDiv").html('<div class="row">'+
                                '<div class="col-md-12" style="border-right: solid 1px #eee;">'+
                                  '<div class="text-center">Driver Details</div>'+
                                  driver+
                                '</div>'+
                              '</div>');

                $('#myModal').modal('show');
              });
            }

        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
