<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">Assign Driver </h4>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

                <form class="form-horizontal m-t-40" name="myForm" id="myForm" method="post" action="/userRequest/assignDriver">
                    <input type="hidden" name="pickUpId" id="pickUpId" value="<%= pickUpId %>">
                     <input type="hidden" name="areaCode" id="areaCode" value="<%= pickUpRequestData.areaCode %>">

                    
                  <% if (messages.success) { %>
                    <div id="successMessage" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.success %>
                    </div>
                    <% } %>

                     <% if (messages.error) { %>
                    <div id="successMessage" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= messages.error %>
                    </div>
                    <% } %>


                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-4 control-label text-left" for="userName1">Customer Name :</label>
                                <label class="col-sm-8 control-label text-left" for="userName1"><%= pickUpRequestData.name %></label>
                            </div>
                        </div>

                        <div class="col-md-6">

                           <div class="form-group ">
                                <label class="col-sm-4 control-label text-left" for="userName1">Customer Mobile :</label>
                                <label class="col-sm-8 control-label text-left" for="userName1"><%= pickUpRequestData.mobile %></label>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-4 control-label text-left" for="userName1">Area Code :</label>
                                <label class="col-sm-8 control-label text-left" for="userName1"><%= pickUpRequestData.areaCode %></label>
                            </div>
                        </div>

                        <div class="col-md-6">

                           <div class="form-group ">
                                <label class="col-sm-4 control-label text-left" for="userName1">Address :</label>
                                <label class="col-sm-8 control-label text-left" for="userName1"><%= pickUpRequestData.address %></label>
                            </div>
                        </div>

                    </div>


                    <div class="row">

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Amount : <span style="color: #FF5733"></span></label>
                                <div class="col-sm-9 ">
                                    
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            ₦
                                        </span>
                                        <%= pickUpRequestData.amount %>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            
                        </div>

                        

                    </div>


                    <div class="row">
                        

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Area Code<span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9">
                                    <select name="areaCode" id="areaCode" required="" class="selectpicker" data-live-search="true" onchange="getDrivers(this);">
                                        <option value="">Select Area Code</option>
                                        <% for(var i=0;i<areaData.length;i++){ %>     

                                        <option value="<%= areaData[i].areaCode %>"><%= areaData[i].areaCode %> - <%= areaData[i].description %></option>
                                         
                                        
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            
                            <div class="form-group ">
                                <label class="col-sm-3 control-label text-left" for="userName1">Driver : <span style="color: #FF5733">*</span></label>
                                <div class="col-sm-9" id="driverDiv">
                                    <select name="driverId" id="driverId" required="" class="form-control">
                                        <option value="" selected>Select Driver</option>
                                        <% for(var i=0;i<driversData.length;i++){ %>
                                        <option value="<%= driversData[i].id %>"><%= driversData[i].name %> (<%= driversData[i].email %>)</option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                    


                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group ">
                               
                                <div class="col-sm-11 text-right">
                                    <button class="btn btn-info btn-md" name="save" type="button" onclick="assignDriver();">Assign Driver</button>
                                </div>

                                <div class="col-sm-1 text-right">
                                    <a href="/home"><button class="btn btn-default btn-md" type="button">Close</button></a>
                                </div>
                            </div>
                        </div>  

                    </div>
                </form>
                </div>

                <!-- change code dsp -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
            });

            function getDrivers(areaCode){
                var areaCode = areaCode.value;

                $.get('/userRequest/getDriverData/'+areaCode,function(driverData){

                    console.log(driverData);
                    var driverOptions = '<select name="driverId" id="driverId" required="" class="form-control"><option value="">Select Driver</option>';
                    for(var i=0;i<driverData.length;i++){

                        console.log(driverData[i].name);

                         driverOptions += '<option value="'+driverData[i].id+'">'+driverData[i].name+'</option>';

                    }
                    driverOptions+='</select>';

                    $("#driverDiv").html(driverOptions);

                    console.log(driverOptions);

                })
            }

            function assignDriver(){

                // var areaCode = $("#areaCode").val();
                // if(areaCode){


              swal({   
                  title: "Are you sure?",   
                  text: "Do you want to assign driver?",   
                  type: "warning",   
                  showCancelButton: true,   
                  confirmButtonColor: "#DD6B55",   
                  confirmButtonText: "Yes!",   
                  cancelButtonText: "No!",   
                  closeOnConfirm: false,   
                  closeOnCancel: false 
              }, function(isConfirm){   
                  if (isConfirm) {     
                      swal("success!", "Driver assign successfully.", "success"); 

                      document.getElementById('myForm').submit();// Form submission


                         // location.href = '/userRequest/customerFare';
       
                  } else {     
                      swal("Cancelled", "Cancelled", "error");   
                  } 
              });
          // }else{
          //   return;
          // }

          }

            
        </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
