<!DOCTYPE html>
<html lang="en">


  <% include ../partials/header.ejs %>

    <body>



         <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">Terms & Conditions</h4>
                </div>

                <!-- change code dsp-->
              <div class="panel panel-color panel-primary">

                <h4 class="title">1. Contractual Relationship</h4>
                <h5>These Terms of Use <b>(“Terms”)</b> govern the access or use by you, an individual, within the Federal Republic of Nigeria of applications, websites, content, products, and services (the <b>“Services”</b>) made available by Pooplogg Limited, a private limited liability company registered under the relevant laws in the Federal Republic of Nigeria, having its registered address at 1st Floor, 23A Marina, Mamman Kontagora House, Lagos. <b>(“Pooplogg”)</b>.</br></br></br>

                    PLEASE READ THESE TERMS CAREFULLY BEFORE ACCESSING OR USING THE SERVICES..</br></br></br>

                    Your access and use of the Services constitutes your agreement to be bound by these Terms, which establishes a contractual relationship between you and Pooplogg. If you do not agree to these Terms, you may not access or use the Services. These Terms expressly supersede prior agreements or arrangements with you. Pooplogg may immediately terminate these Terms or any Services with respect to you, or generally cease offering or deny access to the Services or any portion thereof, at any time for any reason.</br></br></br>

                    Supplemental terms may apply to certain Services, such as policies for a particular event, activity or promotion, and such supplemental terms will be disclosed to you in connection with the applicable Services. Supplemental terms are in addition to, and shall be deemed a part of, the Terms for the purposes of the applicable Services. Supplemental terms shall prevail over these Terms in the event of a conflict with respect to the applicable Services.</br></br></br>


                    Pooplogg may amend the Terms related to the Services from time to time. Amendments will be effective upon Pooplogg’s posting of such updated Terms at this location or the amended policies or supplemental terms on the applicable Service. Your continued access or use of the Services after such posting constitutes your consent to be bound by the Terms, as amended.</br></br></br>

                    Pooplogg may provide to a claims processor or an insurer any necessary information (including your contact information) if there is a complaint, dispute or conflict, which may include an accident, involving you and a Third Party Provider and such information or data is necessary to resolve the complaint, dispute or conflict.</br></br></br>


                </h5>
                <h4>2. The Services</h4>
                    <h5>The Services constitute a technology platform that enables users of Pooplogg’s mobile applications or websites or dedicated telephone number provided as part of the Services (each, an <b>“Application”</b>) to arrange and schedule sewage evacuation services with independent third party providers of such services under agreement with Pooplogg or certain of Pooplogg’s affiliates <b>(“Third Party Providers”).</b> Unless otherwise agreed by Pooplogg in a separate written agreement with you, the Services are made available solely for your personal, noncommercial use. YOU ACKNOWLEDGE THAT POOPLOGG DOES NOT PROVIDE SEWAGE EVACUATION SERVICES OR FUNCTION AS A SEWAGE EVACUATION OR SEWAGE DISPOSAL OR SEWAGE TREATMENT COMPANY AND THAT ALL SUCH SEWAGE EVACUATION SERVICES ARE PROVIDED BY INDEPENDENT THIRD PARTY CONTRACTORS WHO ARE NOT EMPLOYED BY POOPLOGG OR ANY OF ITS AFFILIATES.</br></br></br>
                </h5>

                <h4>Licence.</h4>
                    <h5>Subject to your compliance with these Terms, Pooplogg grants you a limited, non-exclusive, revocable, non-transferrable licence to: (i) access and use the Applications on your personal device solely in connection with your use of the Services; and (ii) access and use any content, information and related materials that may be made available through the Services, in each case solely for your personal, noncommercial use. Any rights not expressly granted herein are reserved by Pooplogg..</br></br></br>
                </h5>


                <h4>Restrictions.</h4>
                    <h5>You may not: (i) remove any copyright, trademark or other proprietary notices from any portion of the Services; (ii) reproduce, modify, prepare derivative works based upon, distribute, license, lease, sell, resell, transfer, publicly display, publicly perform, transmit, stream, broadcast or otherwise exploit the Services except as expressly permitted by Pooplogg; (iii) decompile, reverse engineer or disassemble the Services except as may be permitted by applicable law; (iv) link to, mirror or frame any portion of the Services; (v) cause or launch any programs or scripts for the purpose of scraping, indexing, surveying, or otherwise data mining any portion of the Services or unduly burdening or hindering the operation and/or functionality of any aspect of the Services; or (vi) attempt to gain unauthorised access to or impair any aspect of the Services or its related systems or networks. </br></br></br>
                </h5>


                <h4>Provision of the Services.</h4>
                    <h5>You acknowledge that portions of the Services may be made available under Pooplogg’s various brands. You also acknowledge that the Services may be made available under such brands by or in connection with: (i) certain of Pooplogg’s subsidiaries and affiliates; or (ii) independent Third Party Providers.</br></br></br>
                </h5>

                <h4>Third Party Services and Content.</h4>
                    <h5>The Services may be made available or accessed in connection with third party services and content (including advertising) that Pooplogg does not control. You acknowledge that different terms of use and privacy policies may apply to your use of such third party services and content. Pooplogg does not endorse such third party services and content and in no event shall Pooplogg be responsible or liable for any products or services of such third party providers. Additionally, Apple Inc., Google, Inc., Microsoft Corporation or BlackBerry Limited and/or their applicable international subsidiaries and affiliates will be third-party beneficiaries to this contract if you access the Services using Applications developed for Apple iOS, Android, Microsoft Windows, or Blackberry-powered mobile devices, respectively. These third party beneficiaries are not parties to this contract and are not responsible for the provision or support of the Services in any manner. Your access to the Services using these devices is subject to terms set forth in the applicable third party beneficiary’s terms of service.</br></br></br>
                </h5>


                <h4>Ownership.</h4>
                    <h5>The Services and all rights therein are and shall remain Pooplogg’s property or the property of Pooplogg’s licensors. Neither these Terms nor your use of the Services convey or grant to you any rights: (i) in or related to the Services except for the limited license granted above; or (ii) to use or reference in any manner Pooplogg’s company names, logos, product and service names, trademarks or services marks or those of Pooplogg’s licensors.</br></br></br>
                </h5>

                <h4>3. Your Use of the Services.</h4></br></br>
                <h4>User Accounts.</h4>
                    <h5>In order to use most aspects of the Services, you must register for and maintain an active personal user Services account (“Account”). You must be at least 18 years of age to obtain an Account. Account registration requires you to submit to Pooplogg certain personal information, such as your name, address, mobile phone number and age, as well as at least one valid payment method (any of a debit card, credit card, or accepted payment partner). You agree to maintain accurate, complete, and up-to-date information in your Account. Your failure to maintain accurate, complete, and up-to-date Account information, including having an invalid or expired payment method on file, may result in your inability to access and use the Services or Pooplogg’s termination of these Terms with you. You are responsible for all activity that occurs under your Account, and you agree to maintain the security and secrecy of your Account username and password at all times. Unless otherwise permitted by Pooplogg in writing, you may only possess one Account.</br></br></br>
                </h5>


                <h4>User Requirements and Conduct.</h4>
                    <h5>The Service is not available for use by persons under the age of 18. You may not authorize third parties to use your Account. You may not assign or otherwise transfer your Account to any other person or entity. You agree to comply with all applicable laws when using the Services, and you may only use the Services for lawful purposes (e.g., no transport or disposal of unlawful or hazardous materials). You will not, in your use of the Services, cause nuisance, annoyance, inconvenience, or property damage, whether to the Third Party Provider or any other party. In certain instances you may be asked to provide proof of identity to access or use the Services, and you agree that you may be denied access to or use of the Services if you refuse to provide proof of identity.</br></br></br>
                </h5>

                <h4>Text Messaging.</h4>
                    <h5>By creating an Account, you agree that the Services may send you text (SMS) messages as part of the normal business operation of your use of the Services. You may opt-out of receiving text (SMS) messages from Pooplogg at any time. You acknowledge that opting out of receiving text (SMS) messages may impact your use of the Services.</br></br></br>
                </h5>


                <h4>Promotional Codes.</h4>
                    <h5>Pooplogg may, in Pooplogg’s sole discretion, create promotional codes that may be redeemed for Account credit, or other features or benefits related to the Services and/or a Third Party Provider’s services, subject to any additional terms that Pooplogg establishes on a per promotional code basis (“Promo Codes”). You agree that Promo Codes: (i) must be used for the intended audience and purpose, and in a lawful manner; (ii) may not be duplicated, sold or transferred in any manner, or made available to the general public (whether posted to a public form or otherwise), unless expressly permitted by Pooplogg; (iii) may be disabled by Pooplogg at any time for any reason without liability to Pooplogg; (iv) may only be used pursuant to the specific terms that Pooplogg establishes for such Promo Code; (v) are not valid for cash; and (vi) may expire prior to your use. Pooplogg reserves the right to withhold or deduct credits or other features or benefits obtained through the use of Promo Codes by you or any other user in the event that Pooplogg determines or believes that the use or redemption of the Promo Code was in error, fraudulent, illegal, or in violation of the applicable Promo Code terms or these Terms.</br></br></br>
                </h5>


                <h4>User Provided Content.</h4>
                    <h5>Pooplogg may, in Pooplogg’s sole discretion, permit you from time to time to submit, upload, publish or otherwise make available to Pooplogg through the Services textual, audio, and/or visual content and information, including commentary and feedback related to the Services, initiation of support requests, and submission of entries for competitions and promotions (“User Content”). Any User Content provided by you remains your property. However, by providing User Content to Pooplogg, you grant Pooplogg a worldwide, perpetual, irrevocable, transferrable, royalty-free license, with the right to sublicense, to use, copy, modify, create derivative works of, distribute, publicly display, publicly perform, and otherwise exploit in any manner such User Content in all formats and distribution channels now known or hereafter devised (including in connection with the Services and Pooplogg’s business and on third-party sites and services), without further notice to or consent from you, and without the requirement of payment to you or any other person or entity.</br></br></br>You represent and warrant that: (i) you either are the sole and exclusive owner of all User Content or you have all rights, licenses, consents and releases necessary to grant Pooplogg the license to the User Content as set forth above; and (ii) neither the User Content nor your submission, uploading, publishing or otherwise making available of such User Content nor Pooplogg’s use of the User Content as permitted herein will infringe, misappropriate or violate a third party’s intellectual property or proprietary rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.</br></br></br>You agree to not provide User Content that is defamatory, libellous, hateful, violent, obscene, pornographic, unlawful, or otherwise offensive, as determined by Pooplogg in its sole discretion, whether or not such material may be protected by law. Pooplogg may, but shall not be obligated to, review, monitor, or remove User Content, at Pooplogg’s sole discretion and at any time and for any reason, without notice to you.</br></br></br>
                </h5>

                <h4>Network Access and Devices.</h4>
                <h5>You are responsible for obtaining the data or network access necessary to use the Services. Your mobile network’s data, calling and messaging rates and fees may apply if you access or use the Services from a voice or wireless-enabled device and you shall be responsible for such rates and fees. You are responsible for acquiring and updating compatible hardware or devices necessary to access and use the Services and Applications and any updates thereto. Pooplogg does not guarantee that the Services, or any portion thereof, will function on any particular hardware or devices. In addition, the Services may be subject to malfunctions and delays inherent in the use of the Internet and electronic communications.</br></br></br></h5>

                <h4>4. Payment.</h4>
                <h5>You understand that use of the Services may result in charges to you for the services or goods you receive from a Third Party Provider (“Charges”). After you have received services or goods obtained through your use of the Service, Pooplogg will facilitate your payment of the applicable Charges on behalf of the Third Party Provider as such Third Party Provider’s limited payment collection agent. Payment of the Charges in such manner shall be considered the same as payment made directly by you to the Third Party Provider. Charges may include other applicable fees, tolls, and/or surcharges including a booking fee, national, provincial and municipal tolls, and processing fees for split payments, and will be inclusive of applicable taxes where required by law. Charges paid by you are final and non-refundable, unless otherwise determined by Pooplogg. </br></br></br>All Charges are due immediately and payment will be facilitated by Pooplogg using the preferred payment method designated in your Account, after which Pooplogg will send you a receipt by email and/or text message (SMS). If your primary Account payment method is determined to be expired, invalid or otherwise not able to be charged, you agree that Pooplogg may, as the Third Party Provider’s limited payment collection agent, use a secondary payment method in your Account, if available.</br></br></br>As between you and Pooplogg, Pooplogg reserves the right to establish, remove and/or revise Charges for any or all services or goods obtained through the use of the Services at any time in Pooplogg’s sole discretion. Further, you acknowledge and agree that Charges applicable in certain geographical areas may increase substantially during times of high demand. Pooplogg will use reasonable efforts to inform you of Charges that may apply, provided that you will be responsible for Charges incurred under your Account regardless of your awareness of such Charges or the amounts thereof. Pooplogg may from time to time provide certain users with promotional offers and discounts that may result in different amounts charged for the same or similar services or goods obtained through the use of the Services, and you agree that such promotional offers and discounts, unless also made available to you, shall have no bearing on your use of the Services or the Charges applied to you. You may elect to cancel your request for services or goods from a Third Party Provider at any time prior to such Third Party Provider’s arrival, in which case you may be charged a cancellation fee.</br></br></br>This payment structure is intended to fully compensate the Third Party Provider for the services or goods provided. You understand and agree that, while you are free to provide additional payment as a gratuity to any Third Party Provider who provides you with services or goods obtained through the Service, you are under no obligation to do so. Gratuities are voluntary. After you have received services or goods obtained through the Service, you will have the opportunity to rate your experience and leave additional feedback about your Third Party Provider.</br></br></br>Repair or Cleaning Fees.</br></br></br></h5>


                <h4>5. Disclaimers; Limitation of Liability; Indemnity.</h4>
                <h5>DISCLAIMER.</br></br></br>THE SERVICES ARE PROVIDED “AS IS” AND “AS AVAILABLE.” POOPLOGG DISCLAIMS ALL REPRESENTATIONS AND WARRANTIES, EXPRESS, IMPLIED OR STATUTORY, NOT EXPRESSLY SET OUT IN THESE TERMS, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN ADDITION, POOPLOGG MAKES NO REPRESENTATION, WARRANTY, OR GUARANTEE REGARDING THE RELIABILITY, TIMELINESS, QUALITY, SUITABILITY OR AVAILABILITY OF THE SERVICES OR ANY SERVICES OR GOODS REQUESTED THROUGH THE USE OF THE SERVICES, OR THAT THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE. POOPLOGG DOES NOT GUARANTEE THE QUALITY, SUITABILITY, SAFETY OR ABILITY OF THIRD PARTY PROVIDERS. YOU AGREE THAT THE ENTIRE RISK ARISING OUT OF YOUR USE OF THE SERVICES, AND ANY SERVICE OR GOOD REQUESTED IN CONNECTION THEREWITH, REMAINS SOLELY WITH YOU, TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW.</br></br></br>LIMITATION OF LIABILITY.</br></br></br>POOPLOGG SHALL NOT BE LIABLE FOR INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, LOST DATA, PERSONAL INJURY OR PROPERTY DAMAGE RELATED TO, IN CONNECTION WITH, OR OTHERWISE RESULTING FROM ANY USE OF THE SERVICES, EVEN IF POOPLOGG HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. POOPLOGG SHALL NOT BE LIABLE FOR ANY DAMAGES, LIABILITY OR LOSSES ARISING OUT OF: (i) YOUR USE OF OR RELIANCE ON THE SERVICES OR YOUR INABILITY TO ACCESS OR USE THE SERVICES; OR (ii) ANY TRANSACTION OR RELATIONSHIP BETWEEN YOU AND ANY THIRD PARTY PROVIDER, EVEN IF POOPLOGG HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. POOPLOGG SHALL NOT BE LIABLE FOR DELAY OR FAILURE IN PERFORMANCE RESULTING FROM CAUSES BEYOND POOPLOGG’S REASONABLE CONTROL. YOU ACKNOWLEDGE THAT THIRD PARTY SERVICE PROVIDERS PROVIDING SEWAGE EVACUATION SERVICES MAY NOT BE PROFESSIONALLY LICENSED OR PERMITTED. IN NO EVENT SHALL POOPLOGG’S TOTAL LIABILITY TO YOU IN CONNECTION WITH THE SERVICES FOR ALL DAMAGES, LOSSES AND CAUSES OF ACTION EXCEED FIFT NAIRA (₦50.00).</br></br></br>POOPLOGG’S SERVICES MAY BE USED BY YOU TO REQUEST AND SCHEDULE SEWAGE EVACUATION SERVICES WITH THIRD PARTY PROVIDERS, BUT YOU AGREE THAT POOPLOGG HAS NO RESPONSIBILITY OR LIABILITY TO YOU RELATED TO ANY SEWAGE EVACUATION SERVICES PROVIDED TO YOU BY THIRD PARTY PROVIDERS OTHER THAN AS EXPRESSLY SET FORTH IN THESE TERMS.</br></br></br>THE LIMITATIONS AND DISCLAIMER IN THIS SECTION 5 DO NOT PURPORT TO LIMIT LIABILITY OR ALTER YOUR RIGHTS AS A CONSUMER THAT CANNOT BE EXCLUDED UNDER APPLICABLE LAW.</br></br></br></h5>

                <h4>Indemnity.</h4>
                <h5>You agree to indemnify and hold Pooplogg and its officers, directors, employees and agents harmless from any and all claims, demands, losses, liabilities, and expenses (including solicitors’  fees) arising out of or in connection with: (i) your use of the Services or services or goods obtained through your use of the Services; (ii) your breach or violation of any of these Terms; (iii) Pooplogg’s use of your User Content; or (iv) your violation of the rights of any third party, including Third Party Providers.</h5>

                <h4>6. Governing Law; Arbitration.</h4>
                <h5>Except as otherwise set forth in these Terms, these Terms shall be exclusively governed by and construed in accordance with the laws of The Federal Republic of Nigeria. Any dispute, conflict, claim or controversy arising out of or broadly in connection with or relating to the Services or these Terms, including those relating to its validity, its construction or its enforceability (any “Dispute”) shall be resolved by final and binding arbitration conducted in accordance with the Arbitration and Conciliation Act, Laws of the Federation of Nigeria 2004 (the “Act”) or as may be in force at the time of the Dispute by a sole arbitrator jointly appointed by the parties in accordance with the Act. The language of the arbitration shall be English, and the venue of the arbitration shall be Lagos Nigeria. </h5>

                <h4>7. Other Provisions.</h4>
                <h4>Notice.</h4></br></br>
                <h5>Pooplogg may give notice by means of a general notice on the Services, electronic mail to your email address in your Account, or by written communication sent to your address as set forth in your Account. You may give notice to Pooplogg by written communication to Pooplogg's Company Secretary Messrs Hawkes Legal at 1st Floor, 23A Marina (Mamman Kontagora House), Lagos, Nigeria.</h5>

                <h4>General.</h4>
                <h5>You may not assign or transfer these Terms in whole or in part without Pooplogg’s prior written approval. You give your approval to Pooplogg for it to assign or transfer these Terms in whole or in part, including to: (i) a subsidiary or affiliate; (ii) an acquirer of Pooplogg’s equity, business or assets; or (iii) a successor by merger. No joint venture, partnership, employment or agency relationship exists between you, Pooplogg or any Third Party Provider as a result of the contract between you and Pooplogg or use of the Services.</br></br></br>If any provision of these Terms is held to be illegal, invalid or unenforceable, in whole or in part, under any law, such provision or part thereof shall to that extent be deemed not to form part of these Terms but the legality, validity and enforceability of the other provisions in these Terms shall not be affected. In that event, the parties shall replace the illegal, invalid or unenforceable provision or part thereof with a provision or part thereof that is legal, valid and enforceable and that has, to the greatest extent possible, a similar effect as the illegal, invalid or unenforceable provision or part thereof, given the contents and purpose of these Terms. These Terms constitute the entire agreement and understanding of the parties with respect to its subject matter and replaces and supersedes all prior or contemporaneous agreements or undertakings regarding such subject matter. In these Terms, the words “including” and “include” mean “including, but not limited to.”</br></br></br></h5>

                

              </div>

             <button onclick="window.location.href='partnerSignup'" style="float: right;"/>Back</button>
        </div>

        

          <% include ../partials/footer.ejs %>

    </body>
<script>

 setTimeout(function() {
            $('#successMessage').fadeOut('fast');
            }, 10000);

</script>
</html>
