<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">Drivers Customer Route  </h4>
                </div>

                <!-- change code dsp-->
                 <input type="hidden" id="slectedLat" value="32.715738"></input>
    <input type="hidden" id="slectedLon" value="-117.1610838"></input>

                <div id="selected_map_canvas" style="width: 1000px; height: 450px;"></div>
              <div id="directions-panel"></div>

                <input type="hidden" name="driverCustomerLocationData" id="driverCustomerLocationData" value="<%= driverCustomerLocationData %>">
                <input type="hidden" name="driverLatLongObj" id="driverLatLongObj" value="<%= driverLatLongObj %>">
                <!-- change code dsp -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>

        <!-- <script src="http://maps.google.com/maps/api/js?key=AIzaSyADVeyqQ5rCX_7EUO9uz_AV-0Y3OxuUBFk&sensor=false" 
          type="text/javascript"></script> -->
        <script type="text/javascript">

        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
            });
        </script>

        <!-- <script type="text/javascript">

          var driverCustomerLocationData = $("#driverCustomerLocationData").val();

          //console.log(JSON.parse(driverLocationData));
          var driverCustomerLocationDataObj = JSON.parse(driverCustomerLocationData);

          var driverLatLongObj = $("#driverLatLongObj").val();
          var driverLatLongObj = JSON.parse(driverLatLongObj);

           function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: 18.5018, lng: 73.8636}  // Australia.
        });
       // var image = '/img/delivery-truck.png';
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer({
          draggable: true,
          map: map,
          //panel: document.getElementById('right-panel')
        });

          displayRoute(directionsService,
            directionsDisplay);
      }
      function displayRoute(service, display) {

       var driverLat = parseFloat(driverLatLongObj.driverLatitude);
       var driverLong = parseFloat(driverLatLongObj.driverLongitude);
       var custLat =parseFloat(driverCustomerLocationDataObj.latitude);
       var custLong =parseFloat(driverCustomerLocationDataObj.longitude);
       
        service.route({
          origin: {lat:driverLat, lng:driverLong},
          destination: {lat:custLat, lng:custLong},
          //waypoints: [{location: 'Adelaide, SA'}, {location: 'Broken Hill, NSW'}],
          //waypoints: [{location: destination}],
          travelMode: 'DRIVING',
          avoidTolls: true
        }, function(response, status) {
          if (status === 'OK') {
            display.setDirections(response);
          } else {
            alert('Could not display directions due to: ' + status);
          }
        });
      }

      function computeTotalDistance(result) {
        var total = 0;
        var myroute = result.routes[0];
        for (var i = 0; i < myroute.legs.length; i++) {
          total += myroute.legs[i].distance.value;
        }
        total = total / 1000;
        document.getElementById('total').innerHTML = total + ' km';
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADVeyqQ5rCX_7EUO9uz_AV-0Y3OxuUBFk&callback=initMap">
    </script>

    <script type="text/javascript">
    


    </script> -->




    <script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=geometry&key=AIzaSyADVeyqQ5rCX_7EUO9uz_AV-0Y3OxuUBFk"></script>


<script>
// 32.715738, -117.1610838
// 40.7127837, -74.0059413
var mylatitude = 40.7127837;
var mylongitude = -74.0059413;


var driverCustomerLocationData = $("#driverCustomerLocationData").val();

          //console.log(JSON.parse(driverLocationData));
    var driverCustomerLocationDataObj = JSON.parse(driverCustomerLocationData);

    var driverLatLongObj = $("#driverLatLongObj").val();
    var driverLatLongObj = JSON.parse(driverLatLongObj);

function GoogleMap_selected() {

  var lattitude_value = document.getElementById('slectedLat').value;
  var longitude_value = document.getElementById('slectedLon').value;

   var driverLat = parseFloat(driverLatLongObj.driverLatitude);
       var driverLong = parseFloat(driverLatLongObj.driverLongitude);
       var custLat =parseFloat(driverCustomerLocationDataObj.latitude);
       var custLong =parseFloat(driverCustomerLocationDataObj.longitude);

  var from = new google.maps.LatLng(driverLat, driverLong);
  var to = new google.maps.LatLng(custLat, custLong);

  var directionsService = new google.maps.DirectionsService();
  var directionsRequest = {
    origin: from,
    destination: to,
    travelMode: google.maps.DirectionsTravelMode.DRIVING,
    unitSystem: google.maps.UnitSystem.METRIC
  };

  this.initialize = function() {
    var map = showMap_selected();

    directionsService.route(
      directionsRequest,

      function(response, status) {

        if (status == google.maps.DirectionsStatus.OK) {
          new google.maps.DirectionsRenderer({
            map: map,
            directions: response,
            suppressMarkers: true
          });
          var leg = response.routes[0].legs[0];
          makeMarker(leg.start_location, icons.start, "title", map);
          makeMarker(leg.end_location, icons.end, 'title', map);

        } else {
          alert("Unable to retrive route");
        }

      });

  }

  function makeMarker(position, icon, title, map) {
    new google.maps.Marker({
      position: position,
      map: map,
      icon: icon,
      title: 'Driver'
    });
  }
var image = '/img/assign.png';
  var icons = {
    start: new google.maps.MarkerImage(
      // URL
      '/img/assign.png',
      // (width,height)
      new google.maps.Size(64, 52),
      // The origin point (x,y)
      new google.maps.Point(0, 0),
      // The anchor point (x,y)
      new google.maps.Point(22, 32)),
    end: new google.maps.MarkerImage(
      // URL
      '/img/customerPoint.png',
      // (width,height)
      new google.maps.Size(64, 52),
      // The origin point (x,y)
      new google.maps.Point(0, 0),
      // The anchor point (x,y)
      new google.maps.Point(22, 32))
  };


  var showMap_selected = function() {
    var mapOptions = {
      zoom: 12,
      center: new google.maps.LatLng(18.5018, 73.8636),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    console.log(mapOptions);
    var map = new google.maps.Map(document.getElementById("selected_map_canvas"), mapOptions);
    return map;
  };
}

function initialize() {
  var instance = new GoogleMap_selected();
  instance.initialize();
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
