<!DOCTYPE html>
<html lang="en">

    <head>
          <% include ../partials/admin_header.ejs %>
    </head>

    <body>

        <!-- Aside Start-->
          <% include ../partials/left_sidebar.ejs %>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">

            <!-- Header -->
            <% include ../partials/header_menu.ejs %>

            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h4 class="title">Drivers Locations</h4>
                </div>
                <div class="panel panel-color panel-primary">
                <!-- change code dsp-->

                <div class="row">
                  
                  <div class="col-md-6">
                        <div class="form-group ">
                            <label class="col-sm-3 control-label text-left" for="userName1">Driver <span style="color: #FF5733">*</span></label>
                            <div class="col-sm-9">
                                <select name="driverId" id="driverId" required="" class="form-control selectpicker" data-live-search="true" onchange="getPartnerWiDriverseDriverLocation(this)">
                                    <option value="all">Select All Driver</option>
                                    <% for(var i=0;i<driverDataOptionArr.length;i++){ 

                                  var selected = ( driverIdOption==driverDataOptionArr[i].driverId ) ? "selected" : "";
    

                                    %>

                                     <option value="<%= driverDataOptionArr[i].driverId %>" <%=selected %>><%= driverDataOptionArr[i].driverName %> - (<%= driverDataOptionArr[i].driverEmail %>)</option>
                                    
                                    <% } %>
                                </select>
                            </div>
                        </div> 
                      </div>
                </div><br></br>
                <div class="row">
                <div id="map" style="width: 100%; height: 600px;"></div>
              </div>
                <input type="hidden" name="driverLocationData" id="driverLocationData" value="<%= driverLocationData %>">

                <!-- change code dsp -->


            </div>
          </div>


            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2018 © Pooplogg.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->


                  <% include ../partials/admin_footer.ejs %>

        <script src="http://maps.google.com/maps/api/js?key=AIzaSyADVeyqQ5rCX_7EUO9uz_AV-0Y3OxuUBFk&sensor=false" 
          type="text/javascript"></script>
        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
            });
        </script>

        <script type="text/javascript">


              // navigator.geolocation.getCurrentPosition(function (p) {

              //   var LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
                
              //   var centerLat = p.coords.latitude;
              //   var centerLong = p.coords.longitude;
                
              //   if(centerLat){
              //     var centerLat = p.coords.latitude;
              //   }else{
              //     var centerLat ='18.5154715';
              //   }

              //   if(centerLong){
              //     var centerLong = p.coords.longitude;
              //   }else{
              //     var centerLong ='73.8343709';
              //   }

                var centerLat ='18.5154715';
                var centerLong ='73.8343709';

          var driverLocationData = $("#driverLocationData").val();

          var driverLocationDataArr = [];
          if(driverLocationData){
            var driverLocationDataArr = JSON.parse(driverLocationData);
          }
          

          console.log(driverLocationDataArr);

          console.log("driverLocationDataArr");
          
           var locations = [];
          for(var i=0;i<driverLocationDataArr.length;i++){
            var locationArr = [];

            if(driverLocationDataArr.length){
              centerLat = driverLocationDataArr[0].latitude;
              centerLong = driverLocationDataArr[0].longitude;
            }

            locationArr.push(driverLocationDataArr[i].driverId,driverLocationDataArr[i].driverId,driverLocationDataArr[i].location,driverLocationDataArr[i].latitude,driverLocationDataArr[i].longitude,driverLocationDataArr[i].isAssign,driverLocationDataArr[i].driverName,driverLocationDataArr[i].vehicleNumber,driverLocationDataArr[i].driverMobile,driverLocationDataArr[i].onDuty);

            

            locations.push(locationArr);


          }

//var locations = 

console.log(locations);
          

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 20,
          //center: new google.maps.LatLng(18.5154715, 73.8343709),
          center: new google.maps.LatLng(centerLat, centerLong),

          //18.5140097793657
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

          

var myImageArray = ['/img/green.png','/img/purple.png', '/img/yellow.png', '/img/red.png', '/img/light-blue.png', '/img/orange.png', '/img/brown.png'];    
        for (i = 0; i < locations.length; i++) {  

          
          if(locations[i][5]==''){


            //image = '/img/notAssign.png';
          }
          var image ='';
          if(locations[i][9]==1 || locations[i][9]=="1"){

          var image = myImageArray[Math.floor(Math.random() * myImageArray.length)];
          
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][3], locations[i][4]),
            map: map,
            icon: image

          });

          google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
            return function() {

             
              infowindow.setContent('Name : '+locations[i][6]+'</br> Location :'+locations[i][2]+'</br>Vehicle Number : '+locations[i][7]+'</br>Mobile : '+locations[i][8]);
              infowindow.open(map, marker);
            }
          })(marker, i));
        


        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {

              console.log(locations[i][0]);

              var driverId = locations[i][0];

              var lat = locations[i][3];
               var long = locations[i][4];

              locations[i][3], locations[i][4]

        if(locations[i][5]==''){
             // window.location = "/driverLocation/driverCustomerRoute/"+driverId;
            }else{

              //window.location = "/driverLocation/driverCustomerRoute/"+driverId;

            }

             // infowindow.setContent(locations[i][0]);
             // infowindow.open(map, marker);
            }
          })(marker, i));

          }//if off duty
        }

      //});


        function getPartnerWiDriverseDriverLocation(driverId){
          var driverId = driverId.value;
          if(driverId=='all'){
             window.location = "/driverLocation";
          }else{
             window.location = "/getdriverLocation/"+driverId;
          }
         

        }
        
      </script>


    </body>

<!-- Mirrored from coderthemes.com/velonic_wb_3/admin/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 May 2017 06:42:59 GMT -->
</html>
