<html class=""><head>

<button onclick="sendData()">Send</button>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        var socket = io();
                   
        socket.on('connectToRoom',function(data){
            
        });

     function sendData(){
          socket.emit('clientMessage', {
            email:"patil.dilipmg@gmail.com",
            plateNumber:"MH001",
            currentLat:"00001",
            currentLong:"0002",
            lastLat:"10001",
            lastLong:"10002"
          });
        }

        socket.on('serverMessage', function(data){
          console.log("serverMessage");
          console.log(data);
        });



       
        
    </script>
    
  </body>
</html>